<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:text="|${game.name} - #{application_name}|"></title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta charset="UTF-8" />

		<meta name="_csrf" th:content="${_csrf.token}" />
		<meta name="_csrf_header" th:content="${_csrf.headerName}" />

		<link rel="stylesheet" href="../dist/ingame.bundled.css" th:href="@{'/dist/ingame.bundled.css?' + ${@frontendResourcesService.getStartupTime()}}" />

		<link rel="stylesheet" href="../dist/light_mode.css" th:href="@{'/dist/' + ${@themeService.getTheme()} + '.css?' + ${@frontendResourcesService.getStartupTime()}}" />
	</head>
	<body th:class="${@themeService.getTheme()}">
		<audio
			id="sound-establishing-battlefield-control"
			th:src="@{/sound/establishing-battlefield-control.mp3}"
			th:if="${@themeService.getTheme().equals('space_mode')}"
		></audio>
		<audio id="sound-button-click" th:src="@{/sound/button-click.mp3}" th:if="${@themeService.getTheme().equals('space_mode')}"></audio>

		<input type="hidden" id="enable-server-side-events" th:value="${@configProperties.isServerSideEventsEnabled()}">

		<div th:if="${!game.finished}">
			<input type="hidden" id="skr-ingame-show-overview-modal" th:value="${showOverviewModal}" />
			<input type="hidden" id="skr-ingame-init-x" th:value="${initX}" />
			<input type="hidden" id="skr-ingame-init-y" th:value="${initY}" />
			<input type="hidden" id="skr-ingame-init-planet-id" th:value="${initPlanetId}" />

			<input type="hidden" th:value="#{light_years}" id="skr-ingame-light-years-label" />
			<input type="hidden" th:value="${turnFinished}" id="skr-ingame-turn-done" />

			<input type="hidden" th:value="${ingameZoomLevel}" id="skr-galaxy-map-zoom-level" />

			<input type="hidden" th:value="#{empty_space}" id="skr-ship-courseselect-emptyspace-text" />

			<nav class="navbar navbar-fixed-top navbar-expand-md" id="header">
				<div class="btn-group">
					<a class="navbar-brand" flow="right" th:tooltip="#{back_to_dashboard}" id="skr-ingame-to-dashboard" th:href="${@dashboardUrlConstants.MY_GAMES_DEFAULT_SEARCH}">
						<img th:src="|/images/landingpage/logo_${@themeService.getTheme()}.png|" />
					</a>
					<span flow="right" th:tooltip="#{jump_to_other_games}">
						<skr-button
							th:if="${!turnInfos.isEmpty()}"
							type="button"
							id="skr-ingame-turn-infos-menu-toggle"
							class="btn btn-link dropdown-toggle dropdown-toggle-split"
							data-bs-toggle="dropdown"
							aria-haspopup="true"
							aria-expanded="false"
						>
							<span th:if=" ${unfinishedTurns > 0}" class="badge bg-info" th:text="${unfinishedTurns}">2 </span>
						</skr-button>
						<div class="dropdown-menu" th:if="${!turnInfos.isEmpty()}">
							<a
								th:class="|dropdown-item ${turnInfo.turnFinished ? 'disabled' : 'text-info'}|"
								th:href="|/ingame/game?id=${turnInfo.gameId}|"
								th:each="turnInfo : ${turnInfos}"
								th:text="${turnInfo.gameName}"
							>
								GameName
							</a>
						</div>
					</span>
				</div>

				<div class="d-md-none" id="skr-dashboard-notifications-wrapper-small" th:insert="~{dashboard/layout::notifications}"></div>

				<skr-button
					class="navbar-toggler"
					id="skr-ingame-navbar-toggle-button"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#skr-ingame-nav-bar"
					aria-controls="skr-ingame-nav-bar"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<i class="navbar-toggler-icon fa fa-bars"></i>
				</skr-button>

				<div class="navbar-collapse collapse dual-collapse2" id="skr-ingame-nav-bar">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a href="javascript:;" onclick="ingame.showOverview()" id="skr-ingame-overview-button" class="navbar-item" flow="down" th:tooltip="#{overview}">
								<i class="fa-fw fas fa-tablet-alt"></i>
								<span class="d-md-none d-xxl-inline" th:text="#{overview}">Overview</span>
							</a>
						</li>
						<li class="nav-item">
							<a
								href="javascript:;"
								onclick="ingame.openModal('colony-overview', window.coloniesTable)"
								id="skr-ingame-planets-button"
								class="navbar-item"
								flow="down"
								th:tooltip="|#{colonies}"
							>
								<i class="fa-fw fas fa-globe"></i>
								<span class="d-md-none d-xxl-inline" th:text="#{colonies}">Colonies</span>
							</a>
						</li>
						<li class="nav-item">
							<a
								href="javascript:;"
								onclick="ingame.openModal('starbase-overview', window.starbasesTable)"
								id="skr-ingame-starbases-button"
								class="navbar-item"
								flow="down"
								th:tooltip="#{starbases}"
							>
								<i class="fa-fw fas fa-project-diagram"></i>
								<span class="d-md-none d-xxl-inline" th:text="#{starbases}">Starbases</span>
							</a>
						</li>
						<li class="nav-item">
							<a
								href="javascript:;"
								onclick="ingame.openModal('ship-overview', window.shipsTable)"
								id="skr-ingame-ships-button"
								class="navbar-item"
								flow="down"
								th:tooltip="#{ships}"
							>
								<i class="fa-fw fas fa-space-shuttle"></i>
								<span class="d-md-none d-xxl-inline" th:text="#{ships}">Ships</span>
							</a>
						</li>
						<li class="nav-item">
							<a
								href="javascript:;"
								onclick="ingame.openModal('fleet-overview', window.fleetsTable)"
								id="skr-ingame-fleets-button"
								class="navbar-item"
								flow="down"
								th:tooltip="#{fleets}"
							>
								<i class="fa-fw fas fa-grip-vertical"></i>
								<span class="d-md-none d-xxl-inline" th:text="#{fleets}">Fleets</span>
							</a>
						</li>
						<li class="nav-item">
							<a href="/infos" target="_blank" id="skr-ingame-infos-button" class="navbar-item" flow="down" th:tooltip="#{infos}">
								<i class="fa-fw fas fa-info-circle"></i>
								<span class="d-md-none d-xxl-inline" th:text="#{infos}">Infos</span>
							</a>
						</li>
						<li class="nav-item" th:if="${@installationDetailsHelper.discordLinkIsPresent()}">
							<a
								th:href="${@installationDetailsHelper.getDiscordLink()}"
								id="skr-discord-link"
								target="_blank"
								class="navbar-item"
								flow="down"
								th:tooltip="#{join_discord_server}"
							>
								<i class="fa-fw fab fa-discord"></i>
								<span class="d-md-none d-xxl-inline">Discord</span>
							</a>
						</li>
						<li class="nav-item" th:if="${@configProperties.isFeedbackEnabled()}">
							<a
								class="navbar-item"
								href="javascript:;"
								flow="down"
								th:tooltip="#{give_feedback_or_report_bug}"
								data-bs-toggle="modal"
								data-bs-target="#skr-feedback-modal"
							>
								<i class="fa-fw fas fa-comment-dots"></i>
								<span class="d-md-none" th:text="#{give_feedback_or_report_bug}">Give feedback or report bug</span>
							</a>
						</li>
						<li class="nav-item" th:if="${@configProperties.isDebug()}">
							<a class="navbar-item" href="javascript:;" onclick="debug.addDebugResources()">
								<span>Resources</span>
							</a>
						</li>
						<li class="nav-item" th:if="${@configProperties.isDebug()}">
							<a class="navbar-item" href="javascript:;" onclick="debug.giveShipToEnemy()">
								<span>Ship to enemy</span>
							</a>
						</li>
						<li class="nav-item d-md-none">
							<a class="navbar-item" href="/user-settings">
								<i class="fa-fw fa fa-user"></i>
								<span th:text="#{account}">Account</span>
							</a>
						</li>
						<li class="nav-item d-md-none">
							<div class="form-check nav-link">
								<select class="form-select form-select-sm" onchange="themes.changeTheme(this.value)" onclick="event.stopPropagation()">
									<option value="light_mode" th:text="#{light_mode}" th:selected="${@themeService.getTheme().equals('light_mode')}"></option>
									<option value="dark_mode" th:text="#{dark_mode}" th:selected="${@themeService.getTheme().equals('dark_mode')}"></option>
									<option value="space_mode" th:text="#{space_mode}" th:selected="${@themeService.getTheme().equals('space_mode')}"></option>
								</select>
							</div>
						</li>
						<li class="nav-item d-md-none">
							<a class="navbar-item" href="/user-statistics">
								<i class="fa-fw fas fa-list-ol"></i>
								<span th:text="#{statistics}">Statistics</span>
							</a>
						</li>
						<li class="nav-item d-md-none">
							<a class="navbar-item" href="/achievements">
								<i class="fa-fw fas fa-trophy"></i>
								<span th:text="#{achievements}">Achievements</span>
							</a>
						</li>
						<li class="nav-item d-md-none">
							<a class="navbar-item" href="javascript:;" onclick="window.logout()">
								<i class="fa-fw fa fa-power-off"></i>
								<span th:text="#{logout}">Logout</span>
							</a>
						</li>
					</ul>
					<ul class="navbar-nav ms-auto">
						<div class="btn-group me-4" id="skr-ingame-story-mode-dropdown-button" th:if="${game.storyModeCampaign != null}">
							<skr-button type="button" class="btn btn-success">
								<i class="fas fa-book"></i>
								<span class="d-md-none d-lg-inline" th:text="#{mission_details}">Mission details</span>
							</skr-button>
							<skr-button
								type="button"
								class="btn btn-success dropdown-toggle dropdown-toggle-split"
								data-bs-toggle="dropdown"
								aria-haspopup="true"
								aria-expanded="false"
							></skr-button>
							<div class="dropdown-menu dropdown-menu-lg-end" id="skr-mission-objective-dropdown">
								<div class="skr-story-mode-message-popup-scoll-container">
									<div class="p-3 skr-story-mode-message-popup-scoll-content">
										<h5 th:text="|#{current_objective}:|">Current objective:</h5>
										<div
											class="mb-3"
											th:text="#{${game.storyModeCampaign.faction.id} + '_' + ${game.storyModeMission} + '_' + ${game.storyModeMissionStep} + '_mission_objective'}"
										></div>
										<div th:utext="#{${game.storyModeCampaign.faction.id} + '_' + ${game.storyModeMission} + '_' + ${game.storyModeMissionStep} + '_mission_text'}">
											Mission objective text
										</div>
									</div>
								</div>
								<hr class="mt-1 mb-2" />
								<a class="dropdown-item" href="javascript:;" data-bs-toggle="modal" data-bs-target="#skr-ingame-restart-mission-modal">
									<span th:text="#{restart_mission}">Restart mission</span>
								</a>
							</div>
						</div>

						<skr-button
							type="button"
							th:if="!${turnFinished}"
							onclick="ingame.finishTurn()"
							class="btn btn-primary"
							id="skr-ingame-finish-turn-button"
							th:tooltip="#{finish_turn}"
							flow="down"
						>
							<i class="fa-fw fa fa-arrow-right"></i>
							<span class="d-md-none d-xl-inline" th:text="#{finish_turn}">Finish turn</span>
						</skr-button>

						<skr-button type="button" th:style="!${turnFinished} ? 'display: none;' : ''" disabled class="btn btn-success disabled" id="skr-ingame-turn-finished-button">
							<i class="fa-fw fa fa-check-double"></i>
							<span class="d-none d-xl-inline" th:text="#{turn_finished}">Turn finished</span>
						</skr-button>

						<li id="skr-sound-toggle" class="nav-item d-none d-sm-none d-md-block">
							<skr-button class="btn btn-link pt-2" type="button">
								<i class="fas"></i>
							</skr-button>
						</li>
						<li class="nav-item d-none d-sm-none d-md-block" id="skr-dashboard-notifications-wrapper-big" th:insert="~{dashboard/layout::notifications}"></li>

						<li class="nav-item d-none d-sm-none d-md-block">
							<div class="dropdown">
								<skr-button
									class="btn btn-secondary dropdown-toggle"
									type="button"
									id="skr-ingame-user-menu-button"
									data-bs-toggle="dropdown"
									aria-haspopup="true"
									aria-expanded="false"
								>
									<i class="fas fa-user"></i>
								</skr-button>
								<div class="dropdown-menu" id="skr-ingame-user-dropdown-menu" aria-labelledby="skr-ingame-user-menu-button">
									<a class="dropdown-item" href="/user-settings">
										<i class="fa-fw fa fa-user"></i>
										<span th:text="#{account}">Account</span>
									</a>
									<div class="form-check nav-link" id="skr-ingame-darkmode-switch">
										<select class="form-select form-select-sm" onchange="themes.changeTheme(this.value)" onclick="event.stopPropagation()">
											<option value="light_mode" th:text="#{light_mode}" th:selected="${@themeService.getTheme().equals('light_mode')}"></option>
											<option value="dark_mode" th:text="#{dark_mode}" th:selected="${@themeService.getTheme().equals('dark_mode')}"></option>
											<option value="space_mode" th:text="#{space_mode}" th:selected="${@themeService.getTheme().equals('space_mode')}"></option>
										</select>
									</div>
									<a class="dropdown-item" href="/user-statistics">
										<i class="fa-fw fas fa-list-ol"></i>
										<span th:text="#{statistics}">Statistics</span>
									</a>
									<a class="dropdown-item" href="/achievements">
										<i class="fa-fw fas fa-trophy"></i>
										<span th:text="#{achievements}">Achievements</span>
									</a>
									<a class="dropdown-item" th:if="${@dashboardLayoutService.isGuest()}" href="/register">
										<i class="fa-fw fa fa-check"></i>
										<span th:text="#{convert_guest_account}">Convert guest account</span>
									</a>
									<a class="dropdown-item" href="javascript:;" onclick="window.logout()" id="skr-ingame-logout-button">
										<i class="fa-fw fa fa-power-off"></i>
										<span th:text="#{logout}">Logout</span>
									</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</nav>
			<section class="section">
				<div th:replace="~{dashboard/browser-warning::content}"></div>
				<div id="skr-ingame-overview-modal-wrapper"></div>

				<div class="modal" id="skr-ingame-colony-overview-modal" tabindex="-1" role="dialog"></div>
				<div class="modal" id="skr-ingame-starbase-overview-modal" tabindex="-1" role="dialog"></div>
				<div class="modal" id="skr-ingame-ship-overview-modal" tabindex="-1" role="dialog"></div>
				<div class="modal" id="skr-ingame-fleet-overview-modal" tabindex="-1" role="dialog"></div>

				<div id="skr-ingame-round-calculation-modal-wrapper">
					<div class="modal" id="skr-ingame-round-calculation-modal" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
						<div class="modal-dialog modal-lg" role="document">
							<div class="modal-content" id="skr-ingame-round-calculation-modal-content">
								<div class="modal-header">
									<div class="text-center w-100" th:text="#{calculating_round}">Calculating round</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div id="skr-ingame-restarting-mission-modal-wrapper">
					<div class="modal" id="skr-ingame-restarting-mission-modal" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
						<div class="modal-dialog modal-lg" role="document">
							<div class="modal-content" id="skr-ingame-restarting-mission-modal-content">
								<div class="modal-header">
									<div class="text-center w-100" th:text="#{restarting_mission}">Restarting mission...</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div id="skr-ingame-loading-next-mission-modal-wrapper">
					<div class="modal" id="skr-ingame-loading-next-mission-modal" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
						<div class="modal-dialog modal-lg" role="document">
							<div class="modal-content" id="skr-ingame-loading-next-mission-modal-content">
								<div class="modal-header">
									<div class="text-center w-100" th:text="#{loading_next_mission}">Loading next mission...</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div id="skr-ingame-mission-success-modal-wrapper" th:if="${game.storyModeCampaign != null}">
					<div class="modal" id="skr-ingame-mission-success-modal" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
						<div class="modal-dialog modal-lg" role="document">
							<div class="modal-content" id="skr-ingame-mission-success-modal-content">
								<th:block th:fragment="skr-ingame-mission-success-modal-content">
									<div class="modal-header">
										<div class="text-center w-100" th:text="#{mission_successfull}">Mission successfull!</div>
									</div>
									<div class="row">
										<div class="col-12 text-center">
											<div class="p-4" th:utext="#{${game.storyModeCampaign.faction.id} + '_' + ${game.storyModeMission} + '_mission_success_text'}">
												Mission successfull description
											</div>
										</div>
									</div>
								</th:block>
								<div class="modal-footer">
									<skr-button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="storyMode.loadNextMission()" th:text="#{continue}">
										Continue
									</skr-button>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div id="skr-ingame-mission-success-all-done-modal-wrapper" th:if="${game.storyModeCampaign != null}">
					<div class="modal" id="skr-ingame-mission-success-all-done-modal" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
						<div class="modal-dialog modal-lg" role="document">
							<div class="modal-content" id="skr-ingame-mission-success-all-done-modal-content">
								<div th:insert="~{::skr-ingame-mission-success-modal-content}"></div>
								<div class="modal-footer text-center">
									<div class="text-center w-100">
										<div th:text="#{all_missions_completed}">You have completed all missions of the story mode!</div>
										<a href="/story-mode" class="btn btn-link" th:text="#{back_to_overview}">Back to overview</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div id="skr-ingame-mission-failed-modal-wrapper" th:if="${game.storyModeCampaign != null}">
					<div class="modal" id="skr-ingame-mission-failed-modal" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
						<div class="modal-dialog modal-lg" role="document">
							<div class="modal-content" id="skr-ingame-mission-failed-modal-content">
								<div class="modal-header">
									<div class="text-center w-100" th:text="#{mission_failed}">Mission failed!</div>
								</div>
								<div class="row">
									<div class="col-12 text-center">
										<div class="p-4" th:utext="#{${game.storyModeCampaign.faction.id} + '_' + ${game.storyModeMission} + '_mission_failed_text'}">
											Mission successfull description
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<skr-button
										type="button"
										class="btn btn-primary"
										data-bs-dismiss="modal"
										data-bs-toggle="modal"
										data-bs-target="#skr-ingame-restarting-mission-modal"
										onclick="storyMode.restartMission()"
										th:text="#{restart_mission}"
									>
										Restart mission
									</skr-button>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div id="skr-ingame-error-modal-wrapper">
					<div class="modal" id="skr-ingame-error-modal" tabindex="-1" role="dialog">
						<div class="modal-dialog modal-lg" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h3>An unknown error occured:</h3>
								</div>
								<div class="modal-body">
									<input type="text" disabled class="form-control text-center" id="skr-ingame-error-modal-error" />
									<textarea class="form-control" id="skr-ingame-error-modal-message" cols="30" rows="10"></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div id="skr-ingame-send-message-modal-wrapper">
					<div class="modal" id="skr-ingame-send-message-modal" tabindex="-1" role="dialog">
						<div class="modal-dialog modal-lg" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h3>
										<span th:text="|#{send_message_to}: |">Send message to:</span>
										<span id="skr-ingame-send-message-modal-player-name-title"></span>
									</h3>
									<input type="hidden" id="skr-ingame-send-message-recipient-id-input" />
								</div>
								<div class="modal-body">
									<input class="form-control" id="skr-ingame-send-message-modal-subject-input" maxlength="128" th:placeholder="#{subject}" />
									<textarea class="form-control" id="skr-ingame-send-message-modal-message-input" cols="30" rows="10" th:placeholder="#{message}"></textarea>
								</div>
								<div class="modal-footer">
									<skr-button type="button" class="btn btn-primary" th:text="#{cancel}" data-bs-dismiss="modal"> Cancel </skr-button>
									<skr-button type="button" class="btn btn-success" th:text="#{send}" onclick="ingame.sendMessage()"> Send </skr-button>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div id="skr-ingame-delete-fleet-modal-wrapper">
					<div class="modal" id="skr-ingame-delete-fleet-modal" tabindex="-1" role="dialog">
						<div class="modal-dialog modal-lg" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<div class="text-center w-100" th:text="#{really_delete_fleet}">Do you really want to delete this fleet?</div>
								</div>
								<div class="modal-footer">
									<skr-button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{cancel}"> Cancel </skr-button>
									<skr-button
										type="button"
										class="btn btn-danger"
										data-bs-dismiss="modal"
										id="skr-fleet-confirm-delete-button"
										onclick="fleetOptions.deleteFleet()"
										th:text="#{yes}"
									>
										Yes
									</skr-button>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div id="skr-ingame-restart-mission-modal-wrapper">
					<div class="modal" id="skr-ingame-restart-mission-modal" tabindex="-1" role="dialog">
						<div class="modal-dialog modal-lg" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<div class="text-center w-100" th:text="#{really_restart_mission}">
										Do you really want to restart this mission? All progress for this mission will be deleted!
									</div>
								</div>
								<div class="modal-footer">
									<skr-button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{cancel}"> Cancel </skr-button>
									<skr-button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="storyMode.restartMission()" th:text="#{yes}"> Yes </skr-button>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div id="skr-ingame-colonist-warning-modal-wrapper">
					<div class="modal" id="skr-ingame-colonist-warning-modal" tabindex="-1" role="dialog">
						<div class="modal-dialog modal-lg" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<div class="text-center w-100" th:text="#{really_remove_colonists}">
										You are about to remove all colonists from your own colony. This would mean the loss of this colony. Are you sure you want to continue?
									</div>
								</div>
								<div class="modal-footer">
									<skr-button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{cancel}"> Cancel </skr-button>
									<skr-button
										type="button"
										class="btn btn-danger"
										data-bs-dismiss="modal"
										id="skr-colonist-warning-confirm-button"
										onclick="window.shipTransporter.doTransport(window.shipTransporter.request)"
										th:text="#{yes}"
									>
										Yes
									</skr-button>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div id="skr-ingame-create-fleet-modal-wrapper">
					<div class="modal" id="skr-ingame-create-fleet-modal" tabindex="-1" role="dialog">
						<div class="modal-dialog modal-lg" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<div class="text-center w-100" th:text="#{create_new_fleet}"></div>
								</div>
								<div class="modal-body">
									<div class="d-inline-flex align-items-center">
										<div th:text="|#{name}:|">Name</div>
										<input type="text" class="ms-2 form-control" id="skr-ingame-new-fleet-name-input" />
									</div>
								</div>
								<div class="modal-footer">
									<skr-button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{cancel}"> Cancel </skr-button>
									<skr-button
										type="button"
										class="btn btn-success"
										data-bs-dismiss="modal"
										id="skr-ingame-create-fleet-modal-button"
										onclick="fleetDetails.saveNewFleet()"
										th:text="#{save}"
									>
										Save
									</skr-button>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div
					id="skr-ingame-tutorial-welcome-modal-wrapper"
					th:if="${game.storyModeCampaign != null && game.storyModeCampaign.faction.getId().equals('silverstarag') && game.storyModeMission == 1 && game.round == 1}"
				>
					<div class="modal" id="skr-ingame-tutorial-welcome-modal" tabindex="-1" role="dialog">
						<div class="modal-dialog modal-lg" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<div class="text-center w-100" th:text="#{tutorial_welcome_title}"></div>
								</div>
								<div class="modal-body">
									<span class="text-center w-100" th:text="#{tutorial_welcome_text_1}"></span>
									<i class="fa-fw fas fa-comment-dots"></i>
									<span class="text-center w-100" th:text="#{tutorial_welcome_text_2}"></span>
								</div>
								<div class="modal-footer">
									<skr-button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="skr-ingame-tutorial-welcome-modal-continue-button" th:text="#{continue}">
										Continue
									</skr-button>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div th:if="${@configProperties.isFeedbackEnabled()}" th:insert="~{dashboard/feedback-modal::modal}"></div>

				<input type="hidden" id="skr-game-playercolor" th:value="${playerColor}" />

				<div id="skr-game-selection-wrapper" class="collapsed">
					<div id="skr-game-selection"></div>
					<skr-button type="button" id="skr-ingame-footer-collapse-button" class="btn btn-secondary btn-sm text-start" onclick="ingame.toggleSidebar()">
						<i class="fa fa-angle-double-left" id="skr-ingame-footer-collapse-icon"></i>
						<i class="fa fa-angle-double-right" id="skr-ingame-footer-expand-icon" style="display: none"></i>
						<span th:text="#{collapse_sidebar}" id="skr-ingame-footer-collapse-text">Collapse sidebar</span>
					</skr-button>
				</div>

				<div id="skr-game-galaxy-wrapper">
					<div th:insert="~{ingame/galaxymap/galaxy-map::content}"></div>

					<footer id="footer">
						<span>X: </span>
						<span id="footer-coordinate-x">-</span>
						<span>Y: </span>
						<span id="footer-coordinate-y">-</span>

						<span th:tooltip="#{zoom_in}" id="skr-ingame-zoom-in-button-wrapper">
							<i class="fas fa-search-plus ms-4 skr-footer-icon" id="skr-ingame-zoom-in-button" onclick="ingame.zoomIn()"></i>
						</span>

						<span th:tooltip="#{reset_zoom}" id="skr-ingame-reset-zoom-button-wrapper">
							<i class="fas fa-search skr-footer-icon ms-3 me-3" id="skr-ingame-reset-zoom-button" onclick="ingame.resetZoom()"></i>
						</span>

						<span th:tooltip="#{zoom_out}" id="skr-ingame-zoom-out-button-wrapper">
							<i class="fas fa-search-minus skr-footer-icon" id="skr-ingame-zoom-out-button" onclick="ingame.zoomOut()"></i>
						</span>

						<div id="skr-ingame-control-groups-panel">
							<div class="ms-5 me-1 d-none d-xl-inline" th:text="#{control_groups}">Control groups</div>
							<div
								class="me-3"
								th:insert="~{ingame/help::content}"
								th:with="id='control-groups',title=#{control_groups},fragment='simple',content=#{help_control_groups}"
							></div>

							<div id="skr-ingame-control-groups-icons-panel-wrapper">
								<div th:fragment="control-groups-panel" id="skr-ingame-control-groups-icons-panel">
									<div
										th:each="controlGroup : ${controlGroups}"
										th:id="|skr-ingame-control-group-${controlGroup.hotkey}|"
										th:data1="${controlGroup.type}"
										th:data2="${controlGroup.entityId}"
										th:data3="${controlGroup.hotkey}"
										th:tooltip="${controlGroup.hotkey} + ': ' + (${controlGroup.entityName != null} ? ${controlGroup.entityName} : #{click_to_add_current_selection_to_control_group})"
										onclick="window.controlGroups.triggerControlGroup(event.target)"
										th:oncontextmenu="|window.controlGroups.assignCurrentSelectionToControlGroup(${controlGroup.hotkey})|"
									>
										<i class="fa-fw" th:classappend="${controlGroup.retrieveIcon()}"></i>
									</div>
								</div>
							</div>
						</div>

						<div id="skr-ingame-measure-distance-panel" class="ms-5">
							<span class="form-check" th:tooltip="#{measure_distance}" id="skr-ingame-measure-distance-form">
								<input
									type="checkbox"
									class="form-check-input"
									id="skr-ingame-measure-distance-checkbox"
									onclick="window.distanceMeasurement.toggleDistanceMeasurement()"
								/>
								<label
									for="skr-ingame-measure-distance-checkbox"
									id="skr-ingame-measure-distance-label"
									class="form-check-label d-none d-xl-inline"
									th:text="#{measure_distance}"
								>
									Measure distance
								</label>
							</span>

							<div
								class="me-3"
								th:insert="~{ingame/help::content}"
								th:with="id='distance-measure-tool',title=#{measure_distance},fragment='simple',content=#{help_measure_distance}"
							></div>

							<span id="skr-ingame-measured-distance-label"></span>
							<span>&nbsp;</span>

							<span id="skr-ingame-clear-measured-distance-button-wrapper" th:tooltip="#{clear_measured_distance}">
								<i
									class="fas fa-minus-circle ms-2 skr-footer-icon text-danger"
									id="skr-ingame-clear-measured-distance-button"
									style="display: none"
									onclick="window.distanceMeasurement.clear()"
								></i>
							</span>
						</div>
					</footer>
				</div>
			</section>
		</div>

		<script type="text/javascript" src="../dist/ingame.bundled.js" th:src="@{'/dist/ingame.bundled.js?' + ${@frontendResourcesService.getStartupTime()}}"></script>
		<script type="text/javascript" src="../dist/browser_warning.js" th:src="@{'/dist/browser_warning.js?' + ${@frontendResourcesService.getStartupTime()}}"></script>
	</body>
</html>
