<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="success">
			<div class="skr-game-selection-message" id="skr-ingame-logbook-success" th:text="#{logbook_saved}">Logbook successfully saved!</div>
		</div>
		<div th:fragment="content">
			<div class="row" id="skr-game-logbook-content">
				<div class="col-12 mb-3">
					<h5>
						<span class="normal" th:text="#{log_book}">Logbook</span>
					</h5>

					<textarea class="form-control" id="skr-ingame-logbook-input" th:text="${logbook}" rows="2"></textarea>
					<skr-button type="button" class="btn btn-primary mt-2" onclick="logbook.saveLogbook()" th:text="#{save}"> Save </skr-button>
				</div>
			</div>
		</div>
	</body>
</html>
