<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<select
			th:fragment="yes-no-select(id, name)"
			class="form-select"
			th:data1="${id}"
			onchange="window.ingame.activeOverviewModal.updateParam(event, this.getAttribute('data1'))"
		>
			<option th:text="|-- ${name} --|" th:value="''"></option>
			<option th:text="#{yes}" value="true">Yes</option>
			<option th:text="#{no}" value="false">No</option>
		</select>

		<input
			th:fragment="text-input(id, placeholder)"
			type="text"
			class="form-control"
			th:data1="${id}"
			th:placeholder="${placeholder}"
			onkeydown="window.ingame.activeOverviewModal.updateTextInputParam(event, this.getAttribute('data1'))"
		/>

		<div th:fragment="column-header(size, id, name, icon, textEnd)" th:class="${size}" th:classappend="${textEnd} ? 'text-end' : ''">
			<label th:if="${id == null}" class="text-bold" th:text="${name}">Label</label>

			<span th:if="${id != null}">
				<a
					href="javascript:;"
					th:data1="${id}"
					th:tooltip="${icon != null} ? ${name} : ''"
					onclick="window.ingame.activeOverviewModal.onClickTableHeader(this.getAttribute('data1'))"
				>
					<i th:id="|skr-col-header-sort-ascending-${id}|" class="fa-fw fas fa-caret-up" style="display: none"></i>
					<i th:id="|skr-col-header-sort-descending-${id}|" class="fa-fw fas fa-caret-down" style="display: none"></i>

					<span th:if="${icon == null}" th:text="${name}"></span>

					<i th:if="${icon != null}" th:class="|fa-fw ${icon}|"></i>
					<i th:if="${id != null}" th:id="|icon-${name}|"></i>
				</a>
			</span>
		</div>

		<div
			th:fragment="overview-modal(title, id, searchParamTemplate, tableHeaderTemplate, tableRowTemplate, pageResults, sortItems)"
			class="modal-dialog modal-xl"
			role="document"
		>
			<div class="modal-content small">
				<div class="modal-header">
					<h3 th:text="${title}">Modal title</h3>
					<skr-button type="button" class="btn-close" th:id="|skr-close-${id}-button|" data-bs-dismiss="modal" aria-label="Close"></skr-button>
				</div>

				<div class="modal-body">
					<div class="row pt-1">
						<div class="col-sm-10 col-md-9">
							<div class="row skr-table-search" th:insert="~{__${searchParamTemplate}__}"></div>
						</div>
						<div class="col-sm-2 col-md-3 text-end skr-table-search-buttons">
							<skr-button type="button" class="btn btn-primary" th:tooltip="#{search}" onclick="window.ingame.activeOverviewModal.updateTableContent()">
								<i class="fas fa-search"></i>
							</skr-button>
							<skr-button type="button" class="btn btn-danger" th:tooltip="#{reset}" onclick="window.ingame.activeOverviewModal.reset()">
								<i class="fas fa-minus-circle"></i>
							</skr-button>
						</div>

						<div class="col-md-12 d-lg-none pb-3">
							<select class="form-select" onchange="window.ingame.activeOverviewModal.onSelectSortItem(event)">
								<option
									th:each="sortItem : ${sortItems}"
									th:value="|${sortItem.sortField.name()}-${sortItem.ascending}|"
									th:text="#{${sortItem.sortField.i18nKey}} + ' (' + (${sortItem.ascending} ? #{sort_ascending} : #{sort_descending}) + ')'"
								>
									Name (ascending order)
								</option>
							</select>
						</div>
					</div>

					<div class="skr-table container">
						<div class="row skr-table-header d-none d-lg-flex" th:insert="~{__${tableHeaderTemplate}__}"></div>

						<div th:fragment="table-content(id, tableRowTemplate, pageResults)" th:id="|skr-ingame-${id}-table-content|">
							<div class="row" th:if="${pageResults.getTotalPages() == 0}">
								<h6 class="col-12 text-center mt-2" th:text="#{no_results}">No results</h6>
							</div>

							<div
								class="row skr-table-row cursor-pointer"
								data-bs-dismiss="modal"
								th:each="resultItem : ${pageResults}"
								th:id="${resultItem.id}"
								th:data1="${resultItem.id}"
								onclick="window.ingame.activeOverviewModal.onClickTableRow(this.getAttribute('data1'))"
								th:insert="~{__${tableRowTemplate}__}"
							></div>

							<nav class="mt-3" th:if="${pageResults.getTotalPages() > 0}">
								<input type="hidden" th:id="|${id}-pagination-max-page|" th:value="${pageResults.getTotalPages()}" />

								<ul class="pagination justify-content-center">
									<li class="page-item pagination-prev">
										<a class="page-link" href="javascript:;" onclick="window.ingame.activeOverviewModal.onClickPreviousPage()">
											<span aria-hidden="true">&laquo;</span>
										</a>
									</li>

									<li
										th:class="|page-item ${pageResults.getPageable().getPageNumber() == page -1 ? 'active' : ''}|"
										th:each="page : ${#numbers.sequence(1, pageResults.getTotalPages())}"
									>
										<a
											class="page-link pagination-number"
											href="javascript:;"
											th:text="${page}"
											th:data1="${page - 1}"
											onclick="window.ingame.activeOverviewModal.onClickPage(this.getAttribute('data1'))"
										>
											1
										</a>
									</li>

									<li class="page-item pagination-next">
										<a class="page-link" href="javascript:;" onclick="window.ingame.activeOverviewModal.onClickNextPage()">
											<span aria-hidden="true">&raquo;</span>
										</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
