<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<th:block th:fragment="search-params">
			<div class="col-sm-6 col-lg-3">
				<th:block th:replace="~{ingame/overview-modal-fragments::text-input('name', #{name})}"></th:block>
			</div>
			<div class="col-sm-6 col-lg-3">
				<select class="form-select" id="templateId" onchange="window.ingame.activeOverviewModal.updateParam(event, 'templateId')">
					<option th:text="|-- #{class} --|" th:value="''"></option>
					<option th:each="template : ${shipTemplates}" th:text="${@masterDataService.getShipTemplateName(template)}" th:value="${template.id}">ShipTemplateName</option>
				</select>
			</div>
			<div class="col-sm-6 col-lg-3">
				<select class="form-select" id="fleetName" onchange="window.ingame.activeOverviewModal.updateParam(event, 'fleetName')">
					<option th:text="|-- #{fleet} --|" th:value="''"></option>
					<option th:each="fleet : ${fleets}" th:text="${fleet.name}" th:value="${fleet.name}">Fleet name</option>
				</select>
			</div>
			<div class="col-sm-6 col-lg-3">
				<th:block th:replace="~{ingame/overview-modal-fragments::yes-no-select('idle', #{idle})}"></th:block>
			</div>
		</th:block>

		<th:block th:fragment="table-header">
			<div class="col-8">
				<div class="row">
					<div th:replace="~{ingame/overview-modal-fragments::column-header('col-3', 'SHIP_OVERVIEW_NAME', #{name}, null, false)}"></div>
					<div th:replace="~{ingame/overview-modal-fragments::column-header('col-3', 'SHIP_OVERVIEW_TEMPLATE_NAME', #{class}, null, true)}"></div>
					<div th:replace="~{ingame/overview-modal-fragments::column-header('col-3', null, #{task}, null, true)}"></div>
					<div th:replace="~{ingame/overview-modal-fragments::column-header('col-3', 'SHIP_OVERVIEW_FLEET', #{fleet}, null, true)}"></div>
				</div>
			</div>
			<div class="col-4">
				<div class="row">
					<div th:replace="~{ingame/overview-modal-fragments::column-header('col-3', 'SHIP_OVERVIEW_FUEL_PERCENTAGE', #{fuel}, 'fas fa-circle', true)}"></div>
					<div th:replace="~{ingame/overview-modal-fragments::column-header('col-3', 'SHIP_OVERVIEW_CARGO_PERCENTAGE', #{storage}, 'fas fa-cube', true)}"></div>
					<div th:replace="~{ingame/overview-modal-fragments::column-header('col-3', 'SHIP_OVERVIEW_CREW_PERCENTAGE', #{crew}, null, true)}"></div>
					<div th:replace="~{ingame/overview-modal-fragments::column-header('col-3', 'SHIP_OVERVIEW_DAMAGE', #{hull}, null, true)}"></div>
				</div>
			</div>
		</th:block>

		<th:block th:fragment="table-row(resultItem)">
			<div class="col-lg-8">
				<div class="row" th:id="${resultItem.id}">
					<div class="col-6 col-sm-3 d-lg-none" th:text="|#{name}:|"></div>
					<div class="col-lg-3 d-none d-lg-flex" th:text="${resultItem.name}">Ship name</div>
					<div class="col-6 col-sm-3 d-lg-none text-end" th:text="${resultItem.name}">Ship name</div>
					<div class="col-6 col-sm-3 d-lg-none" th:text="|#{class}:|"></div>
					<div class="col-6 col-sm-3 text-end" th:text="${resultItem.templateName}">Template name</div>
					<div class="col-6 col-sm-3 d-lg-none" th:text="|#{task}:|"></div>
					<div class="col-6 col-sm-3 text-end" th:text="${@shipTaskString.retrieveTaskString(resultItem.id)}">Planet bombardement</div>
					<div class="col-6 col-sm-3 d-lg-none" th:text="|#{fleet}:|"></div>
					<div class="col-6 col-sm-3 text-end" th:text="${resultItem.fleet}">Fleet name</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="row" th:id="${resultItem.id}">
					<div class="col-6 col-sm-3 d-lg-none" th:text="|#{fuel}:|"></div>
					<div class="col-6 col-sm-3 text-end" th:text="|${resultItem.fuelPercentage}%|">50%</div>
					<div class="col-6 col-sm-3 d-lg-none" th:text="|#{storage}:|"></div>
					<div class="col-6 col-sm-3 text-end" th:text="|${resultItem.cargoPercentage}%|">20%</div>
					<div class="col-6 col-sm-3 d-lg-none" th:text="|#{crew}:|"></div>
					<div class="col-6 col-sm-3 text-end" th:text="|${resultItem.crewPercentage}%|">100%</div>
					<div class="col-6 col-sm-3 d-lg-none" th:text="|#{hull_state}:|"></div>
					<div class="col-6 col-sm-3 text-end" th:text="|${100 - resultItem.damage}%|">0%</div>
				</div>
			</div>
		</th:block>

		<div
			th:fragment="content"
			th:replace="~{ingame/overview-modal-fragments::overview-modal(#{ships}, 'ship-overview', 'ingame/ship-overview::search-params', 'ingame/ship-overview::table-header', 'ingame/ship-overview::table-row(${resultItem})', ${ships}, ${shipsOverviewSortFields})}"
		></div>

		<div
			th:fragment="table-content"
			th:replace="~{ingame/overview-modal-fragments::table-content('ship-overview', 'ingame/ship-overview::table-row(${resultItem})', ${ships})}"
		></div>
	</body>
</html>
