<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<th:block th:fragment="search-params">
			<div class="col-sm-6 col-lg-4">
				<th:block th:replace="~{ingame/overview-modal-fragments::text-input('name', #{name})}"></th:block>
			</div>
			<div class="col-sm-6 col-lg-4">
				<th:block th:replace="~{ingame/overview-modal-fragments::yes-no-select('fullyUpgraded', #{fully_upgraded})}"></th:block>
			</div>
			<div class="col-sm-6 col-lg-4">
				<th:block th:replace="~{ingame/overview-modal-fragments::yes-no-select('hasShipInProduction', #{has_ship_in_production})}"></th:block>
			</div>
		</th:block>

		<th:block th:fragment="table-header">
			<div th:replace="~{ingame/overview-modal-fragments::column-header('col-2', 'STARBASE_OVERVIEW_NAME', #{name}, null, false)}"></div>
			<div th:replace="~{ingame/overview-modal-fragments::column-header('col-3', 'STARBASE_OVERVIEW_HAS_SHIP_IN_PRODUCTION', #{has_ship_in_production}, null, true)}"></div>
			<div class="col-7">
				<div class="row g-0 text-end">
					<div th:replace="~{ingame/overview-modal-fragments::column-header('col-3', 'STARBASE_OVERVIEW_HULL_LEVEL', #{hull_level}, null, true)}"></div>
					<div th:replace="~{ingame/overview-modal-fragments::column-header('col-3', 'STARBASE_OVERVIEW_PROPULSION_LEVEL', #{propulsion_level}, null, true)}"></div>
					<div th:replace="~{ingame/overview-modal-fragments::column-header('col-3', 'STARBASE_OVERVIEW_ENERGY_LEVEL', #{energy_level}, null, true)}"></div>
					<div th:replace="~{ingame/overview-modal-fragments::column-header('col-3', 'STARBASE_OVERVIEW_PROJECTILE_LEVEL', #{projectile_level}, null, true)}"></div>
				</div>
			</div>
		</th:block>

		<th:block th:fragment="table-row(resultItem)">
			<div class="col-6 col-sm-3 d-lg-none" th:text="|#{name}:|">:</div>
			<div class="col-6 col-sm-3 d-lg-none text-end" th:text="${resultItem.name}">resultItemName</div>
			<div class="d-none d-lg-flex col-lg-2" th:text="${resultItem.name}">resultItemName</div>
			<div class="col-6 col-sm-4 d-lg-none" th:text="|#{has_ship_in_production}:|">:</div>
			<div class="col-6 col-sm-2 col-lg-3 text-end" th:text="${resultItem.hasShipInProduction} ? #{yes} : #{no}">Yes</div>
			<div class="col-lg-7" th:id="${resultItem.id}">
				<div class="row" th:id="${resultItem.id}">
					<div class="col-6 col-sm-3 d-lg-none" th:text="|#{hull_level}:|">:</div>
					<div class="col-6 col-sm-3 text-end" th:text="${resultItem.hullLevel}">6</div>
					<div class="col-6 col-sm-3 d-lg-none" th:text="|#{propulsion_level}:|">:</div>
					<div class="col-6 col-sm-3 text-end" th:text="${resultItem.propulsionLevel}">9</div>
					<div class="col-6 col-sm-3 d-lg-none" th:text="|#{energy_level}:|">:</div>
					<div class="col-6 col-sm-3 text-end" th:text="${resultItem.energyLevel}">6</div>
					<div class="col-6 col-sm-3 d-lg-none" th:text="|#{projectile_level}:|">:</div>
					<div class="col-6 col-sm-3 text-end" th:text="${resultItem.projectileLevel}">5</div>
				</div>
			</div>
		</th:block>

		<div
			th:fragment="content"
			th:replace="~{ingame/overview-modal-fragments::overview-modal(#{starbases}, 'starbase-overview', 'ingame/starbase-overview::search-params', 'ingame/starbase-overview::table-header', 'ingame/starbase-overview::table-row(${resultItem})', ${starbases}, ${starbasesOverviewSortFields})}"
		></div>

		<div
			th:fragment="table-content"
			th:replace="~{ingame/overview-modal-fragments::table-content('starbase-overview', 'ingame/starbase-overview::table-row(${resultItem})', ${starbases})}"
		></div>
	</body>
</html>
