<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="ship-routes">
			<div th:class="|skr-game-ship-route-wrapper-${route.id}|" th:each="route : ${ship.route}"></div>
			<input
				type="hidden"
				class="skr-game-ship-route-entry"
				th:each="route : ${ship.route}"
				th:id="|skr-game-ship-route-${route.id}|"
				th:value="|${route.planet.x}_${route.planet.y}|"
			/>
		</div>

		<div th:fragment="content">
			<div th:if="${game.storyModeCampaign != null && !game.storyModeMissionStepSeen}" id="skr-story-mode-message-popup">
				<div class="skr-story-mode-message-popup-scoll-container">
					<div class="p-3 skr-story-mode-message-popup-scoll-content">
						<h5 th:text="|#{current_objective}:|">Current objective:</h5>
						<div
							class="mb-3"
							th:text="#{${game.storyModeCampaign.faction.id} + '_' + ${game.storyModeMission} + '_' + ${game.storyModeMissionStep} + '_mission_objective'}"
						></div>
						<div th:utext="#{${game.storyModeCampaign.faction.id} + '_' + ${game.storyModeMission} + '_' + ${game.storyModeMissionStep} + '_mission_text'}">
							Mission step text
						</div>
					</div>
				</div>
				<div class="mt-2 w-100 text-end">
					<skr-button type="button" class="btn btn-secondary small" id="skr-ingame-story-mode-dismiss-step-button" onclick="storyMode.closeMissionText()">
						Ok
					</skr-button>
				</div>
			</div>

			<div
				id="skr-game-galaxy"
				th:style="${@galaxyHelper.getGalaxySizeStyle(game.galaxySize)}"
				onclick="window.contextMenuHandler.onLeftClickGalaxyMap(event)"
				onmousemove="window.ingame?.updateFooterCoordinates(event);window.distanceMeasurement?.onMouseMove(event);"
				oncontextmenu="window.contextMenuHandler.onRightClickGalaxyMap(event)"
			>
				<div id="skr-ingame-selection-ping-wrapper">
					<div id="skr-ingame-selection-ping"></div>
				</div>

				<div id="skr-ingame-distance-measurement-line-wrapper"></div>

				<img
					th:each="coord : ${visibilityCoordinates}"
					class="skr-ingame-visibility-background"
					th:style="${@galaxyHelper.getCoordinatesStyle(coord.x, coord.y, -125)}"
					th:src="|/images/space/${random.nextInt(10)}.gif|"
				/>

				<div th:each="sector : ${sectors}" class="skr-ingame-section-label" th:style="${sector.createLabelStyle()}" th:text="${sector.label}">A1</div>
				<div
					th:each="sector : ${sectors}"
					class="skr-ingame-section-coordinate-label"
					th:style="${sector.createCoordinateStyle()}"
					th:text="${sector.createCoordinateText()}"
					th:if="${sector.showCoordinateLabel()}"
				>
					1500
				</div>
				<div th:each="sector : ${sectors}" class="skr-ingame-section-line" th:style="${sector.createLineStyle()}"></div>

				<div
					th:if="${game.winCondition.name().equals('CONQUEST') && game.conquestType.name().equals('REGION')}"
					class="skr-ingame-conquest-region"
					th:style="${@galaxyHelper.getCoordinatesStyle((game.galaxySize / 2) - 62, (game.galaxySize / 2) - 62)}"
				></div>

				<div
					th:if="${game.winCondition.name().equals('CONQUEST')}"
					class="skr-ingame-conquest-gravity-wave-zone"
					th:style="${@galaxyHelper.getCoordinatesStyle((game.galaxySize / 2) - 175, (game.galaxySize / 2) - 175)}"
				></div>

				<div
					th:each="ship : ${singleShips}"
					th:style="${@galaxyHelper.getCoordinatesStyle(ship.x, ship.y)}"
					th:shipid="${ship.id}"
					th:id="${'skr-ingame-shipicon-' + ship.id}"
					onmouseenter="window.ingame.showGalaxyMapDetails('ship', this.getAttribute('shipid'))"
					onmouseleave="window.ingame.hideGalaxyMapDetails('ship', this.getAttribute('shipid'))"
					class="skr-game-ship-mouse skr-game-ship-mouse-space"
				>
					<div
						th:class="ship-in-space"
						th:classappend="${ship.player.id == playerId ? ' owned-ship': ''}"
						th:style="|border-color: #${ship.retrieveColor(playerId)}; background-color: #${ship.retrieveColor(playerId)}; ${ship.retrieveGalaxyMapSizeStyle()}|"
						th:clickData="${@clickDataService.createClickData(ship, playerId)}"
						oncontextmenu="window.contextMenuHandler.onRightClickShipInSpace(event, this.getAttribute('clickData'), false)"
						onclick="window.contextMenuHandler.onLeftClickShipInSpace(event, this.getAttribute('clickData'), false)"
					></div>
					<div
						class="skr-game-details-mouseover container skr-game-mouseover-ship"
						th:if="${ship.player.id == playerId || ship.scannedByPlayer || @configProperties.isDisablePermissionChecks()}"
						th:id="${'skr-ingame-ship-details-' + ship.id}"
					>
						<div th:insert="~{ingame/galaxymap/ship-mouseover::content}" th:with="ship=${ship}"></div>
					</div>
					<div
						class="skr-game-details-mouseover container skr-game-mouseover-ship-relation"
						th:if="${ship.retrieveRelationType(playerId, relations, colorToPlayerMap)}"
						th:id="${'skr-ingame-ship-details-' + ship.id}"
					>
						<div
							th:insert="~{ingame/galaxymap/ship-mouseover-relation::content}"
							th:with="icon=${ship.retrieveRelationType(playerId, relations, colorToPlayerMap).getIcon()}"
						></div>
					</div>
				</div>

				<div
					th:each="cluster : ${shipClusters}"
					th:style="${@galaxyHelper.getCoordinatesStyle(cluster.x, cluster.y)}"
					th:coordId="|${cluster.x}_${cluster.y}|"
					th:canBeScanned="${cluster.ships.get(0).scannedByPlayer}"
					class="ship skr-game-ship-cluster-mouse"
					th:clickData="${@clickDataService.createClickData(cluster, playerId)}"
					oncontextmenu="window.contextMenuHandler.onRightClickShipInSpace(event, this.getAttribute('clickData'), true)"
					onclick="window.contextMenuHandler.onLeftClickShipInSpace(event, this.getAttribute('clickData'), true)"
					onmouseenter="window.ingame.showGalaxyMapDetails('ships', this.getAttribute('coordId'))"
					onmouseleave="window.ingame.hideGalaxyMapDetails('ships', this.getAttribute('coordId'), true)"
				>
					<div
						class="ship-in-space"
						th:classappend="${cluster.ships.get(0).player.id == playerId} ? 'owned-ship': ''"
						th:style="|border-color: #${cluster.ships.get(0).retrieveColor(playerId)}; background-color: #${cluster.ships.get(0).retrieveColor(playerId)}; ${cluster.retrieveGalaxyMapSizeStyle()}|"
					></div>
					<div
						class="skr-game-details-mouseover container skr-game-mouseover-ships"
						th:if="${cluster.ships.get(0).player.id == playerId || cluster.ships.get(0).scannedByPlayer}"
						th:id="|skr-ingame-ships-details-${cluster.x}_${cluster.y}|"
					>
						<div
							th:insert="~{ingame/galaxymap/ships-mouseover::content}"
							th:with="ships=${cluster.ships},onlyScanned=${cluster.ships.get(0).player.id != playerId && cluster.ships.get(0).scannedByPlayer}"
						></div>
					</div>
					<div
						class="skr-game-details-mouseover container skr-game-mouseover-ship-relation"
						th:if="${cluster.ships.get(0).retrieveRelationType(playerId, relations, colorToPlayerMap)}"
						th:id="|skr-ingame-ships-details-${cluster.x}_${cluster.y}|"
					>
						<div
							th:insert="~{ingame/galaxymap/ship-mouseover-relation::content}"
							th:with="icon=${cluster.ships.get(0).retrieveRelationType(playerId, relations, colorToPlayerMap).getIcon()}"
						></div>
					</div>
				</div>

				<div th:each="ship : ${singleShips}" class="skr-ingame-ship-scan-circle" th:style="${@galaxyHelper.getCoordinatesStyle(ship.x, ship.y)}">
					<div class="skr-ingame-scan-circle-inner" th:style="${ship.retrieveScannerRadiusStyle()}"></div>
				</div>

				<div th:each="cluster : ${shipClusters}" class="skr-ingame-ship-scan-circle" th:style="${@galaxyHelper.getCoordinatesStyle(cluster.x, cluster.y)}">
					<div class="skr-ingame-scan-circle-inner" th:style="${cluster.retrieveScannerRadiusStyle()}"></div>
				</div>

				<div
					th:each="planet : ${planets}"
					class="skr-ingame-planet-scan-circle"
					th:if="${planet.playerId != null && planet.visibleByLongRangeScanners}"
					th:style="${@galaxyHelper.getCoordinatesStyle(planet.x, planet.y)}"
				>
					<div class="skr-ingame-scan-circle-inner" th:style="${planet.retrieveScannerRadiusStyle()}"></div>
				</div>

				<div th:each="ship : ${ships}" class="skr-game-ship" th:id="${'skr-game-ship-' + ship.id}">
					<input type="hidden" th:value="${ship.retrieveLastX()}" th:id="${'skr-game-ship-lastx-' + ship.id}" />
					<input type="hidden" th:value="${ship.retrieveLastY()}" th:id="${'skr-game-ship-lasty-' + ship.id}" />
					<input type="hidden" th:value="${ship.x}" th:id="${'skr-game-ship-x-' + ship.id}" />
					<input type="hidden" th:value="${ship.y}" th:id="${'skr-game-ship-y-' + ship.id}" />
					<input
						type="hidden"
						th:if="${ship.player.id == playerId || @configProperties.isDisablePermissionChecks()}"
						th:value="${ship.destinationX}"
						th:id="${'skr-game-ship-destinationx-' + ship.id}"
					/>
					<input
						type="hidden"
						th:if="${ship.player.id == playerId || @configProperties.isDisablePermissionChecks()}"
						th:value="${ship.destinationY}"
						th:id="${'skr-game-ship-destinationy-' + ship.id}"
					/>
					<div class="skr-game-ship-travel-line-wrapper"></div>
					<div class="skr-game-ship-destination-marker-wrapper"></div>
					<div class="skr-game-ship-origin-line-wrapper"></div>
					<div
						th:if="${ship.player.id == playerId || @configProperties.isDisablePermissionChecks()}"
						th:id="|skr-game-ship-route-container-${ship.id}|"
						th:insert="~{::ship-routes}"
						th:with="ship=${ship}"
					></div>
				</div>

				<div th:each="wormHole : ${wormHoles}" class="skr-game-wormhole" th:style="${@galaxyHelper.getCoordinatesStyle(wormHole.x, wormHole.y)}">
					<img
						th:src="|/images/anomalies/${wormHole.type.name()}.gif|"
						th:style="${wormHole.retrieveGalaxyMapStyle()}"
						th:class="${wormHole.visited} ? 'cursor-pointer' : ''"
						th:onmouseenter="${wormHole.visited && wormHole.connection != null} ? |window.ingame.showPingAtPosition(${wormHole.connection.x}, ${wormHole.connection.y})| : ''"
						th:onclick="${wormHole.visited && wormHole.connection != null} ? |window.ingame.focusWormhole(${wormHole.connection.x}, ${wormHole.connection.y})| : ''"
					/>
				</div>

				<div th:each="spaceFold : ${spaceFolds}" class="skr-game-spacefold" th:style="${@galaxyHelper.getCoordinatesStyle(spaceFold.x, spaceFold.y)}">
					<img th:src="|/images/anomalies/spaceFold.gif|" th:style="${spaceFold.retrieveGalaxyMapStyle()}" />
				</div>

				<div th:each="plasmaStorm : ${plasmaStorms}" class="skr-game-plasmastorm" th:style="${@galaxyHelper.getCoordinatesStyle(plasmaStorm.x, plasmaStorm.y)}">
					<img th:src="|/images/plasmastorms/${1 + random.nextInt(2)}.png|" />
				</div>

				<div th:each="mineField : ${mineFields}" class="skr-game-minefield" th:style="${mineField.retrieveGalaxyMapSizeStyle()}">
					<img th:src="|/images/minefields/${mineField.friendly ? 'friendly' : 'enemy'}.gif|" />
				</div>

				<div
					th:each="planet : ${planets}"
					class="skr-game-planet"
					th:id="|skr-galaxy-map-planet-${planet.id}|"
					th:style="${@galaxyHelper.getCoordinatesStyle(planet.x, planet.y)}"
					th:clickData="${@clickDataService.createClickData(planet, playerId)}"
					oncontextmenu="window.contextMenuHandler.onRightClickPlanet(event, this.getAttribute('clickData'))"
				>
					<img
						class="skr-game-planet-mouse"
						th:src="|/images/planets/galaxy/${planet.type}.gif|"
						th:clickData="${@clickDataService.createClickData(planet, playerId)}"
						th:planetId="${planet.id}"
						onclick="window.contextMenuHandler.onLeftClickPlanet(event, this.getAttribute('clickData'))"
						onmouseenter="window.ingame.showGalaxyMapDetails('planet', this.getAttribute('planetId'))"
						onmouseleave="window.ingame.hideGalaxyMapDetails('planet', this.getAttribute('planetId'))"
					/>
					<div
						th:if="${(planet.playerId != null && planet.playerId == playerId) || @configProperties.isDisablePermissionChecks()}"
						class="owned colonized skr-game-planet-mouse"
						th:style="${'border-color: #' + planet.playerColor + ';'}"
						th:clickData="${@clickDataService.createClickData(planet, playerId)}"
						th:planetId="${planet.id}"
						onclick="window.contextMenuHandler.onLeftClickPlanet(event, this.getAttribute('clickData'))"
						onmouseenter="window.ingame.showGalaxyMapDetails('planet', this.getAttribute('planetId'))"
						onmouseleave="window.ingame.hideGalaxyMapDetails('planet', this.getAttribute('planetId'))"
					></div>
					<div
						th:if="${planet.playerId != null && planet.playerId != playerId && planet.visibleByLongRangeScanners && !@configProperties.isDisablePermissionChecks()}"
						class="skr-game-planet-mouse colonized"
						th:style="${'border-color: #' + planet.playerColor + ';'}"
						th:clickData="${@clickDataService.createClickData(planet, playerId)}"
						th:planetId="${planet.id}"
						onclick="window.contextMenuHandler.onLeftClickPlanet(event, this.getAttribute('clickData'))"
						onmouseenter="window.ingame.showGalaxyMapDetails('planet', this.getAttribute('planetId'))"
						onmouseleave="window.ingame.hideGalaxyMapDetails('planet', this.getAttribute('planetId'))"
					></div>

					<div
						th:if="${planet.starbaseId != null && (planet.visibleByLongRangeScanners || planet.hadStarbase)}"
						th:style="${planet.visibleByLongRangeScanners} ? ${'border-color: #' + planet.playerColor + ';'} : ''"
						th:starbaseId="${planet.starbaseId}"
						th:id="${'skr-ingame-starbase-' + planet.starbaseId}"
						th:onclick="${(planet.playerId == playerId || @configProperties.isDisablePermissionChecks()) && game.starbaseSelectable()} ? |window.contextMenuHandler.onLeftClickStarbase(event, ${planet.starbaseId})| : ''"
						class="starbase skr-game-starbase-mouse"
						onmouseenter="window.ingame.showGalaxyMapDetails('starbase', this.getAttribute('starbaseId'))"
						onmouseleave="window.ingame.hideGalaxyMapDetails('starbase', this.getAttribute('starbaseId'))"
					></div>

					<div
						th:if="${planet.ownShips != null && planet.ownShips.size() == 1}"
						class="ship skr-game-ship-mouse skr-game-ship-mouse-planet"
						th:style="${'border-color: #' + planet.ownShips.get(0).retrieveColor(playerId) + ';'}"
						th:id="${'skr-ingame-ship-' + planet.ownShips.get(0).id}"
						th:shipId="${planet.ownShips.get(0).id}"
						th:clickData="${@clickDataService.createClickData(planet.ownShips.get(0), playerId)}"
						onclick="window.contextMenuHandler.onLeftClickShipOnPlanet(event, this.getAttribute('clickData'), false)"
						oncontextmenu="window.contextMenuHandler.onRightClickShipOnPlanet(event, this.getAttribute('clickData'))"
						onmouseenter="window.ingame.showGalaxyMapDetails('ship', this.getAttribute('shipId'))"
						onmouseleave="window.ingame.hideGalaxyMapDetails('ship', this.getAttribute('shipId'))"
					></div>
					<div
						th:if="${planet.ownShips != null && planet.ownShips.size() > 1}"
						class="ship ships-around-planet skr-game-ships-mouse"
						th:style="${'border-color: #' + planet.ownShips.get(0).retrieveColor(playerId) + ';'}"
						th:coordId="|${planet.x}_${planet.y}|"
						th:clickData="${@clickDataService.createClickData(planet.ownShips.get(0), playerId)}"
						onclick="window.contextMenuHandler.onLeftClickShipOnPlanet(event, this.getAttribute('clickData'), true)"
						oncontextmenu="window.ingame.keepShipsMouseOverOpen(event)"
						onmouseenter="window.ingame.showGalaxyMapDetails('ships', this.getAttribute('coordId'))"
						onmouseleave="window.ingame.hideGalaxyMapDetails('ships', this.getAttribute('coordId'), true)"
					></div>

					<div
						th:if="${planet.foreignShips != null && planet.foreignShips.size() == 1 && (planet.ownShips == null || planet.ownShips.isEmpty())}"
						class="ship skr-game-ship-mouse skr-game-ship-mouse-planet"
						th:style="${'border-color: #' + planet.foreignShips.get(0).retrieveColor(playerId) + ';'}"
						th:shipId="${planet.foreignShips.get(0).id}"
						th:clickData="${@clickDataService.createClickData(planet.foreignShips.get(0), playerId)}"
						onclick="window.contextMenuHandler.onLeftClickShipOnPlanet(event, this.getAttribute('clickData'), false)"
						oncontextmenu="window.contextMenuHandler.onRightClickShipOnPlanet(event, this.getAttribute('clickData'))"
						onmouseenter="window.ingame.showGalaxyMapDetails('ship', this.getAttribute('shipId'))"
						onmouseleave="window.ingame.hideGalaxyMapDetails('ship', this.getAttribute('shipId'))"
					></div>
					<div
						th:if="${planet.foreignShips != null && planet.foreignShips.size() > 1 && (planet.ownShips == null || planet.ownShips.isEmpty())}"
						class="ship ships-around-planet skr-game-ships-mouse"
						th:style="${'border-color: #' + planet.foreignShips.get(0).retrieveColor(playerId) + ';'}"
						th:coordId="|${planet.x}_${planet.y}|"
						th:clickData="${@clickDataService.createClickData(planet.foreignShips.get(0), playerId)}"
						onclick="window.contextMenuHandler.onLeftClickShipOnPlanet(event, this.getAttribute('clickData'), true)"
						oncontextmenu="window.ingame.keepShipsMouseOverOpen(event)"
						onmouseenter="window.ingame.showGalaxyMapDetails('ships', this.getAttribute('coordId'))"
						onmouseleave="window.ingame.hideGalaxyMapDetails('ships', this.getAttribute('coordId'), true)"
					></div>

					<div th:each="ship : ${planet.ownShips}" th:if="${planet.ownShips != null}" class="skr-ingame-ship-scan-circle">
						<div class="skr-ingame-scan-circle-inner" th:style="${ship.retrieveScannerRadiusStyle()}"></div>
					</div>

					<div th:each="ship : ${planet.foreignShips}" th:if="${planet.foreignShips != null}" class="skr-ingame-ship-scan-circle">
						<div class="skr-ingame-scan-circle-inner" th:style="${ship.retrieveScannerRadiusStyle()}"></div>
					</div>

					<div
						class="skr-game-details-mouseover container"
						th:classappend="|skr-game-mouseover-planet${planet.playerId == playerId ? '-owned' : (planet.lastScanRound > 0 ? '-scanned' : '')}|"
						th:id="${'skr-ingame-planet-details-' + planet.id}"
					>
						<div th:insert="~{ingame/galaxymap/planet-mouseover::content}" th:with="planet=${planet},relations=${relations}"></div>
					</div>

					<div
						th:if="${planet.ownShips != null && planet.ownShips.size() == 1}"
						class="skr-game-details-mouseover container skr-game-mouseover-ship"
						th:id="${'skr-ingame-ship-details-' + planet.ownShips.get(0).id}"
					>
						<div th:insert="~{ingame/galaxymap/ship-mouseover::content}" th:with="ship=${planet.ownShips.get(0)}"></div>
					</div>
					<div
						th:if="${planet.ownShips != null && planet.ownShips.size() > 1}"
						class="skr-game-details-mouseover container skr-game-mouseover-ships"
						th:id="|skr-ingame-ships-details-${planet.x}_${planet.y}|"
					>
						<div th:insert="~{ingame/galaxymap/ships-mouseover::content}" th:with="ships=${planet.ownShips}"></div>
					</div>

					<div
						th:if="${planet.foreignShips != null && planet.foreignShips.size() == 1 && (planet.ownShips == null || planet.ownShips.isEmpty()) && (planet.foreignShips.get(0).scannedByPlayer || @configProperties.isDisablePermissionChecks())}"
						class="skr-game-details-mouseover container skr-game-mouseover-ship"
						th:id="${'skr-ingame-ship-details-' + planet.foreignShips.get(0).id}"
					>
						<div th:insert="~{ingame/galaxymap/ship-mouseover::content}" th:with="ship=${planet.foreignShips.get(0)}"></div>
					</div>
					<div
						th:if="${planet.foreignShips != null && planet.foreignShips.size() > 1 && (planet.ownShips == null || planet.ownShips.isEmpty()) && (planet.foreignShips.get(0).scannedByPlayer || @configProperties.isDisablePermissionChecks())}"
						class="skr-game-details-mouseover container skr-game-mouseover-ships"
						th:id="|skr-ingame-ships-details-${planet.x}_${planet.y}|"
					>
						<div
							th:insert="~{ingame/galaxymap/ships-mouseover::content}"
							th:with="ships=${planet.foreignShips},onlyScanned=${planet.foreignShips.get(0).scannedByPlayer}"
						></div>
					</div>

					<div
						class="skr-game-details-mouseover container skr-game-mouseover-ship-relation"
						th:if="${planet.foreignShips != null && planet.foreignShips.size() == 1 && planet.foreignShips.get(0).retrieveRelationType(playerId, relations, colorToPlayerMap) != null}"
						th:id="${'skr-ingame-ship-details-' + planet.foreignShips.get(0).id}"
					>
						<div
							th:insert="~{ingame/galaxymap/ship-mouseover-relation::content}"
							th:with="icon=${planet.foreignShips.get(0).retrieveRelationType(playerId, relations, colorToPlayerMap).getIcon()}"
						></div>
					</div>
					<div
						class="skr-game-details-mouseover container skr-game-mouseover-ship-relation"
						th:if="${planet.foreignShips != null && planet.foreignShips.size() > 1 && planet.foreignShips.get(0).retrieveRelationType(playerId, relations, colorToPlayerMap) != null}"
						th:id="|skr-ingame-ships-details-${planet.x}_${planet.y}|"
					>
						<div
							th:insert="~{ingame/galaxymap/ship-mouseover-relation::content}"
							th:with="icon=${planet.foreignShips.get(0).retrieveRelationType(playerId, relations, colorToPlayerMap).getIcon()}"
						></div>
					</div>
					<div
						th:if="${planet.starbaseId != null && (planet.playerId == playerId || @configProperties.isDisablePermissionChecks())}"
						class="skr-game-details-mouseover container skr-game-mouseover-starbase"
						th:id="${'skr-ingame-starbase-details-' + planet.starbaseId}"
					>
						<div
							th:insert="~{ingame/galaxymap/starbase-mouseover::content}"
							th:with="starbaseName=${planet.starbaseName},starbaseType=${planet.starbaseType},starbaseLog=${planet.starbaseLog},starbaseHullLevel=${planet.starbaseHullLevel},starbasePropulsionLevel=${planet.starbasePropulsionLevel},starbaseEnergyLevel=${planet.starbaseEnergyLevel},starbaseProjectileLevel=${planet.starbaseProjectileLevel},starbaseShipConstructionName=${planet.starbaseShipConstructionName}"
						></div>
					</div>
					<div
						th:if="${planet.starbaseId != null && planet.playerId != playerId && planet.starbaseScanned}"
						class="skr-game-details-mouseover container skr-game-mouseover-starbase"
						th:id="${'skr-ingame-starbase-details-' + planet.starbaseId}"
					>
						<div
							th:insert="~{ingame/galaxymap/starbase-mouseover::scanned}"
							th:with="starbaseName=${planet.starbaseName},starbaseType=${planet.starbaseType}"
						></div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
