<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content">
	<div
		class="row"
		th:id="|skr-ingame-planet-mouseover-content-${planet.id}|"
		th:style="${!(@configProperties.isDisablePermissionChecks() || (planet.retrievePlayerId() != null && planet.retrievePlayerId() == playerId)) && planet.lastScanRound == 0 ? 'min-width: 220px;' : ''}"
	>
		<div class="col-12">
			<i class="fa-fw fa fa-globe"></i>
			<span th:text="${planet.name}">Planet name</span>
			<span
				class="pr-1"
				th:text="'(' + #{class} + ' ' + (${planet.hasCloakingFieldGenerator() && (planet.retrievePlayerId() == null || planet.retrievePlayerId() != playerId)} ? 'J' : ${planet.type}) + ')'"
			>
						(Class M)
					</span>
			<span th:if="${relations.containsKey(planet.retrievePlayerId())}">
						<i th:class="|fa-fw ${relations.get(planet.retrievePlayerId()).getIcon()}|"></i>
					</span>
		</div>
		<div class="col-12" th:if="${(planet.retrievePlayerId() == null || planet.retrievePlayerId() != playerId) && planet.lastScanRound > 0}">
			<span th:if="${planet.lastScanSinceTurnCount > 1}" class="ms-1" th:text="#{last_scan(${planet.lastScanSinceTurnCount})}"> Last scan 2 rounds ago </span>

			<div class="row g-0 mt-1">
				<div class="col-6">
					<i class="fa-fw fas fa-thermometer-half"></i>
					<span th:text="|${planet.scannedTemperature} °C|">23 °C</span>
					<span>&nbsp;(</span>
					<i class="fa fa-male"></i>
					<span th:text="|+${#numbers.formatDecimal(planet.retrievePopulationGrowthRate() * 100, 1, 'POINT', 1, 'COMMA')}%)|"></span>
				</div>
				<div class="col-6">
					<i class="fa-fw fa fa-male"></i>
					<span th:text="${planet.scannedColonists}">50000</span>
				</div>
			</div>

			<div class="row g-0 mt-1"
				 th:if="${(planet.scannedLightGroundUnits != null && planet.scannedLightGroundUnits > 0)
				 || (planet.scannedHeavyGroundUnits != null && planet.scannedHeavyGroundUnits > 0)}">
				<div class="col-6">
					<i class="fa-fw fa fa-male skr-light-ground-units"></i>
					<span th:text="${planet.scannedLightGroundUnits}">50000</span>
				</div>
				<div class="col-6">
					<i class="fa-fw fa fa-male skr-heavy-ground-units"></i>
					<span th:text="${planet.scannedHeavyGroundUnits}">50000</span>
				</div>
			</div>

			<div class="row g-0">
				<div class="col-6">
					<i class="fa-fw fas fa-building"></i>
					<span th:text="${planet.orbitalSystemCount}">3</span>
				</div>
				<div class="col-6">
					<i class="fa-fw fas fa-monument"></i>
					<span th:text="${planet.scannedMines}">50000</span>
				</div>
			</div>

			<div class="row g-0">
				<div class="col-6">
					<i class="fa-fw fa fa-industry"></i>
					<span th:text="${planet.scannedFactories}">27</span>
				</div>
				<div class="col-6">
					<i class="fa-fw fab fa-fort-awesome"></i>
					<span th:text="${planet.scannedPlanetaryDefense}">43</span>
				</div>
			</div>

			<div class="row g-0 skr-performance-icon">
				<div class="col-6">
					<i class="fa-fw fas fa-circle"></i>
					<span th:text="|${planet.scannedFuel} (${planet.scannedUntappedFuel}|">45 (3043</span>
					<i th:class="${planet.retrieveFuelDensityIcon()}"></i>)
				</div>
				<div class="col-6">
					<i class="fa-fw fas fa-certificate"></i>
					<span th:text="|${planet.scannedMineral1} (${planet.scannedUntappedMineral1}|">45 (3043</span>
					<i th:class="${planet.retrieveMineral1DensityIcon()}"></i>)
				</div>
			</div>

			<div class="row g-0 skr-performance-icon">
				<div class="col-6">
					<i class="fa-fw fas fa-square-full"></i>
					<span th:text="|${planet.scannedMineral2} (${planet.scannedUntappedMineral2}|">45 (3043</span>
					<i th:class="${planet.retrieveMineral2DensityIcon()}"></i>)
				</div>
				<div class="col-6">
					<i class="fa-fw fas fa-play fa-rotate-90"></i>
					<span th:text="|${planet.scannedMineral3} (${planet.scannedUntappedMineral3}|">45 (3043</span>
					<i th:class="${planet.retrieveMineral3DensityIcon()}"></i>)
				</div>
			</div>

			<div class="row g-0">
				<div class="col-12">
					<i class="fa-fw fab fa-mandalorian"></i>
					<span
						th:text="${planet.scannedNativeSpeciesName == null || planet.scannedNativesCount == 0} ? '-' : |${planet.scannedNativeSpeciesName} (${planet.scannedNativesCount}) (#{'native_species_type_' + ${planet.retrieveNativeSpeciesType()}})|"
					>
								Name (12354) (humanoid)
							</span>
				</div>
				<div
					class="col-12 ps-1 pe-1"
					th:if="${planet.scannedNativeSpeciesEffect != null && planet.scannedNativesCount > 0}"
					th:text="${planet.scannedNativeSpeciesEffect}"
				>
					Effect
				</div>
			</div>
		</div>
	</div>
	<div
		class="row g-0"
		th:id="|skr-ingame-planet-mouseover-content-${planet.id}|"
		th:if="${planet.retrievePlayerId() != null && (@configProperties.isDisablePermissionChecks() || planet.retrievePlayerId() == playerId)}"
	>
		<div class="col-12 skr-game-details-mouseover-content">
			<div class="row g-0">
				<div class="col-6">
					<i class="fa-fw fa fa-male"></i>
					<span th:text="|${planet.colonists} (+${#numbers.formatDecimal(planet.retrievePopulationGrowthRate() * 100, 1, 'POINT', 1, 'COMMA')}%)|"> 50000 </span>
				</div>
			</div>
			<div class="row g-0">
				<div class="col-6">
					<i class="fa-fw fa fa-coins"></i>
					<span th:text="${planet.money}">50000</span>
					<span
						th:text="|(+${planet.retrieveAdditionalMoney(tradeBonusData) + (planet.autoSellSupplies ? planet.supplies + planet.retrieveAdditionalSupplies() : 0)})|"
					></span>
				</div>
				<div class="col-6">
					<i class="fa-fw fa fa-cube"></i>
					<span th:text="${planet.supplies}">50000</span>
					<span th:text="|(+${planet.autoSellSupplies ? 0 : planet.retrieveAdditionalSupplies()})|"></span>
				</div>
			</div>
			<div class="row g-0">
				<div class="col-6">
					<i class="fa-fw fas fa-circle"></i>
					<span th:text="|${planet.fuel} (${planet.untappedFuel}, +${planet.retrieveFuelToBeMined()})|"></span>
				</div>
				<div class="col-6">
					<i class="fa-fw fas fa-certificate"></i>
					<span th:text="|${planet.mineral1} (${planet.untappedMineral1}, +${planet.retrieveMineral1ToBeMined()})|"></span>
				</div>
			</div>
			<div class="row g-0">
				<div class="col-6">
					<i class="fa-fw fas fa-square-full"></i>
					<span th:text="|${planet.mineral2} (${planet.untappedMineral2}, +${planet.retrieveMineral2ToBeMined()})|"></span>
				</div>
				<div class="col-6">
					<i class="fa-fw fas fa-play fa-rotate-90"></i>
					<span th:text="|${planet.mineral3} (${planet.untappedMineral3}, +${planet.retrieveMineral3ToBeMined()})|"></span>
				</div>
			</div>
			<div class="row g-0">
				<div class="col-6">
					<i class="fa-fw fas fa-monument"></i>
					<span th:text="${planet.mines} + (${planet.autoBuildMines} ? ' (auto)' : '')"></span>
				</div>
				<div class="col-6">
					<i class="fa-fw fa fa-industry"></i>
					<span th:text="${planet.factories} + (${planet.autoBuildFactories} ? ' (auto)' : '')"></span>
				</div>
			</div>
			<div class="row g-0">
				<div class="col-6">
					<i class="fa-fw fab fa-fort-awesome"></i>
					<span th:text="${planet.planetaryDefense} + (${planet.autoBuildPlanetaryDefense} ? ' (auto)' : '')"></span>
				</div>
				<div class="col-6">
					<i class="fa-fw fas fa-building"></i>
					<span th:text="|${planet.builtOrbitalSystemCount} / ${planet.orbitalSystemCount}|"></span>
				</div>
			</div>
			<div class="row g-0">
				<div class="col-12">
					<i class="fa-fw fas fa-book-open"></i>
					<span th:text="${planet.log != null && planet.log.length() > 0} ? ${planet.log} : #{no_log_entry}"></span>
				</div>
			</div>
			<div class="row g-0">
				<div class="col-12">
					<i class="fa-fw fab fa-mandalorian"></i>
					<span
						th:text="${planet.nativeSpeciesCount == 0} ? '-' : |${planet.retrieveNativeSpeciesName()} (${planet.nativeSpeciesCount}) (#{'native_species_type_' + ${planet.retrieveNativeSpeciesType()}})|"
					>
								Name (12354)
							</span>
				</div>
				<div class="col-12 ps-1 pe-1" th:if="${planet.nativeSpeciesCount > 0}" th:text="${planet.retrieveNativeSpeciesDescription(nativeSpeciesDescription)}">
					Effect
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
