<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<th:block th:fragment="ship-item">
			<div class="col-12">
				<span th:text="${ship.name}">Ship name</span>
				<b th:text="|(${@masterDataService.getShipTemplateName(ship.shipTemplate)})|">(Ship class)</b>
			</div>
			<div class="col-12" th:id="|skr-ingame-ship-mouseover-ship-id-${ship.id}|" th:if="!${onlyScanned}">
				<div class="d-inline-flex align-items-center justify-content-between w-100">
					<div class="skr-ingame-ships-mouseover-subitem">
						<i class="fa-fw fas fa-tasks"></i>
						<i th:text="${@shipTaskString.retrieveTaskString(ship)}">Task</i>
					</div>

					<div th:if="${ship.fleet != null}" class="skr-ingame-ships-mouseover-subitem">
						<i class="fa-fw fas fa-grip-vertical"></i>
						<i th:text="${ship.fleet.name}">Fleet</i>
					</div>
				</div>
			</div>
		</th:block>

		<div th:fragment="content" class="container g-0">
			<div class="row">
				<div class="col-12">
					<i class="fa-fw fa fa-space-shuttle"></i>
					<span th:text="#{ships}">Ships</span>
				</div>
			</div>
			<div class="row g-0">
				<div class="col-12 skr-game-details-mouseover-content">
					<div
						th:each="ship : ${ships}"
						class="row g-0 skr-ingame-ship-mouse-over-ship-item"
						th:id="|skr-ingame-ship-mouseover-ship-id-${ship.id}|"
						th:clickData="${@clickDataService.createClickData(ship, playerId)}"
						th:onlyScanned="${onlyScanned}"
						oncontextmenu="window.contextMenuHandler.onRightClickMouseOverShipItem(event, this.getAttribute('clickData'))"
						onclick="window.contextMenuHandler.onLeftClickMouseOverShipItem(event, this.getAttribute('clickData'), this.getAttribute('onlyScanned'))"
					>
						<th:block th:insert="~{::ship-item}" th:with="ship=${ship},onlyScanned=${onlyScanned}"></th:block>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
