<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content" id="skr-ship-storage-content">
			<h5>
				<span class="normal" th:text="#{storage}">Storage</span>
			</h5>

			<div class="row">
				<div class="col-6" th:insert="~{ingame/icon-label::content}" th:with="label=#{colonists},value=${ship.colonists},icon='fa fa-male'"></div>
				<div class="col-6" th:insert="~{ingame/icon-label::content}" th:with="label=#{money},value=${ship.money},icon='fa fa-coins'"></div>
			</div>
			<div class="row">
				<div
					class="col-6"
					th:insert="~{ingame/icon-label::content}"
					th:with="label=#{light_ground_units},value=${ship.lightGroundUnits},icon='fa fa-male skr-light-ground-units'"
				></div>
				<div
					class="col-6"
					th:insert="~{ingame/icon-label::content}"
					th:with="label=#{heavy_ground_units},value=${ship.heavyGroundUnits},icon='fa fa-male skr-heavy-ground-units'"
				></div>
			</div>
			<div class="row">
				<div class="col-6" th:insert="~{ingame/icon-label::content}" th:with="label=#{supplies},value=|${ship.supplies} KT|,icon='fa fa-cube'"></div>
				<div class="col-6" th:insert="~{ingame/icon-label::content}" th:with="label=#{mineral1},value=|${ship.mineral1} KT|,icon='fas fa-certificate'"></div>
			</div>
			<div class="row">
				<div class="col-6" th:insert="~{ingame/icon-label::content}" th:with="label=#{mineral2},value=|${ship.mineral2} KT|,icon='fas fa-square-full'"></div>
				<div class="col-6" th:insert="~{ingame/icon-label::content}" th:with="label=#{mineral3},value=|${ship.mineral3} KT|,icon='fas fa-play fa-rotate-90'"></div>
			</div>
		</div>
	</body>
</html>
