<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="cannot-transport">
			<div class="skr-game-selection-message" th:text="#{no_objects_in_transporter_range}">Keine Objekte in Transporterreicheweite</div>
		</div>

		<div th:fragment="transport-successfull">
			<div class="skr-game-selection-message" id="skr-ingame-ship-transport-success" th:text="#{transport_successfull}">Transport erfolgreich</div>
		</div>

		<th:block th:fragment="capacity-panel-to-planet">
			<div class="row g-0">
				<div class="col-6 text-end pr-1">
					<span class="normal" th:text="|#{fuel_tank}:|">Fuel tank</span>
				</div>
				<div class="col-6 text-start">
					<span>&nbsp;</span>
					<span id="skr-game-ship-transporter-fuel" th:text="${ship.fuel}">123</span>
					<span class="normal">/</span>
					<span id="skr-game-ship-transporter-fuelcapacity" th:text="${ship.shipTemplate.fuelCapacity}">123</span>
				</div>
			</div>
			<div class="row g-0">
				<div class="col-6 text-end pr-1">
					<span class="normal" th:text="|#{storage_space}:|">Storage space</span>
				</div>
				<div class="col-6 text-start">
					<span>&nbsp;</span>
					<span id="skr-game-ship-transporter-totalgoods" th:text="${ship.retrieveTotalGoods()}">123</span>
					<span class="normal">/</span>
					<span id="skr-game-ship-transporter-storagespace" th:text="${ship.retrieveStorageSpace()}">123</span>
				</div>
			</div>
		</th:block>

		<th:block th:fragment="capacity-panel-to-ship">
			<div class="row g-0">
				<div class="col-2 text-end pr-1" th:tooltip="#{fuel_tank}" flow="down">
					<i class="fa-fw fas fa-circle"></i>
				</div>
				<div class="col-4 text-start">
					<span>&nbsp;</span>
					<span id="skr-game-ship-transporter-fuel" th:text="${ship.fuel}">123</span>
					<span class="normal">/</span>
					<span id="skr-game-ship-transporter-fuelcapacity" th:text="${ship.shipTemplate.fuelCapacity}">123</span>
				</div>
				<div class="col-2 text-end pr-1" th:tooltip="#{fuel_tank}" flow="down">
					<i class="fa-fw fas fa-circle"></i>
				</div>
				<div class="col-4 text-start">
					<span>&nbsp;</span>
					<span id="skr-game-ship-transporter-fuel-target" th:text="${targetShip.fuel}">123</span>
					<span class="normal">/</span>
					<span id="skr-game-ship-transporter-fuelcapacity-target" th:text="${targetShip.shipTemplate.fuelCapacity}">123</span>
				</div>
			</div>
			<div class="row g-0">
				<div class="col-2 text-end pr-1" th:tooltip="#{storage_space}" flow="down">
					<i class="fa-fw fas fa-box"></i>
				</div>
				<div class="col-4 text-start">
					<span>&nbsp;</span>
					<span id="skr-game-ship-transporter-totalgoods" th:text="${ship.retrieveTotalGoods()}">123</span>
					<span class="normal">/</span>
					<span id="skr-game-ship-transporter-storagespace" th:text="${ship.retrieveStorageSpace()}">123</span>
				</div>
				<div class="col-2 text-end pr-1" th:tooltip="#{storage_space}" flow="down">
					<i class="fa-fw fas fa-box"></i>
				</div>
				<div class="col-4 text-start">
					<span>&nbsp;</span>
					<span id="skr-game-ship-transporter-totalgoods-target" th:text="${targetShip.retrieveTotalGoods()}">123</span>
					<span class="normal">/</span>
					<span id="skr-game-ship-transporter-storagespace-target" th:text="${targetShip.retrieveStorageSpace()}">123</span>
				</div>
			</div>
		</th:block>

		<div th:fragment="content" id="skr-game-ship-transporter">
			<input type="hidden" id="skr-game-ship-transporter-fuelmessage" th:value="#{fuel_capacity_exceeded}" />
			<input type="hidden" id="skr-game-ship-transporter-storagemessage" th:value="#{storage_space_exceeded}" />
			<input type="hidden" id="skr-game-ship-transporter-target-id" th:value="${selectedTarget.id}" />
			<input type="hidden" id="skr-game-ship-transporter-is-planet" th:value="${selectedTarget.isPlanet}" />
			<input type="hidden" id="skr-game-ship-transporter-is-own-planet" th:value="${selectedTarget.isOwnPlanet}" />

			<h5>
				<span class="normal" th:text="#{transporter}">Transporter</span>
				<span
					th:insert="~{ingame/help::content}"
					th:with="id='ship-tasks',title=#{transporter},fragment='simple',content=#{help_ship_transporter},toolTipFlow='down'"
				></span>
			</h5>

			<div class="row g-0 text-center mt-2 mb-3">
				<div class="col-3">
					<div th:text="${ship.name}">Ship name</div>
					<img class="mt-1" th:src="${ship.createFullImagePath()}" />
				</div>
				<div class="col-6">
					<div id="skr-ship-transporter-capacity-panel">
						<th:block th:if="${planetTarget != null}" th:insert="~{::capacity-panel-to-planet}" th:with="ship=${ship}"></th:block>
						<th:block th:if="${planetTarget == null}" th:insert="~{::capacity-panel-to-ship}" th:with="ship=${ship},targetShip=${targetShip}"></th:block>
					</div>

					<div class="row g-0">
						<div class="col-12">
							<skr-button
								type="button"
								class="btn btn-primary mt-1"
								id="skr-ingame-ship-finish-transport-button"
								onclick="shipTransporter.finishTransport()"
								th:text="#{finish_transport}"
								flow="down"
								th:tooltip="#{finish_transport}"
								tabindex="13"
							>
								Finish transport
							</skr-button>
						</div>
					</div>
				</div>
				<div class="col-3">
					<div
						th:text="${planetTarget != null} ? ${planetTarget.name} : ${shipTargets.get(0).name}"
						th:if="${(planetTarget != null && shipTargets.isEmpty()) || (planetTarget == null && shipTargets.size() == 1)}"
					>
						Target name
					</div>
					<select
						class="form-select form-select-sm"
						id="skr-ship-transporter-target-select"
						th:if="${(planetTarget != null && shipTargets.size() > 0) || shipTargets.size() > 1}"
						onchange="window.shipTransporter.changeTarget(this.options[this.selectedIndex])"
					>
						<option
							th:if="${planetTarget != null}"
							th:text="${planetTarget.name}"
							isplanet="true"
							th:ownplanet="${ship.planetOwnedByPlayer()}"
							th:imagepath="${planetTarget.fullImagePath}"
							th:value="${planetTarget.id}"
						>
							Planet name
						</option>
						<option th:text="|--- #{ships} ---|" th:if="${!shipTargets.isEmpty() && planetTarget != null}" class="select-option-unselectable">Ships</option>
						<option
							th:each="shipTarget : ${shipTargets}"
							th:text="${shipTarget.name}"
							isplanet="false"
							ownplanet="false"
							th:imagepath="${shipTarget.fullImagePath}"
							th:value="${shipTarget.id}"
						>
							Ship name
						</option>
					</select>

					<img
						id="skr-ship-transporter-target-image"
						th:src="${selectedTarget.fullImagePath}"
						th:class="${ship.planetOwnedByPlayer() || planetTarget == null} ? 'cursor-pointer' : ''"
						th:onclick="${ship.planetOwnedByPlayer()} ?
							 |ingame.select('planet', ${planetTarget.id})|
							: (${planetTarget == null} ? |ingame.select('ship', ${shipTargets.get(0).id})| : '')"
					/>
				</div>
			</div>

			<div id="skr-ship-transporter-sliders" class="mb-3" th:fragment="sliders">
				<div
					th:id="|skr-ship-transporter-slider-${item.resource.name()}|"
					th:each="item,iter : ${selectedTarget.items}"
					th:insert="~{ingame/range-line::content}"
					th:with="fieldName=${item.resource.name()},icon=${item.resource.icon},leftValue=${item.leftValue},rightValue=${item.rightValue},iconTitle=#{${item.resource.iconTitle}},tabIndex=${iter.index + 1},leftMin=${item.leftMin},leftMax=${item.leftMax},rightMin=${item.rightMin},rightMax=${item.rightMax}"
				></div>
			</div>
		</div>
	</body>
</html>
