<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content" id="skr-ship-weapon-systems-content">
			<div class="row">
				<div class="col-12">
					<h5>
						<span class="normal" th:text="#{weapon_systems}">Weapon systems</span>
					</h5>
				</div>
			</div>
			<div class="row">
				<div
					class="col-12"
					th:insert="~{ingame/icon-label::content}"
					th:with="label=|#{energy_weapons} (${ship.shipTemplate.energyWeaponsCount}x)|,value=${ship.energyWeaponTemplate != null} ? |#{${ship.energyWeaponTemplate.name}} (${ship.energyWeaponTemplate.techLevel})| : '-',icon='fas fa-bolt',labelTitle=${ship.energyWeaponTemplate != null} ? |#{tech_level}: ${ship.energyWeaponTemplate.techLevel}| : '',flow='down'"
				></div>
				<div
					class="col-12"
					th:insert="~{ingame/icon-label::content}"
					th:with="label=|#{projectile_weapons} (${ship.shipTemplate.projectileWeaponsCount}x)|,value=${ship.projectileWeaponTemplate != null} ? |#{${ship.projectileWeaponTemplate.name}} (${ship.projectileWeaponTemplate.techLevel})| : '-',icon='fas fa-rocket',labelTitle=${ship.projectileWeaponTemplate != null} ? |#{tech_level}: ${ship.projectileWeaponTemplate.techLevel}| : '',flow='down'"
				></div>
				<div
					class="col-12"
					th:insert="~{ingame/icon-label::content}"
					th:with="label=#{hangar},value=${ship.shipTemplate.hangarCapacity},icon='fab fa-gitter'"
				></div>
			</div>

			<hr />

			<input type="hidden" th:if="${ship.planetOwnedByPlayer()}" id="skr-ship-projectiles-planet-id" th:value="${ship.planet.id}" />
			<div class="row">
				<div class="col-12">
					<h5>
						<span class="normal" th:text="#{projectiles}">Projectiles</span>
						<span th:insert="~{ingame/help::content}" th:with="id='ship-tasks',title=#{projectiles},fragment='simple',content=#{help_ship_projectiles}"></span>
					</h5>
					<div class="row">
						<div class="col-md-2">
							<label th:text="#{running}">Running</label>
						</div>
						<div class="col-md-4 text-end">
							<span th:text="${ship.projectiles}">100</span>
							<i class="fa-fw fas fa-rocket"></i>
						</div>
						<div class="col-md-2">
							<label th:text="#{maximum}">Maximum</label>
						</div>
						<div class="col-md-4 text-end">
							<span th:text="${ship.shipTemplate.projectileWeaponsCount * 5}">100</span>
							<i class="fa-fw fas fa-rocket"></i>
						</div>
					</div>
					<div class="row" th:if="${ship.retrieveMaxProjectiles() - ship.projectiles > 0}">
						<div class="col-4">
							<select id="skr-ship-projectiles-quantity-select" class="form-select">
								<option
									th:each="quantity : ${#numbers.sequence(1, ship.retrieveMaxProjectiles() - ship.projectiles)}"
									th:selected="${quantity == ship.retrieveMaxProjectiles() - ship.projectiles}"
									th:value="${quantity}"
									th:text="${quantity}"
								>
									1
								</option>
							</select>
						</div>
						<div class="col-4">
							<skr-button
								type="button"
								class="btn btn-primary"
								onclick="window.shipProjectiles.buildProjectiles()"
								id="skr-ship-projectiles-build-projectiles"
								th:text="#{construct_projectiles}"
							>
								Build projectiles
							</skr-button>
						</div>
					</div>
					<div class="col-4 form-check">
						<input
							type="checkbox"
							class="form-check-input"
							onclick="window.shipProjectiles.toggleAutoBuildProjectiles()"
							id="skr-ship-projectiles-automated-checkbox"
							th:checked="${ship.autoBuildProjectiles}"
						/>
						<label class="form-check-label" for="skr-ship-projectiles-automated-checkbox" th:text="#{automated_construction}"> Automated construction</label>
					</div>
					<div class="row">
						<div class="col-4" th:if="${canAutoBuildProjectiles}">
							<skr-button
								type="button"
								class="btn btn-primary"
								onclick="window.shipProjectiles.autoBuildProjectiles()"
								id="skr-ship-projectiles-build-projectiles-auto"
								th:text="#{construct_all_projectiles_auto}"
							>
								Construct all possible projectiles automatically
							</skr-button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
