<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content" id="skr-starbase-defense-content">
			<input type="hidden" id="skr-ingame-starbase-defense-planet-id" th:value="${starbase.planet.id}" />

			<div class="row">
				<div class="col-12">
					<h5>
						<span class="normal" th:text="#{defense_systems}">Defense systems</span>
						<span
							th:insert="~{ingame/help::content}"
							th:with="id='starbase-defense',title=#{help_planet_defense_title},fragment='starbase-defense',data=${starbase.type},toolTipFlow='down'"
						></span>
					</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-6" th:insert="~{ingame/icon-label::content}" th:with="label=#{running},value=${starbase.defense},icon='fab fa-fort-awesome'"></div>
				<div class="col-md-2 border-start">
					<label th:text="#{maximum}">Maximum</label>
				</div>
				<div class="col-md-4 text-end">
					<span th:text="${starbase.type.getMaxDefense()}">50</span>
					<i class="fa-fw fab fa-fort-awesome"></i>
				</div>
			</div>
			<div class="row mt-2" th:if="${starbase.retrieveMaxDefense() > starbase.defense}">
				<div class="col-4">
					<select id="skr-starbase-defense-quantity-select" class="form-select form-select-sm">
						<option
							th:each="quantity : ${#numbers.sequence(1, starbase.retrieveMaxDefense() - starbase.defense)}"
							th:selected="${quantity == starbase.retrieveMaxDefense() - starbase.defense}"
							th:value="${quantity}"
							th:text="${quantity}"
						>
							1
						</option>
					</select>
				</div>
				<div class="col-8">
					<skr-button
						type="button"
						class="btn btn-primary"
						id="skr-starbase-defense-build-defense"
						th:text="#{construct_planetary_defense}"
						th:tooltip="#{construct_planetary_defense}"
						onclick="window.starbaseDefense.buildDefense()"
					>
						Construct defense
					</skr-button>
				</div>
			</div>
			<div class="row" th:if="${starbase.retrieveMaxDefense() <= starbase.defense && starbase.type.getMaxDefense() > starbase.retrieveMaxDefense()}">
				<div class="col-12" th:text="#{currently_no_defense_buildable}"></div>
			</div>
		</div>
	</body>
</html>
