<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content">
			<input type="hidden" id="skr-ingame-starbase-production-planet-id" th:value="${starbase.planet.id}" />

			<h5 th:if="!${selectionMode}">
				<span class="normal" th:text="#{'production_' + ${type}}">Production</span>
				<span
					th:if="${type.equals('HULL')}"
					th:insert="~{ingame/help::content}"
					th:with="id='hull-production',title=#{help_starbase_hull_title},fragment='production-hulls',showPreProductionText=true,toolTipFlow='down'"
				></span>
				<span
					th:if="${type.equals('PROPULSION')}"
					th:insert="~{ingame/help::content}"
					th:with="id='propulsion-production',title=#{help_starbase_propulsion_title},fragment='production-propulsion-systems',showPreProductionText=true,toolTipFlow='down'"
				></span>
				<span
					th:if="${type.equals('ENERGY') || type.equals('PROJECTILE')}"
					th:insert="~{ingame/help::content}"
					th:with="id=|${type}-production|,title=#{weapon_systems},fragment='production-weapon-systems',data=${data},showPreProductionText=true,toolTipFlow='down'"
				></span>
			</h5>

			<div class="row">
				<div class="col-12" th:fragment="table">
					<table class="table table-hover">
						<thead>
							<tr>
								<th scope="col">
									<th:block th:if="${selectionMode}">
										<span
											th:if="${type.equals('HULL')}"
											th:insert="~{ingame/help::content}"
											th:with="id='hull-production',title=#{help_starbase_hull_title},fragment='production-hulls',showPreProductionText=false"
										></span>
										<span
											th:if="${type.equals('PROPULSION')}"
											th:insert="~{ingame/help::content}"
											th:with="id='propulsion-production',title=#{help_starbase_propulsion_title},fragment='production-propulsion-systems',showPreProductionText=false"
										></span>
										<span
											th:if="${type.equals('ENERGY') || type.equals('PROJECTILE')}"
											th:insert="~{ingame/help::content}"
											th:with="id=|${type}-production|,title=#{weapon_systems},fragment='production-weapon-systems',data=${data},showPreProductionText=false"
										></span>
									</th:block>
								</th>
								<th scope="col">
									<span th:tooltip="#{'required_' + ${type.toLowerCase()} + '_tech_level'}">TL</span>
								</th>
								<th scope="col">
									<span th:tooltip="#{money}">
										<i class="fa-fw fa fa-coins"></i>
									</span>
								</th>
								<th scope="col">
									<span th:tooltip="#{mineral1}">
										<i class="fa-fw fas fa-certificate"></i>
									</span>
								</th>
								<th scope="col">
									<span th:tooltip="#{mineral2}">
										<i class="fa-fw fas fa-square-full"></i>
									</span>
								</th>
								<th scope="col">
									<span th:tooltip="#{mineral3}">
										<i class="fa-fw fas fa-play fa-rotate-90"></i>
									</span>
								</th>
								<th scope="col" th:text="#{stock}">Stock</th>
								<th scope="col"></th>
								<th th:if="${!selectionMode}" scope="col"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="entry : ${data}" class="skr-ingame-starbase-production-item">
								<td>
									<span
										class="skr-ingame-starbase-production-item-name"
										th:classappend="${entry.producableQuantity > 0 ? '' : 'fw-normal'}"
										th:if="${!entry.type.name().equals('HULL') && !entry.type.name().equals('PROPULSION')}"
										th:text="#{${entry.name}}"
									>
										Item name
									</span>
									<span
										th:if="${entry.type.name().equals('PROPULSION')}"
										th:insert="~{ingame/starbase/propulsion-details::content}"
										th:with="id=${entry.name},title=#{${entry.name}},fragment=${entry.name}"
									></span>
									<a
										class="skr-ingame-starbase-production-item-name skr-ingame-clickable-anchor skr-ingame-ship-template-details-button"
										th:classappend="${entry.producableQuantity > 0 ? 'fw-bold' : ''}"
										th:id="|skr-ingame-ship-template-details-button-${entry.id}|"
										th:shipTemplateId="${entry.id}"
										onclick="window.ingame.openShipTemplateDetailsModal(this.getAttribute('shipTemplateId'))"
										th:if="${entry.type.name().equals('HULL')}"
										th:text="${entry.name}"
									>
										Ship name
									</a>

									<div
										th:if="${entry.type.name().equals('HULL')}"
										class="modal skr-ingame-ship-template-details-modal"
										tabindex="-1"
										role="dialog"
										th:id="|skr-ingame-ship-template-details-${entry.id}|"
									>
										<div class="modal-dialog modal-lg" role="document">
											<div class="modal-content">
												<div class="modal-body">
													<div class="skr-ingame-ship-template-details-content"></div>
												</div>
											</div>
										</div>
									</div>
								</td>
								<td th:class="${entry.techLevel > starbase.retrieveTechLevel(type)} ? 'text-danger' : ''" th:text="${entry.techLevel}"></td>
								<td th:class="${entry.costMoney > starbase.planet.money - moneyCosts} ? 'text-danger' : ''" th:text="${entry.costMoney}"></td>
								<td th:class="${entry.costMineral1 > starbase.planet.mineral1 - mineral1Costs} ? 'text-danger' : ''" th:text="${entry.costMineral1}"></td>
								<td th:class="${entry.costMineral2 > starbase.planet.mineral2 - mineral2Costs} ? 'text-danger' : ''" th:text="${entry.costMineral2}"></td>
								<td th:class="${entry.costMineral3 > starbase.planet.mineral3 - mineral3Costs} ? 'text-danger' : ''" th:text="${entry.costMineral3}"></td>
								<td
									th:class="${entry.stock > 0} ? 'fw-bold' : ''"
									th:text="${entry.hasUnlimitedStock} ? '&infin;' : ${entry.stock}"
									th:id="|skr-ingame-production-stock-${entry.id}|"
								></td>
								<td th:if="${!selectionMode}">
									<select
										class="form-select form-select-sm skr-starbase-production-quantity-select"
										th:if="${entry.producableQuantity > 0}"
										th:id="${'skr-starbase-production-quantity-' + entry.id}"
									>
										<option th:each="q : ${#numbers.sequence(1, entry.producableQuantity)}" th:value="${q}" th:text="${q}">1</option>
									</select>
								</td>
								<td th:if="${!selectionMode}">
									<skr-button
										type="button"
										th:if="${entry.producableQuantity > 0 && !entry.hasUnlimitedStock}"
										th:data1="${entry.id}"
										th:data2="${entry.type.name()}"
										th:text="#{produce}"
										class="btn btn-primary skr-ingame-starbase-produce-button"
										th:onclick="|starbaseProduction.produce(this.getAttribute('data1'), this.getAttribute('data2'))|"
									>
										Produce
									</skr-button>
								</td>
								<td th:if="${selectionMode}">
									<skr-button
										type="button"
										th:if="${entry.producableQuantity > 0 && !entry.hasUnlimitedStock}"
										th:data1="${entry.id}"
										th:data2="${type.equals('HULL')} ? ${entry.name} : #{${entry.name}}"
										th:data3="${type.toLowerCase()}"
										th:data4="${entry.costMoney}"
										th:data5="${entry.costMineral1}"
										th:data6="${entry.costMineral2}"
										th:data7="${entry.costMineral3}"
										th:data8="${entry.techLevel}"
										th:text="#{select}"
										class="btn btn-primary skr-ingame-starbase-select-button"
										th:onclick="|starbaseShipConstruction.select(this.getAttribute('data1'), this.getAttribute('data2'), this.getAttribute('data3'), this.getAttribute('data4'), this.getAttribute('data5'), this.getAttribute('data6'), this.getAttribute('data7'), this.getAttribute('data8'))|"
									>
										Select
									</skr-button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>
