<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content">
			<div class="modal" th:id="|skr-ingame-help-modal-${id}|" tabindex="-1" role="dialog">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="text-center" th:text="${title}">Title</h4>
						</div>
						<div class="modal-body">
							<div class="container">
								<div class="row">
									<div class="col-12 small" th:insert="~{::__${fragment}__}" th:with="content=${content},data=${data}">
										Content
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<a
				th:class="|skr-ingame-help-show-modal-button skr-ingame-starbase-production-item-name skr-ingame-clickable-anchor${entry.producableQuantity > 0 ? ' fw-bold' : ' fw-normal'}|"
				th:id="|skr-ingame-help-show-modal-button-${entry.id}|"
				th:text="#{${entry.name}}"
				th:data1="${entry.id}"
				onclick="window.modals.openHelpModal(this.getAttribute('data1'))"
			>
				Sunsail
			</a>
		</div>

		<div th:fragment="sun_sail">
			<ul>
				<li th:utext="#{help_propulsion_speed('1')}"></li>
				<li th:utext="#{help_propulsion_travel_distance_one}"></li>
				<li th:utext="#{help_propulsion_no_fuel_consumption}"></li>
				<li th:utext="#{help_propulsion_warp_limit}"></li>
				<li th:utext="#{help_propulsion_ion_winds}"></li>
				<li th:utext="#{help_propulsion_gravity_catapult}"></li>
				<li th:utext="#{help_propulsion_no_tractor_beam}"></li>
			</ul>
		</div>
		<div th:fragment="antigrav_engine">
			<ul>
				<li th:utext="#{help_propulsion_speed('2')}"></li>
				<li th:utext="#{help_propulsion_travel_distance('2', '4')}"></li>
				<li th:utext="#{help_propulsion_cloaking}"></li>
				<li th:utext="#{help_propulsion_gravity_catapult}"></li>
				<li th:utext="#{help_propulsion_no_tractor_beam}"></li>
			</ul>
		</div>
		<div th:fragment="drugun_converter">
			<ul>
				<li th:utext="#{help_propulsion_speed('3')}"></li>
				<li th:utext="#{help_propulsion_travel_distance('3', '9')}"></li>
				<li th:utext="#{help_propulsion_drugun_emissions}"></li>
				<li th:utext="#{help_propulsion_gravity_catapult}"></li>
			</ul>
		</div>
		<div th:fragment="linear_engine">
			<ul>
				<li th:utext="#{help_propulsion_speed('4')}"></li>
				<li th:utext="#{help_propulsion_travel_distance('4', '16')}"></li>
				<li th:utext="#{help_propulsion_fuel_consumption_reduction}"></li>
			</ul>
		</div>
		<div th:fragment="tachion_flux">
			<ul>
				<li th:utext="#{help_propulsion_speed('5')}"></li>
				<li th:utext="#{help_propulsion_travel_distance('5', '25')}"></li>
				<li th:utext="#{help_propulsion_random_mass}"></li>
			</ul>
		</div>
		<div th:fragment="micro_grav">
			<ul>
				<li th:utext="#{help_propulsion_speed('6')}"></li>
				<li th:utext="#{help_propulsion_travel_distance('6', '36')}"></li>
				<li th:utext="#{help_propulsion_alternative_fuel}"></li>
			</ul>
		</div>
		<div th:fragment="solarisplasmotan">
			<ul>
				<li th:utext="#{help_propulsion_speed('7')}"></li>
				<li th:utext="#{help_propulsion_travel_distance('7', '49')}"></li>
				<li th:utext="#{help_propulsion_plasma_discharges}"></li>
			</ul>
		</div>
		<div th:fragment="psion_flow_net">
			<ul>
				<li th:utext="#{help_propulsion_speed('8')}"></li>
				<li th:utext="#{help_propulsion_travel_distance('8', '64')}"></li>
				<li th:utext="#{help_propulsion_no_tractor_beam}"></li>
			</ul>
		</div>
		<div th:fragment="transwarp">
			<ul>
				<li th:utext="#{help_propulsion_speed('9')}"></li>
				<li th:utext="#{help_propulsion_travel_distance('9', '81')}"></li>
				<li th:utext="#{help_propulsion_limit_storage_space}"></li>
				<li th:utext="#{help_propulsion_no_tractor_beam}"></li>
			</ul>
		</div>
	</body>
</html>
