<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="success">
			<div class="skr-game-selection-message" id="skr-starbase-shipconstruction-success-message" th:text="#{ship_job_created}">
				Ship construction job submitted successfully.
			</div>
		</div>

		<div th:fragment="ship-job-exists">
			<div class="skr-game-selection-message" th:utext="#{ship_already_being_built(${name}, ${type})}">A ship is already being built in this starbase.</div>
		</div>

		<div th:fragment="content" id="skr-starbase-shipconstruction-content">
			<input type="hidden" id="skr-starbase-id" th:value="${starbase.id}" />
			<input type="hidden" id="skr-planet-id" th:value="${starbase.planet.id}" />
			<input type="hidden" id="skr-starbase-money" th:value="${starbase.planet.money}" />

			<input type="hidden" id="skr-starbase-mineral1" th:value="${starbase.planet.mineral1}" />
			<input type="hidden" id="skr-starbase-mineral2" th:value="${starbase.planet.mineral2}" />
			<input type="hidden" id="skr-starbase-mineral3" th:value="${starbase.planet.mineral3}" />

			<input type="hidden" id="skr-select-hull-text" th:value="#{ship_construction_select_hull}" />
			<input type="hidden" id="skr-select-propulsion-text" th:value="#{ship_construction_select_propulsion_systems}" />
			<input type="hidden" id="skr-select-energy-text" th:value="#{ship_construction_select_energy_weapons}" />
			<input type="hidden" id="skr-select-projectile-text" th:value="#{ship_construction_select_projectile_weapons}" />

			<input type="hidden" id="skr-starbase-selected-hull" />
			<input type="hidden" id="skr-starbase-selected-propulsion" />
			<input type="hidden" id="skr-starbase-selected-energy" />
			<input type="hidden" id="skr-starbase-selected-projectile" />

			<div class="d-inline-flex align-items-center w-100 justify-content-between">
				<h5>
					<span class="normal" th:text="#{produce_ship}">Produce ship</span>
				</h5>

				<div class="form-check">
					<input type="checkbox" class="form-check-input" id="skr-starbase-auto-select-highest-components" checked="true" />
					<label class="form-check-label" for="skr-starbase-auto-select-highest-components" th:text="#{auto_select_highest_affordable_components}">
						Auto-select highest affordable components
					</label>
				</div>
			</div>

			<div class="row mb-2" id="skr-starbase-shipconstruction-container-hull">
				<div class="col-12">
					<div class="btn-group w-100">
						<skr-button
							type="button"
							id="skr-hull-button-left"
							class="text-start btn btn-secondary w-100 collapser ship-component-collapse-button"
							data-bs-toggle="collapse"
							data-bs-target="#skr-starbase-shipconstruction-hull"
						>
							<i class="fa-fw fas fa-space-shuttle" id="skr-ingame-shipconstruction-hull-icon"></i>
							<span id="skr-ingame-shipconstruction-selected-hull" th:text="#{ship_construction_select_hull}">Select hull...</span>
						</skr-button>
						<skr-button
							type="button"
							class="btn btn-secondary dropdown-toggle collapser"
							data-bs-toggle="collapse"
							data-bs-target="#skr-starbase-shipconstruction-hull"
						></skr-button>
					</div>
					<div class="fw-bold text-danger mt-1" style="display: none" id="skr-starbase-not-selected-warning-hull" th:text="#{hull_must_be_selected}"></div>
					<div class="collapse show" id="skr-starbase-shipconstruction-hull"></div>
				</div>
			</div>

			<div class="row mb-2" id="skr-starbase-shipconstruction-container-propulsion">
				<div class="col-12">
					<div class="btn-group w-100">
						<skr-button
							type="button"
							disabled="true"
							id="skr-propulsion-button-left"
							class="text-start btn btn-secondary w-100 collapser ship-component-collapse-button"
							data-bs-toggle="collapse"
							data-bs-target="#skr-starbase-shipconstruction-propulsion"
						>
							<i class="fa-fw fas fa-angle-double-right"></i>
							<span id="skr-ingame-shipconstruction-selected-propulsion" th:text="#{ship_construction_select_propulsion_systems}">Select propulsion systems...</span>
						</skr-button>
						<skr-button
							type="button"
							disabled="true"
							id="skr-propulsion-button-right"
							class="btn btn-secondary dropdown-toggle collapser"
							data-bs-toggle="collapse"
							data-bs-target="#skr-starbase-shipconstruction-propulsion"
						></skr-button>
					</div>
					<div class="fw-bold text-danger mt-1" style="display: none" id="skr-starbase-not-selected-warning-propulsion" th:text="#{propulsion_must_be_selected}"></div>
					<div class="collapse" id="skr-starbase-shipconstruction-propulsion"></div>
				</div>
			</div>

			<div class="row mb-2" style="display: none" id="skr-starbase-shipconstruction-container-energy">
				<div class="col-12">
					<div class="btn-group w-100">
						<skr-button
							type="button"
							id="skr-energy-button-left"
							disabled="true"
							class="text-start btn btn-secondary w-100 collapser ship-component-collapse-button"
							data-bs-toggle="collapse"
							data-bs-target="#skr-starbase-shipconstruction-energy"
						>
							<i class="fa-fw fas fa-bolt"></i>
							<span id="skr-ingame-shipconstruction-selected-energy" th:text="#{ship_construction_select_energy_weapons}">Select energy weapons...</span>
						</skr-button>
						<skr-button
							type="button"
							id="skr-energy-button-right"
							class="btn btn-secondary dropdown-toggle collapser"
							data-bs-toggle="collapse"
							data-bs-target="#skr-starbase-shipconstruction-energy"
						></skr-button>
					</div>
					<div class="fw-bold text-danger mt-1" style="display: none" id="skr-starbase-not-selected-warning-energy" th:text="#{energy_must_be_selected}"></div>
					<div class="collapse" id="skr-starbase-shipconstruction-energy"></div>
				</div>
			</div>

			<div class="row mb-2" style="display: none" id="skr-starbase-shipconstruction-container-projectile">
				<div class="col-12">
					<div class="btn-group w-100">
						<skr-button
							type="button"
							id="skr-projectile-button-left"
							disabled="true"
							class="text-start btn btn-secondary w-100 collapser ship-component-collapse-button"
							data-bs-toggle="collapse"
							data-bs-target="#skr-starbase-shipconstruction-projectile"
						>
							<i class="fa-fw fas fa-rocket"></i>
							<span id="skr-ingame-shipconstruction-selected-projectile" th:text="#{ship_construction_select_projectile_weapons}">Select projectile weapons...</span>
						</skr-button>
						<skr-button
							type="button"
							id="skr-projectile-button-right"
							class="btn btn-secondary dropdown-toggle collapser"
							data-bs-toggle="collapse"
							data-bs-target="#skr-starbase-shipconstruction-projectile"
						></skr-button>
					</div>
					<div class="fw-bold text-danger mt-1" style="display: none" id="skr-starbase-not-selected-warning-projectile" th:text="#{projectile_must_be_selected}"></div>
					<div class="collapse" id="skr-starbase-shipconstruction-projectile"></div>
				</div>
			</div>

			<div class="row mb-2">
				<div class="col-12">
					<input
						type="text"
						class="form-control form-control-sm"
						id="skr-starbase-shipconstruction-shipname-input"
						maxlength="64"
						onkeyup="starbaseShipConstruction.constructOnKey(event)"
						th:placeholder="#{ship_name}"
					/>
					<div class="fw-bold text-danger mt-1" style="display: none" id="skr-starbase-shipname-empty-warning" th:text="#{ship_name_cannot_empty}">
						Ship name cannot be empty!
					</div>
				</div>
			</div>

			<div class="d-inline-flex align-items-center justify-content-between w-100" th:if="${starbase.type.name().equals('WAR_BASE')}">
				<div class="fw-bold" th:text="|#{select_ship_module}:|">Select ship module:</div>

				<div class="d-inline-flex align-items-center">
					<select id="skr-starbase-shipconstruction-ship-module-select" class="form-select form-select-sm">
						<option value="" th:text="#{no_module}">No module</option>
						<option th:each="module : ${modules}" th:value="${module.name()}" th:text="#{'ship_module_' + ${module.name()}}">ModuleName</option>
					</select>

					<span class="ms-2" th:insert="~{ingame/help::content}" th:with="id='ship-modules',title=#{ship_modules},fragment='ship-construction-modules'"></span>
				</div>
			</div>

			<div class="d-inline-flex align-items-center justify-content-between w-100 mt-2">
				<div class="fw-bold">Total costs:</div>
				<div class="d-inline-flex align-items-center">
					<div id="total-costs-money" th:insert="~{ingame/icon-label::content}" th:with="value='0',icon='fa fa-coins'"></div>
					<div class="ms-4" id="total-costs-mineral1" th:insert="~{ingame/icon-label::content}" th:with="value='0',icon='fas fa-certificate'"></div>
					<div class="ms-4" id="total-costs-mineral2" th:insert="~{ingame/icon-label::content}" th:with="value='0',icon='fas fa-square-full'"></div>
					<div class="ms-4" id="total-costs-mineral3" th:insert="~{ingame/icon-label::content}" th:with="value='0',icon='fas fa-play fa-rotate-90'"></div>
				</div>
			</div>

			<div class="d-inline-flex align-items-center justify-content-between w-100 mb-2 mt-2 flex-wrap">
				<div class="d-inline-flex align-items-center" id="skr-starbase-add-directly-to-fleet-wrapper">
					<select id="skr-starbase-add-directly-to-fleet" class="form-select form-select-sm me-2" th:if="${!fleets.isEmpty()}">
						<option th:text="|-- #{choose_fleet} --|" th:value="''"></option>
						<option th:each="fleet : ${fleets}" th:value="${fleet.id}" th:text="${fleet.name}">Fleet name</option>
					</select>

					<skr-button
						type="button"
						id="skr-starbase-create-fleet-button"
						class="btn btn-primary small"
						th:tooltip="#{create_new_fleet}"
						flow="right"
						onclick="fleetDetails.openCreateFleetModalForShipConstruction()"
					>
						<i class="fa-fw fa fa-plus"></i>
					</skr-button>
				</div>

				<skr-button
					type="button"
					id="skr-starbase-shipconstruction-build-button"
					class="btn btn-success"
					onclick="starbaseShipConstruction.construct()"
					th:text="#{build_ship}"
				>
					Build ship
				</skr-button>
			</div>
		</div>
	</body>
</html>
