<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content" class="container-fluid">
			<input type="hidden" id="skr-ingame-current-x" th:value="${starbase.planet.x}" />
			<input type="hidden" id="skr-ingame-current-y" th:value="${starbase.planet.y}" />
			<input type="hidden" id="skr-ingame-current-subpage" th:value="${subPage}" />

			<div id="skr-ingame-selection-panel-top">
				<div id="skr-starbase-stats-details-wrapper">
					<div class="row">
						<div class="col-md-12">
							<div class="d-inline-flex align-items-center w-100 justify-content-between flex-wrap">
								<div class="d-inline-flex align-items-center">
									<h4 th:text="${starbase.name}">Starbase name</h4>
									<div class="font-italic mb-1 ms-2" th:text="|X: ${starbase.planet.x}, Y: ${starbase.planet.y}|">X: 100, Y: 200</div>
								</div>
								<skr-button type="button" class="btn btn-secondary skr-starbase-open-planet-button" th:onclick="|ingame.select('planet', ${starbase.planet.id})|">
									<i class="fa-fw fa fa-globe"></i>
									<span th:text="#{planet}">Planet</span>
								</skr-button>
							</div>

							<div class="row">
								<div class="col-sm-3">
									<img
										th:src="${starbase.createFullImagePath()}"
										style="cursor: pointer"
										th:starbaseId="${starbase.id}"
										th:onclick="|ingame.openBigStarbaseImageModal(event)|"
									/>

									<div th:insert="~{dashboard/infos/starbase-image-modal::modal}" th:with="starbase=${starbase}"></div>
								</div>
								<div class="col-sm-9 row p-0" id="skr-ingame-starbase-stats-lists">
									<div class="col-sm-6" id="skr-ingame-starbase-stats-details">
										<div th:fragment="stats-details">
											<div class="row">
												<div
													th:insert="~{ingame/icon-label::content}"
													th:with="label=#{money},value=|${starbase.planet.money} (+${starbase.planet.retrieveAdditionalMoney(tradeBonusData) + (starbase.planet.autoSellSupplies ? starbase.planet.supplies + starbase.planet.retrieveAdditionalSupplies() : 0)})|,icon='fa fa-coins'"
												></div>
												<div
													th:insert="~{ingame/icon-label::content}"
													th:with="label=#{mineral1},value=|${starbase.planet.mineral1} KT (+${starbase.planet.retrieveMineral1ToBeMined()})|,icon='fas fa-certificate'"
												></div>
											</div>
											<div class="row">
												<div
													th:insert="~{ingame/icon-label::content}"
													th:with="label=#{mineral2},value=|${starbase.planet.mineral2} KT (+${starbase.planet.retrieveMineral2ToBeMined()})|,icon='fas fa-square-full'"
												></div>
												<div
													th:insert="~{ingame/icon-label::content}"
													th:with="label=#{mineral3},value=|${starbase.planet.mineral3} KT (+${starbase.planet.retrieveMineral3ToBeMined()})|,icon='fas fa-play fa-rotate-90'"
												></div>
											</div>
										</div>
									</div>
									<div class="col-sm-6 border-start">
										<div class="row">
											<div
												class="col-12"
												th:insert="~{ingame/icon-label::content}"
												th:with="label=#{hull_level},value=${starbase.hullLevel},icon='fas fa-space-shuttle'"
											></div>
											<div
												class="col-12"
												th:insert="~{ingame/icon-label::content}"
												th:with="label=#{propulsion_level},value=${starbase.propulsionLevel},icon='fas fa-angle-double-right'"
											></div>
											<div class="col-12" th:insert="~{ingame/icon-label::content}" th:with="label=#{energy_level},value=${starbase.energyLevel},icon='fas fa-bolt'"></div>
											<div
												class="col-12"
												th:insert="~{ingame/icon-label::content}"
												th:with="label=#{projectile_level},value=${starbase.projectileLevel},icon='fas fa-rocket'"
											></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<hr />

				<div class="row pt-2" th:if="${!turnDone}">
					<div class="col-12">
						<ul class="nav nav-tabs">
							<li class="nav-item" th:if="${!turnDone && starbase.canBeUpgraded() && starbase.showShipConstructionTab()}">
								<a
									href="javascript:;"
									class="nav-link"
									th:classappend="${'shipconstruction'.equals(subPage)} ? 'active' : ''"
									id="skr-ingame-selection-panel-tab-shipconstruction"
									onclick="starbase.show('shipconstruction')"
									flow="upright"
									th:tooltip="#{produce_ship}"
								>
									<i class="fa-fw fas fa-tools"></i>
								</a>
							</li>
							<li class="nav-item" th:if="${!turnDone && starbase.canBeUpgraded()}">
								<a
									href="javascript:;"
									class="nav-link"
									th:classappend="${'upgrade'.equals(subPage)} ? 'active' : ''"
									id="skr-ingame-selection-panel-tab-upgrade"
									onclick="starbase.show('upgrade')"
									th:tooltip="#{upgrades}"
								>
									<i class="fa-fw fas fa-sort-amount-up-alt"></i>
								</a>
							</li>
							<li class="nav-item" th:if="${!turnDone && starbase.canBeUpgraded() && starbase.showRemainingTabs()}">
								<a
									href="javascript:;"
									class="nav-link"
									th:classappend="${'space-folds'.equals(subPage)} ? 'active' : ''"
									id="skr-ingame-selection-panel-tab-space-folds"
									onclick="starbase.show('space-folds')"
									th:tooltip="#{space_folds}"
								>
									<i class="fa-fw fas fa-exchange-alt"></i>
								</a>
							</li>
							<li class="nav-item" th:if="${starbase.showRemainingTabs()}">
								<a
									href="javascript:;"
									class="nav-link"
									th:classappend="${'defense'.equals(subPage)} ? 'active' : ''"
									id="skr-ingame-selection-panel-tab-defense"
									onclick="starbase.show('defense')"
									th:tooltip="#{defense_systems}"
								>
									<i class="fa-fw fab fa-fort-awesome"></i>
								</a>
							</li>
							<li class="nav-item" th:if="${starbase.showRemainingTabs()}">
								<a
									href="javascript:;"
									class="nav-link"
									th:classappend="${'logbook'.equals(subPage)} ? 'active' : ''"
									id="skr-ingame-selection-panel-tab-logbook"
									onclick="starbase.show('logbook')"
									th:tooltip="#{log_book}"
								>
									<i class="fa-fw fas fa-book-open"></i>
								</a>
							</li>
							<li class="nav-item" th:if="${!turnDone && starbase.canBeUpgraded() && starbase.showRemainingTabs()}">
								<a
									href="javascript:;"
									class="nav-link"
									th:classappend="${'production-hull'.equals(subPage)} ? 'active' : ''"
									id="skr-ingame-selection-panel-tab-production-hull"
									onclick="starbase.show('production-hull')"
									th:tooltip="#{hulls}"
								>
									<i class="fa-fw fas fa-space-shuttle"></i>
								</a>
							</li>
							<li class="nav-item" th:if="${!turnDone && starbase.canBeUpgraded() && starbase.showRemainingTabs()}">
								<a
									href="javascript:;"
									class="nav-link"
									th:classappend="${'production-propulsion'.equals(subPage)} ? 'active' : ''"
									id="skr-ingame-selection-panel-tab-production-propulsion"
									onclick="starbase.show('production-propulsion')"
									th:tooltip="#{propulsion_systems}"
								>
									<i class="fa-fw fas fa-angle-double-right"></i>
								</a>
							</li>
							<li class="nav-item" th:if="${!turnDone && starbase.canBeUpgraded() && starbase.showRemainingTabs()}">
								<a
									href="javascript:;"
									class="nav-link"
									th:classappend="${'production-energyweapon'.equals(subPage)} ? 'active' : ''"
									id="skr-ingame-selection-panel-tab-production-energyweapon"
									onclick="starbase.show('production-energyweapon')"
									th:tooltip="#{energy_weapons}"
								>
									<i class="fa-fw fas fa-bolt"></i>
								</a>
							</li>
							<li class="nav-item" th:if="${!turnDone && starbase.canBeUpgraded() && starbase.showRemainingTabs()}">
								<a
									href="javascript:;"
									class="nav-link"
									th:classappend="${'production-projectileweapon'.equals(subPage)} ? 'active' : ''"
									id="skr-ingame-selection-panel-tab-production-projectileweapon"
									onclick="starbase.show('production-projectileweapon')"
									th:tooltip="#{projectile_weapons}"
								>
									<i class="fa-fw fas fa-rocket"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>

				<div th:if="${turnDone}" th:insert="~{ingame/turn-finished::content}"></div>
			</div>

			<div class="row skr-ingame-selection-panel" id="skr-starbase-selection">
				<div th:if="${subPageFragment != null}">
					<th:block th:replace="~{__${subPageFragment}__}"></th:block>
				</div>
			</div>
		</div>
	</body>
</html>
