<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content">
			<h5>
				<span class="normal" th:text="#{orbital_systems}">Orbital systems</span>
				<span
					th:insert="~{ingame/help::content}"
					th:with="id='orbital-systems',title=#{orbital_systems},content=#{help_infos_orbital_systems_intro_text},fragment='simple',toolTipFlow='down'"
				></span>
			</h5>

			<div class="row mt-3 g-0">
				<div class="col-sm-6 col-md-4 mb-2 pr-2" th:each="orbitalSystem, iter : ${orbitalSystems}">
					<skr-button
						style="height: 100%"
						type="button"
						th:id="|skr-orbitalsystem-${iter.index}|"
						th:tooltip="#{open_orbital_system}"
						class="btn btn-outline-primary form-control orbital-system-button"
						th:classappend="${orbitalSystem.type != null} ? 'orbital-system-built' : 'orbital-system-empty'"
						th:onclick="|orbitalSystems.showDetails(${orbitalSystem.id})|"
					>
						<div class="pt-3 pb-3" th:text="${orbitalSystem.type != null} ? #{'orbital_system_type_' + ${orbitalSystem.type.name()}} : #{orbital_system_empty_slot}">
							Orbital system name
						</div>
					</skr-button>
				</div>
			</div>
		</div>
	</body>
</html>
