<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="empty">
			<div class="skr-game-selection-message" id="skr-ingame-no-ships-in-orbit" th:text="#{no_ships_in_orbit}">
				No ships in orbit.
			</div>
		</div>

		<div th:fragment="content" class="mb-3">
			<div th:if="${!ownShips.isEmpty()}">
				<h5>
					<span class="normal" th:text="#{own_ships_in_orbit}">Own ships in orbit</span>
				</h5>
				<div
					id="skr-game-ship-scanner"
					th:insert="~{ingame/ship/scanner::ships}"
					th:with="ships=${ownShips},scanner=false,own=true"
				></div>
			</div>
			<div th:if="${!foreignShips.isEmpty()}">
				<h5>
					<span class="normal" th:text="#{foreign_ships_in_orbit}">Foreign ships in orbit</span>
				</h5>
				<div
					id="skr-game-ship-scanner"
					th:insert="~{ingame/ship/scanner::ships}"
					th:with="ships=${foreignShips},scanner=false,own=false"
				></div>
			</div>
		</div>
	</body>
</html>
