<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<p th:text="#{email_round_notification_salutation(${login.username})}">Greetings Username!</p>

	<p>
		<span th:text="#{email_game_started_notification_one}">Game</span>
		<b th:text="| ${game.name} |"></b>
		<span th:text="#{email_game_started_notification_two}">has been started!</span>
	</p>

	<p>
		<span th:text="#{email_game_started_notification_three}">Click </span>
		<a th:href="|${baseUrl}/ingame/game?id=${game.id}|" th:text="| #{email_game_started_notification_four} |">here</a>
		<span th:text="#{email_game_started_notification_five}"> to make your first turn!</span>
	</p>

	<p th:text="#{email_default_farewell}">Cheers,</p>

	<p>Skrupel TNG</p>
</body>
</html>