<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<p>
		The last round for game
		<span th:text="${gameId}">GameId</span>
		had an exception:
	</p>

	<p th:text="${stackTrace}">stacktrace</p>
</body>
</html>