<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<p th:text="#{email_round_notification_salutation(${login.username})}">Greetings Username!</p>

	<p>
		<span th:text="#{email_round_notification_one}">A new round has been calculated for game</span>
		<b th:text="| ${game.name}.|"></b>
	</p>

	<p>
		<span th:text="#{email_round_notification_two}">Click </span>
		<a th:href="|${baseUrl}/ingame/game?id=${game.id}|" th:text="| #{email_round_notification_three} |">here</a>
		<span th:text="#{email_round_notification_four}"> to make your next turn!</span>
	</p>

	<p th:text="#{email_default_farewell}">Cheers,</p>

	<p>Skrupel TNG</p>
</body>
</html>