<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div
	th:fragment="group-entry(group)"
	class="skr-fleet-fuel-group"
	th:with="ship=${group.ships.get(0)}, planet=${ship.planet},coord=${group.coordinate},groupId=|${coord.x}-${coord.y}|"
	th:id="|skr-fleet-fuel-group-${groupId}|"
	th:onmouseenter="|window.fleetShips.onMouseEnterShip(${coord.x}, ${coord.y})|"
	onmouseleave="window.fleetShips.onMouseLeaveShip()"
>
	<div class="fleet-group-head">
		<div class="fleet-group-head-label">
			<span th:text="#{ships_at}">Ships at</span>

			<th:block th:if="${planet != null}">
				<a
					th:if="${planet.player != null && planet.player.id == ship.player.id}"
					href="javascript:;"
					th:onclick="|ingame.select('planet', ${planet.id})|"
					th:text="${planet.name}"
				>
					Planet name
				</a>
				<span
					th:if="${planet.player == null || planet.player.id != ship.player.id}"
					th:text="${planet.name}"
				>
					Planet name
				</span>
			</th:block>

			<a
				th:if="${planet == null}"
				href="javascript:;"
				th:onclick="|ingame.showShipSelection(${coord.x}, ${coord.y})|"
				th:text="|X: ${coord.x} Y: ${coord.y}|"
			>
				X: 100 Y: 200
			</a>
		</div>

		<div class="d-inline-flex align-items-center">
			<th:block th:if="${planet != null}">
				<input
					type="range"
					class="form-range"
					th:value="${group.currentFuelPercentage}"
					th:max="${group.maxFuelPercentage}"
					th:groupId="|${groupId}|"
					th:id="|skr-range-slider-${groupId}|"
					oninput="window.fleetFuel.onFuelSliderChange(event, this.getAttribute('groupId'))">
				<div
					class="ms-2 me-3"
					th:id="|skr-range-slider-value-display-${groupId}|"
					th:text="|${#numbers.formatDecimal(group.currentFuelPercentage, 1, 'POINT', 0, 'COMMA')}%|"
				>
					54%
				</div>
				<skr-button
					type="button"
					class="btn btn-primary"
					th:text="#{apply}"
					th:coordX="${coord.x}"
					th:coordY="${coord.y}"
					th:planetId="${planet.id}"
					th:ownPlanet="${planet.player != null && planet.player.id == ship.player.id}"
					onclick="window.fleetFuel.applyPercentageValue(this.getAttribute('coordX'), this.getAttribute('coordY'), this.getAttribute('planetId'), this.getAttribute('ownPlanet'))"
				>
					Apply
				</skr-button>
			</th:block>

			<th:block th:if="${planet == null && group.ships.size() > 1}">
				<div
					class="me-3"
					th:insert="~{ingame/icon-label::content}"
					th:with="value=|${#numbers.formatDecimal(group.currentFuelPercentage, 1, 'POINT', 0, 'COMMA')}%|,icon='fas fa-circle'"
				></div>

				<skr-button
					th:if="${planet == null && !group.allShipsHaveEqualFuel}"
					type="button"
					class="btn btn-primary"
					th:text="#{equalize_fuel}"
					th:coordX="${coord.x}"
					th:coordY="${coord.y}"
					onclick="window.fleetFuel.equalize(this.getAttribute('coordX'), this.getAttribute('coordY'))"
				>
					Equalize Lemin
				</skr-button>
			</th:block>

			<div class="btn-group">
				<skr-button
					type="button"
					class="btn btn-secondary collapser"
					data-bs-toggle="collapse"
					th:id="|fleet-group-collapse-button-${groupId}|"
					onclick="window.fleetFuel.toggleCaret(event.target)"
					th:data-bs-target="|#fleet-group-body-${groupId}|"
				>
					<i class="fas fa-caret-down"></i>
					<i class="fas fa-caret-up" style="display: none;"></i>
				</skr-button>
			</div>
		</div>
	</div>
	<div class="fleet-group-body collapse show" th:id="|fleet-group-body-${groupId}|">
		<div class="row">
			<div
				class="col-sm-6 fuel-ship-item"
				th:id="|fuel-ship-item-${ship.id}|"
				th:each="ship : ${group.ships}"
			>
				<img th:src="${ship.createFullImagePath()}" th:onclick="|ingame.select('ship', ${ship.id})|">
				<div class="w-100 ps-2">
					<div
						th:classappend="${ship.fleet.leader.id == ship.id} ? 'fw-bold' : ''" th:text="${ship.name}"
						flow="down"
						th:tooltip="${ship.fleet.leader.id == ship.id} ? #{fleet_leader} : ''"
					>
						Ship name
					</div>
					<div
						th:insert="~{ingame/icon-label::content}"
						th:with="value=|${ship.fuel} / ${ship.shipTemplate.fuelCapacity} (${#numbers.formatDecimal(T(java.lang.Math).floor(100f * ship.fuel / ship.shipTemplate.fuelCapacity), 1, 'POINT', 0, 'COMMA')}%)|,
							icon='fas fa-circle'"
					></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div th:fragment="content" id="skr-ingame-fleet-fuel">
	<h5>
		<span class="normal" th:text="#{fill_tanks}">Fill tanks</span>
		<span
			th:insert="~{ingame/help::content}"
			th:with="id='fleet-fuel',title=#{help_fleet_fuel_title},fragment='simple',content=#{help_fleet_fuel_content},toolTipFlow='down'"
		></span>
	</h5>

	<div th:each="group : ${fuelGroups}">
		<div th:replace="~{::group-entry(${group})}"></div>
	</div>
</div>
</body>
</html>
