<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="success">
			<div class="skr-game-selection-message" id="skr-ingame-fleet-tactics-success" th:text="#{tactics_changed}">Tactics changed!</div>
		</div>
		<div th:fragment="content" id="skr-game-tactics-content">
			<h5>
				<span class="normal" th:text="#{tactics}">Tactics</span>
				<span
					th:insert="~{ingame/help::content}"
					th:with="id='fleet-tasks',title=#{tactics},fragment='simple',content=#{help_fleet_tactics_content},toolTipFlow='down'"
				></span>
			</h5>

			<div class="row mb-2" th:if="${resourceData.hasDifferentAggressivenesses}">
				<div class="col-12" th:text="#{fleet_different_aggressivenesses}">
					The aggressiveness values for the ships in the fleet are not the same. The value below represents the average. It can be set to the same value by using the
					slider.
				</div>
			</div>

			<div class="row mb-1">
				<div class="col-3">
					<b th:text="|#{aggressiveness}:|">Aggressiveness:</b>
				</div>
				<div class="col-9">
					<div class="w-100 d-inline-flex align-items-center">
						<span th:text="|#{current_aggressiveness}:|">Current:</span>
						<span class="ms-1 me-2" id="skr-ingame-fleet-tactics-aggressiveness-label" th:text="|${resourceData.averageAggressiveness}%|">20%</span>
						<input
							type="range"
							class="form-range"
							oninput="window.fleetTactics.onChangeAggressiveness(event)"
							id="skr-ingame-aggressiveness-slider"
							min="0"
							max="100"
							th:value="${resourceData.averageAggressiveness}"
						/>
						<span class="ms-2" th:text="|#{max_aggressiveness}:|">Max:%</span>
						<span class="ms-1">100%</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 text-center">
					<skr-button type="button" onclick="fleetTactics.save()" class="btn btn-primary" th:text="#{save}">Save</skr-button>
				</div>
			</div>
		</div>
	</body>
</html>
