<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
	<head>
		<title th:text="|#{anomalies} - #{application_name}|"></title>
	</head>
	<body>
		<section layout:fragment="content">
			<nav aria-label="breadcrumb" class="pt-2">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="/infos" th:text="#{infos}" id="skr-infos-breadcrumb-infos">Infos</a>
					</li>
					<li class="breadcrumb-item active" th:text="#{anomalies}">Anomalies</li>
				</ol>
			</nav>
			<div class="row">
				<div class="col-12">
					<h4 th:text="#{wormholes}">Wormholes</h4>
					<div class="d-inline-flex align-items-center">
						<div class="skr-infos-anomalie-image-wrapper">
							<div class="skr-infos-anomalie-background">
								<img style="left: 10px; top: 10px;" src="/images/anomalies/STABLE_WORMHOLE.gif" />
							</div>
						</div>
						<div th:text="#{help_infos_anomalies_wormholes}">
							There are 2 kinds of wormholes. Stable ones connect to a fixed exit point while unstable ones don't. The only way to know is to fly through one. If your ship exits the wholehole right next to another one you know it's stable but if the
							ship exits at a random location its an unstable one that just throws ships around the galaxy.
						</div>
					</div>

					<h4 th:text="#{help_infos_anomalies_jump_portals}">Jump portals</h4>
					<div class="d-inline-flex align-items-center">
						<div class="skr-infos-anomalie-image-wrapper">
							<div class="skr-infos-anomalie-background">
								<img style="left: 20px; top: 20px;" src="/images/anomalies/JUMP_PORTAL.gif" />
							</div>
						</div>
						<div th:text="#{help_infos_anomalies_jump_portals_text}">
							Some factions have ships that can create jump portals. These act as stable wormholes once both ends are constructed.
						</div>
					</div>

					<h4 th:text="#{space_folds}">Space folds</h4>
					<div class="d-inline-flex align-items-center">
						<div class="skr-infos-anomalie-image-wrapper">
							<div class="skr-infos-anomalie-background">
								<img style="left: 23px; top: 23px;" src="/images/anomalies/spaceFold.gif" />
							</div>
						</div>
						<div th:utext="#{help_infos_anomalies_space_folds}">
							Space folds can transport resources across vast distances. More details can be found
							<a href="/infos/starbases#spacefolds" target="_blank">here</a>
						</div>
					</div>

					<h4 th:text="#{plasma_storms}">Plasma storms</h4>
					<div class="d-inline-flex align-items-center">
						<div class="skr-infos-anomalie-image-wrapper">
							<div class="skr-infos-anomalie-background">
								<img style="left: 5px; top: 5px;" src="/images/plasmastorms/1.png" />
								<img style="left: 30px; top: 10px;" src="/images/plasmastorms/2.png" />
								<img style="left: 15px; top: 20px;" src="/images/plasmastorms/1.png" />
								<img style="left: 20px; top: 40px;" src="/images/plasmastorms/2.png" />
								<img style="left: 40px; top: 30px;" src="/images/plasmastorms/2.png" />
								<img style="left: 5px; top: 5px;" src="/images/plasmastorms/2.png" />
								<img style="left: 30px; top: 10px;" src="/images/plasmastorms/1.png" />
								<img style="left: 15px; top: 20px;" src="/images/plasmastorms/1.png" />
								<img style="left: 20px; top: 40px;" src="/images/plasmastorms/2.png" />
								<img style="left: 40px; top: 30px;" src="/images/plasmastorms/1.png" />
							</div>
						</div>
						<div th:text="#{help_infos_anomalies_plasma_storms}">
							Plasma storms hinder space travel. Ships can only travel with warp 5 through them. They appear at random at last a random amount of time. This can be configured at game creation.
						</div>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>
