<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
	<head>
		<title th:text="|#{controls} - #{application_name}|"></title>
	</head>
	<body>
		<section layout:fragment="content">
			<nav aria-label="breadcrumb" class="pt-2">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="/infos" th:text="#{infos}" id="skr-infos-breadcrumb-infos">Infos</a>
					</li>
					<li class="breadcrumb-item active" th:text="#{controls}">Controls</li>
				</ol>
			</nav>
			<div class="row">
				<div class="col-12">
					<h4 th:text="#{hotkeys}">Hotkeys</h4>
					<p th:utext="#{hotkeys_description}"></p>

					<h4 th:text="#{galaxy_right_click}">Galaxy right click</h4>
					<p th:utext="#{galaxy_right_click_description}"></p>

					<h4 th:text="#{ship_building}">Ship building</h4>
					<p th:utext="#{ship_building_description}"></p>
				</div>
			</div>
		</section>
	</body>
</html>
