<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
	<head>
		<title th:text="|#{game_modes} - #{application_name}|"></title>
	</head>
	<body>
		<section layout:fragment="content">
			<nav aria-label="breadcrumb" class="pt-2">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="/infos" th:text="#{infos}" id="skr-infos-breadcrumb-infos">Infos</a>
					</li>
					<li class="breadcrumb-item active" th:text="#{game_modes}">Game modes</li>
				</ol>
			</nav>
			<div class="row">
				<div class="col-12">
					<h4 th:text="#{win_condition_NONE}">Just for fun</h4>
					<p>
						<span th:text="#{help_game_options_win_condition_NONE}"></span>
						<span th:text="#{help_game_options_win_condition_relationship_free_choice}"></span>
					</p>

					<h4 th:text="#{win_condition_SURVIVE}">Survive</h4>
					<p>
						<span th:text="#{help_game_options_win_condition_SURVIVE}"></span>
						<span th:text="#{help_game_options_win_condition_relationship_free_choice}"></span>
					</p>

					<h4 th:text="#{win_condition_DEATH_FOE}">Death foe</h4>
					<p>
						<span th:text="#{help_game_options_win_condition_DEATH_FOE}"></span>
						<span th:text="#{help_game_options_win_condition_DEATH_FOE_more_details}"></span>
					</p>

					<h4 th:text="#{win_condition_MINERAL_RACE}">Mineral race</h4>
					<p>
						<span th:text="#{help_game_options_win_condition_MINERAL_RACE}"></span>
						<span th:text="#{help_game_options_win_condition_relationship_free_choice}"></span>
						<span th:text="#{help_game_options_win_condition_MINERAL_RACE_more_details}"></span>
					</p>

					<h4 th:text="#{win_condition_INVASION}">Invasion</h4>
					<p>
						<span th:text="#{help_game_options_win_condition_INVASION}"></span>
						<span th:utext="#{help_game_options_win_condition_INVASION_more_details}"></span>
					</p>

					<h4 th:text="#{win_condition_CONQUEST}">Conquest</h4>
					<p>
						<span th:text="#{help_game_options_win_condition_CONQUEST}"></span>
						<span th:utext="#{help_game_options_win_condition_CONQUEST_more_details}"></span>
					</p>
				</div>
			</div>
		</section>
	</body>
</html>
