<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{dashboard/layout}"
>
	<head>
		<title th:text="|#{round_calculation_order} - #{application_name}|"></title>
	</head>
	<body>
		<section layout:fragment="content">
			<nav aria-label="breadcrumb" class="pt-2">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="/infos" th:text="#{infos}" id="skr-infos-breadcrumb-infos">Infos</a>
					</li>
					<li class="breadcrumb-item active" th:text="#{round_calculation_order}">Round calculation order</li>
				</ol>
			</nav>
			<div class="row">
				<div class="col-12">
					<p th:text="#{help_infos_round_calculation_order_intro}">
						When all players finished their turns the next round is calculated automatically. What abilities and
						functions are calculated in which order is documented here:
					</p>

					<ol>
						<li th:text="#{ship_ability_GRAVITY_WAVE_GENERATOR}">Gravity wave generator</li>
						<li th:text="#{ship_ability_JUMP_ENGINE}">Jump engine</li>
						<li th:text="#{ship_ability_SUB_SPACE_DISTORTION}">Subspace distortion</li>
						<li th:text="#{ship_ability_EVADE_PERFECT}">Lloyds evasion</li>
						<li th:text="#{help_infos_round_calculation_order_ship_travel}">Ship travel</li>
						<li th:text="#{task_tractor_beam}">Tractor beams</li>
						<li th:text="#{wormholes}">Wormholes</li>
						<li th:text="#{task_auto_destruction}" th:if="${autoDestructEnabled}">Auto destruction</li>
						<li th:text="#{space_folds}">Space folds</li>
						<li th:text="#{help_infos_round_calculation_order_automatic_projectile_construction}">
							Automatic projectile construction
						</li>
						<li th:text="#{help_infos_round_calculation_order_ship_construction}">Ship construction in starbases</li>
						<li th:text="#{help_infos_round_calculation_order_gravity}">Ships being affected by gravity of planets</li>
						<li th:text="#{task_clear_mine_field}">Clear mine field</li>
						<li th:text="#{help_infos_round_calculation_order_mine_field_depletion}">Mine field depletion</li>
						<li th:text="#{help_infos_round_calculation_order_mine_field_damaging_ships}">Mine field damaging ships</li>
						<li th:text="#{orbital_combat}">Orbital combat</li>
						<li th:text="#{space_combat}">Space combat</li>
						<li th:text="#{help_infos_round_calculation_order_ship_evasion_of_allied_planets}">
							Ship evasion of allied planets
						</li>
						<li th:text="#{help_infos_round_calculation_order_mine_field_creation}">Mine field creation</li>
						<li th:text="#{ship_ability_QUARK_REORGANIZER}">Quarks reorganizer</li>
						<li th:text="#{ship_ability_SUB_PARTICLE_CLUSTER}">Subparticle cluster</li>
						<li th:text="#{ship_ability_DESTABILIZER}">Destabilizer</li>
						<li th:text="#{task_ship_recycle}">Ship recycle</li>
						<li th:text="#{task_repair}">Ship repair</li>
						<li th:text="#{task_hire_crew}">Crew hire</li>
						<li th:text="#{task_autorefuel}">Auto refuel</li>
						<li th:text="#{task_planet_bombardment}">Planetary bombardment</li>
						<li th:text="#{ship_ability_VIRAL_INVASION}">Viral invasion</li>
						<li th:text="#{ship_ability_TERRA_FORMER_WARM}">Terraformer</li>
						<li th:text="#{ship_ability_JUMP_PORTAL}">Jump portal construction</li>
						<li th:text="#{task_hunter_training}">Hunter training</li>
						<li th:text="#{ship_ability_CLOAKING_PERFECT}">Cloaking fields</li>
						<li th:text="#{drugun_converter}">Drugun converter</li>
						<li th:text="#{help_infos_round_calculation_order_update_ship_sensor_ranges}">Update ship sensor ranges</li>
						<li th:text="#{help_infos_round_calculation_order_new_founded_colonies}">New founded colonies</li>
						<li th:text="#{help_infos_round_calculation_order_planets}">
							Planets (building mines, factories, planetary defense, population growth etc.
						</li>
						<li th:text="#{pirates}">Pirates</li>
						<li th:text="#{help_infos_round_calculation_order_automatic_routes}">
							Automatic routes: exchange resources with planets
						</li>
						<li th:text="#{plasma_storms}">Plasma storms</li>
						<li th:text="#{ground_combat}">Ground combat</li>
						<li th:text="#{help_infos_round_calculation_order_update_planet_sensor_ranges}">
							Update planet sensor ranges
						</li>
						<li th:text="#{help_infos_round_calculation_order_check_conditions}">Check lose and win conditions</li>
						<li th:text="#{help_infos_round_calculation_order_ai_players}">AI players</li>
					</ol>
				</div>
			</div>
		</section>
	</body>
</html>
