<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
	<head>
		<title th:text="|#{ships} - #{application_name}|"></title>
	</head>
	<body>
		<section layout:fragment="content">
			<nav aria-label="breadcrumb" class="pt-2">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="/infos" th:text="#{infos}" id="skr-infos-breadcrumb-infos">Infos</a>
					</li>
					<li class="breadcrumb-item active" th:text="#{ships}">Ships</li>
				</ol>
			</nav>
			<div class="row">
				<div class="col-12">
					<p th:utext="#{help_infos_ships_intro}">
						Ships are build in <a href="/infos/starbases" th:text="#{starbases}" target="_blank">starbases</a>. Each <a href="/infos/factions" th:text="#{faction}" target="_blank">faction</a> has different ship types that have different abilities.
						Ships consume fuel (Lemin) while traveling and can transport any kind of resource. They can have weapons and fight other ships. When they enter a planet's orbit they can exchange resources with this planet. Some ships have special
						abilities that make them more useful than others in certain situations.
					</p>

					<h4 th:text="#{ship_attributes}">Ship attributes</h4>
					<p th:text="#{help_infos_ship_attributes_intro}">Every ship type has different attributes that make it unique.</p>

					<div class="row">
						<div class="col-12 col-md-6 col-lg-4">
							<h5 th:text="#{tech_level}">Techlevel</h5>
							<p th:text="#{help_infos_ship_attributes_tech_level}">
								The techlevel of a ship type determines what hull techlevel a starbase must be have in order for the starbase to produce the hull of the ship. Generally the higher the techlevel the more advanced but also the more expensive ships are.
							</p>
						</div>

						<div class="col-12 col-md-6 col-lg-4">
							<h5 th:text="#{crew}">Crew</h5>
							<p th:text="#{help_infos_ship_attributes_crew}">
								The number of crewmen a ship has determines how easy it is to capture it.
							</p>
						</div>

						<div class="col-12 col-md-6 col-lg-4">
							<h5 th:text="#{mass}">Mass</h5>
							<p th:text="#{help_infos_ship_attributes_mass}">
								The higher the mass of a ship the more shield it has, the more damage it can take and the more Lemin it consumes.
							</p>
						</div>

						<div class="col-12 col-md-6 col-lg-4">
							<h5 th:text="#{fuel_tank}">Fuel tank</h5>
							<p th:text="#{help_infos_ship_attributes_fuel_tank}">
								The bigger the tank the more fuel it can store. As small ships with small masses consume less Lemin they generally have smaller tanks as well.
							</p>
						</div>

						<div class="col-12 col-md-6 col-lg-4">
							<h5 th:text="#{storage_space}">Storage space</h5>
							<p th:text="#{help_infos_ship_attributes_storage_space}">
								Ships can transport Cantox, colonists, supplies and minerals. Cantox does not need any, 100 colonists use up 1 KT of space and supplies and minerals take up 1 KT.
							</p>
						</div>

						<div class="col-12 col-md-6 col-lg-4">
							<h5 th:text="#{propulsion_systems}">Propulsion systems</h5>
							<p th:text="#{help_infos_ship_attributes_propulsion_systems}">
								The propulsion system count determines how many engines a ship needs in order to be completed. More engines don't have any effect on a ship, they only cost a lot so a ship with a high engine count costs more in total to complete.
							</p>
						</div>

						<div class="col-12 col-md-6 col-lg-4">
							<h5 th:text="#{energy_weapons}">Energy weapons</h5>
							<p th:text="#{help_infos_ship_attributes_energy_weapons}">
								Determines how many energy weapons a ship needs in order to be completed. The more weapons a ship has the better it is at combat but they also cost a lot so a ship with high weapon count costs more in total to complete.
							</p>
						</div>

						<div class="col-12 col-md-6 col-lg-4">
							<h5 th:text="#{projectile_weapons}">Projectile weapons</h5>
							<p th:text="#{help_infos_ship_attributes_projectile_weapons}">
								Determines how many projectile weapons a ship needs in order to be completed. The more weapons a ship has the better it is at combat but they also cost a lot so a ship with high weapon count costs more in total to complete. This
								weapon type actually needs projectiles to be used in combat. They can be build on the ship. Projectiles hit the enemy with a probabilty of 66%, but this can be increased by 6 percentage points for each experience level a ship has
								gained. Projectiles can also be converted into mines to create a mine field around the ship that damages enemy ships.
							</p>
						</div>

						<div class="col-12 col-md-6 col-lg-4">
							<h5 th:text="#{hangar}">Hangar</h5>
							<p th:text="#{help_infos_ship_attributes_hangar}">
								Determines how many hangars a ship has to launch interceptors in combat. Interceptors don't need to be build and they can also be used to clear mine fields.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>
