<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{dashboard/layout}"
>
	<body>
		<div th:fragment="modal">
			<div class="modal" th:id="|skr-ship-image-modal-${template.id}|" tabindex="-1" role="dialog">
				<div class="modal-dialog modal-lg skr-ship-image-modal" role="document">
					<div class="modal-content skr-ship-image-modal-content">
						<div class="modal-header">
							<h5 th:text="${@masterDataService.getShipTemplateName(template)}">Ship name</h5>
							<skr-button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></skr-button>
						</div>
						<div class="modal-body">
							<img th:src="${template.createFullBigImagePath()}" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
