<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{dashboard/layout}"
>
	<head>
		<title th:text="|#{combat_calculator_space} - #{application_name}|"></title>
	</head>
	<body>
		<div th:fragment="half(postfix, title)" class="col-6">
			<div class="row">
				<div class="col-12 fw-bold mb-3" th:text="#{${title}}"></div>
				<div class="col-6">
					<label th:for="|hull${postfix}|" th:text="#{select_hull}"></label>
				</div>
				<div class="col-6">
					<select class="form-select" th:id="|hull${postfix}|" th:name="|hull${postfix}|">
						<option
							th:each="hull : ${hulls}"
							th:disabled="${hull.key.startsWith('DISABLED')}"
							th:value="${hull.key}"
							th:text="${hull.value}"
							th:selected="${param.get('hull' + postfix) != null && hull.key.equals(param.get('hull' + postfix).toString())}"
						></option>
					</select>
				</div>
				<div class="col-6">
					<label th:for="|energy${postfix}|" th:text="#{energy_weapons}"></label>
				</div>
				<div class="col-6">
					<select class="form-select" th:id="|energy${postfix}|" th:name="|energy${postfix}|">
						<option
							th:each="energy : ${energies}"
							th:value="${energy.value}"
							th:text="${energy.key}"
							th:selected="${param.get('energy' + postfix) != null && energy.value.equals(param.get('energy' + postfix).toString())}"
						></option>
					</select>
				</div>
				<div class="col-6">
					<label th:for="|projectile${postfix}|" th:text="#{projectile_weapons}"></label>
				</div>
				<div class="col-6">
					<select class="form-select" th:id="|projectile${postfix}|" th:name="|projectile${postfix}|">
						<option
							th:each="projectile : ${projectiles}"
							th:value="${projectile.value}"
							th:text="${projectile.key}"
							th:selected="${param.get('projectile' + postfix) != null && projectile.value.equals(param.get('projectile' + postfix).toString())}"
						></option>
					</select>
				</div>
				<div class="col-6">
					<label th:for="|projectile${postfix}cnt|" th:text="#{available_projectile_count}"></label>
				</div>
				<div class="col-6">
					<input
						class="form-control"
						type="number"
						th:id="|projectile${postfix}cnt|"
						th:name="|projectile${postfix}cnt|"
						min="0"
						max="100"
						th:value="${param.get('projectile' + postfix + 'cnt') != null} ? ${param.get('projectile' + postfix + 'cnt')} : '0'"
					/>
				</div>
				<div class="col-6">
					<label th:for="|damage${postfix}|" th:text="#{damage}"></label>
				</div>
				<div class="col-6">
					<input
						class="form-control"
						type="number"
						th:id="|damage${postfix}|"
						th:name="|damage${postfix}|"
						min="0"
						max="100"
						th:value="${param.get('damage' + postfix) != null} ? ${param.get('damage' + postfix)} : '0'"
					/>
				</div>
				<th:block th:if="${!postfix.equals('')}">
					<div class="col-6">
						<label th:for="|support${postfix}|" th:text="#{support}"></label>
					</div>
					<div class="col-6">
						<input
							class="form-control"
							type="number"
							th:id="|support${postfix}|"
							th:name="|support${postfix}|"
							min="0"
							max="1000"
							th:value="${param.get('support' + postfix) != null} ? ${param.get('support' + postfix)} : '0'"
						/>
					</div>
					<div class="col-6">
						<label th:for="|capture${postfix}|" th:text="#{capture_mode_on}"></label>
					</div>
					<div class="col-6">
						<select class="form-select" th:id="|capture${postfix}|" th:name="|capture${postfix}|">
							<option
								th:selected="${param.get('capture' + postfix) != null && param.get('capture' + postfix).toString().equals('true')}"
								th:text="#{yes}"
								value="true"
							>
								Yes
							</option>
							<option
								th:selected="${param.get('capture' + postfix) != null && param.get('capture' + postfix).toString().equals('false') || param.get('capture' + postfix) == null}"
								th:text="#{no}"
								value="false"
							>
								No
							</option>
						</select>
					</div>
					<div class="col-6">
						<label th:for="|tactics${postfix}|" th:text="#{tactics}"></label>
					</div>
					<div class="col-6">
						<select class="form-select" th:id="|tactics${postfix}|" th:name="|tactics${postfix}|">
							<option
								th:each="tacticItem : ${tacticItems}"
								th:value="${tacticItem.name()}"
								th:text="#{'ship_tactics_' + ${tacticItem.name()}}"
								th:selected="${param.get('tactics' + postfix) != null && tacticItem.name().equals(param.get('tactics' + postfix).toString()) || param.get('tactics' + postfix) == null && tacticItem.name().equals('STANDARD')}"
							></option>
						</select>
					</div>
					<div class="col-12 mt-2">
						<span th:text="${postfix.equals('1')} ? #{combat_result_me} : #{combat_result_enemy}"></span>
						<span
							class="fw-bold"
							th:id="|skr-combat-calculation-result-survive-${postfix}|"
							th:text="|${#numbers.formatDecimal(postfix.equals('1') ? result.survivalPercentage : result.enemySurvivalPercentage, 1, 'POINT', 1, 'COMMA')} %|"
						>
							0.0 %
						</span>
						<span class="skr-performance-icon">
							<i th:class="'fa-fw ' + ${postfix.equals('1') ? result.survivalIcon : result.enemySurvivalIcon}"></i>
						</span>
					</div>
					<div class="col-12 mt-2">
						<span th:text="${postfix.equals('1')} ? #{capture_result_me} : #{capture_result_enemy}"> </span>
						<span
							class="fw-bold"
							th:id="|skr-combat-calculation-result-capture-${postfix}|"
							th:text="|${#numbers.formatDecimal(postfix.equals('1') ? result.enemyCapturePercentage : result.capturePercentage, 1, 'POINT', 1, 'COMMA')} %|"
						>
							0.0 %
						</span>
						<span class="skr-performance-icon">
							<i th:class="'fa-fw ' + ${postfix.equals('1') ? result.enemyCaptureIcon : result.captureIcon}"></i>
						</span>
					</div>
				</th:block>
			</div>
		</div>

		<section layout:fragment="content">
			<nav aria-label="breadcrumb" class="pt-2">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="/infos" th:text="#{infos}" id="skr-infos-breadcrumb-infos">Infos</a>
					</li>
					<li class="breadcrumb-item active" th:text="#{combat_calculator_space}"></li>
				</ol>
			</nav>

			<form
				action="#"
				th:action="@{/infos/combat-calculator/space}"
				method="get"
				id="skr-infos-space-combat-calculator"
			>
				<div class="row">
					<div th:replace="~{::half('1', 'our_ship')}"></div>
					<div th:replace="~{::half('2', 'enemy_ship')}"></div>
				</div>

				<script type="text/javascript">
					document.addEventListener('DOMContentLoaded', () => {
						const form = document.getElementById('skr-infos-space-combat-calculator');

						document
							.querySelectorAll('#skr-infos-space-combat-calculator input, #skr-infos-space-combat-calculator select')
							.forEach((elem) => {
								elem.addEventListener('change', () => {
									form.submit();
								});
							});
					});
				</script>
			</form>
		</section>
	</body>
</html>
