<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
<body>
	<section layout:fragment="content" class="container text-center">
		<h3 class="text-danger" th:text="#{account_not_found_or_already_activated}">The account does either not exists or it was already activated!</h3>
		<a href="/register" class="btn btn-primary" th:text="#{create_account}">Create new account</a>
	</section>
</body>
</html>