<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
	<body>
		<div th:fragment="modal" id="skr-feedback-modal-wrapper">
			<div class="modal" id="skr-feedback-modal" tabindex="-1" role="dialog">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content" id="skr-feedback-modal-content">
						<div class="modal-header">
							<h5 th:text="#{give_feedback_or_report_bug}">Give feedback or report bug</h5>
							<skr-button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></skr-button>
						</div>
						<div class="modal-body">
							<textarea class="form-control" id="skr-feedback-text" cols="60" rows="15"></textarea>
						</div>
						<div class="modal-footer">
							<skr-button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="feedbackModal.send()" th:text="#{send}"> Send </skr-button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
