<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="content">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<h4 class="card-title text-center" th:text="#{you_lost}">You lost</h4>
					<div class="card-body">
						<div class="fw-bold text-center" th:text="${loseText}"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-12">
								<div th:insert="~{players-ranking::content}" th:with="players=${playerSummaries}"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
