<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<th:block th:fragment="player-result-items" class="skr-player-result-items">
	<option
		th:each="item : ${results}"
		th:text="${item.playerName}"
		class="skr-player-result-item"
		th:id="|skr-player-result-item-${item.playerName}|"
		th:loginId="${item.id}"
	>
		Player name
	</option>
</th:block>


<div th:fragment="team-modal(modalType, actionText)">
	<div class="modal" th:id="|${modalType}-team-modal|" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<input type="text"
						   class="form-control"
						   th:id="|${modalType}-team-name-input|"
						   maxlength="64"
						   th:modalType="${modalType}"
						   onkeyup="window.game.onChangeTeamNameInput(event, this.getAttribute('modalType'))"
						   th:placeholder="#{name}">
				</div>
				<div class="modal-footer ">
					<skr-button type="button"
								class="btn btn-secondary me-auto"
								data-bs-dismiss="modal"
								th:text="#{cancel}">
						Cancel
					</skr-button>

					<div class="alert text-center alert-warning pt-1 pb-1"
						 style="display: none"
						 th:id="|${modalType}-duplicate-name-warning|">
						Team with that name already exists!
					</div>

					<skr-button type="button"
								class="btn btn-primary ms-auto"
								th:id="|${modalType}-team-button|"
								th:modalType="${modalType}"
								onclick="window.game.changeTeam(this.getAttribute('modalType'))"
								th:text="${actionText}">
						Add team
					</skr-button>
				</div>
			</div>
		</div>
	</div>
</div>

<div th:fragment="playerTable(players, factions, title, team)">
	<div th:id="|player-table-${team.id}|"
		 class="card"
		 th:classappend="${team != null && team.name != null} ? |player-table-team-${team.name.replace(' ', '-')}| : ''">
		<div class="card-header">
			<div class="row">
				<div class="col-6">
					<h3 class="card-title mb-0" th:text="${title}">Title</h3>
				</div>
				<div class="col-6 text-end">
					<skr-button
						type="button"
						class="btn btn-success join-this-team-button me-1"
						th:if="${showJoinTeamButtons && currentTeam != null && currentTeam.id != team.id}"
						th:teamId="${team.id}"
						onclick="window.game.joinTeam(this.getAttribute('teamId'))"
						th:text="#{join_this_team}"
					>
						Join this team
					</skr-button>
					<skr-button
						type="button"
						class="btn btn-primary rename-team-button me-1"
						th:if="${showJoinTeamButtons && showAddTeamButton}"
						th:teamId="${team.id}"
						th:teamName="${team.name}"
						onclick="window.game.onClickRenameTeamButton(this.getAttribute('teamId'), this.getAttribute('teamName'))"
						th:text="#{rename_team}"
					>
						Rename team
					</skr-button>
					<skr-button
						type="button"
						class="btn btn-danger remove-team-button"
						th:if="${showJoinTeamButtons && canEdit && (team.players == null || team.players.isEmpty())}"
						th:teamId="${team.id}"
						onclick="window.game.removeTeam(this.getAttribute('teamId'))"
						th:text="#{remove_team}"
					>
						Remove team
					</skr-button>
				</div>
			</div>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-sm-12">
					<table id="skr-game-players" class="table">
						<thead>
						<tr>
							<th scope="col" th:text="#{name}">Name</th>
							<th scope="col" th:text="#{faction}">Faction</th>
							<th scope="col"></th>
							<th scope="col"></th>
						</tr>
						</thead>
						<tbody>
						<tr th:each="player : ${players}">
							<td class="skr-player-name">
								<span th:tooltip="#{turn_finished}" flow="upright">
									<i
										th:if="${showFinishedTurnsColumn && player.turnFinished}"
										class="fa-fw fa fa-check-double"
									></i>
								</span>
								<span
									class="skr-player-name-label"
									th:text="${player.aiLevel != null} ? #{${player.aiLevel.name()}} : ${player.login.username}">
									Username
								</span>
							</td>
							<td>
								<th:block
									th:if="${!((player.login.id == currentLoginId || (player.aiLevel != null && currentLoginId == game.creatorId)) && !game.started)}"
								>
									<span th:if="${player.faction != null && game.enableWysiwyg}" th:text="#{faction_selected}">
										Faction selected
									</span>
									<span
										th:if="${player.faction != null && !game.enableWysiwyg}"
										th:text="${@masterDataService.getI18NValue(player.faction.id)}"
									>
										Orion Conglomerate
									</span>
									<span th:if="${player.faction == null}" th:text="#{not_selected}">Not selected</span>
								</th:block>
								<select
									class="form-select skr-game-faction-select"
									th:if="${(player.login.id == currentLoginId || (player.aiLevel != null && currentLoginId == game.creatorId)) && !game.started}"
									th:data1="${player.id}"
									th:data2="${player.aiLevel}"
									onchange="window.game.changePlayerFaction(event.target.value, this.getAttribute('data1'), this.getAttribute('data2'))"
								>
									<option value="" th:text="#{select_faction_prompt}">Select faction...</option>
									<option
										th:each="faction : ${factions}"
										th:selected="${player.faction != null && player.faction.id == faction.id}"
										th:value="${faction.id}"
										th:text="${@masterDataService.getI18NValue(faction.id)}"
									>
										Orion Conglomerate
									</option>
								</select>
							</td>
							<th:block th:if="${currentLoginId != player.login.id && !game.started && game.creatorId == currentLoginId}">
								<td>
									<skr-button
										type="button"
										class="btn btn-danger skr-game-remove-player-button"
										th:onclick="|window.game.removePlayer(${player.id})|"
									>
										<i class="fas fa-trash-alt"></i>
										<span class="d-none d-sm-none d-md-inline-block" th:text="#{remove}">Remove</span>
									</skr-button>
								</td>
								<td>
									<select class="form-select"
											th:playerId="${player.id}"
											th:if="${useFixedTeams && teams.size() > 1}"
											onchange="window.game.changePlayerTeam(this.getAttribute('playerId'), event.target.value)">
										<option value="0" th:text="#{change_team}">Change team...</option>
										<option th:each="team : ${teams}"
												th:if="${team.id != player.team.id}"
												th:value="${team.id}"
												th:text="${team.name}">
											Team name
										</option>
									</select>
								</td>
							</th:block>
							<th:block th:if="${!(currentLoginId != player.login.id && !game.started && game.creatorId == currentLoginId)}">
								<td></td>
								<td></td>
							</th:block>
						</tr>
						<tr th:if="${!game.started && !gameFull && currentLoginId == game.creatorId}">
							<td>
								<skr-button
									type="button"
									id="skr-game-add-player-button"
									disabled
									th:teamId="${team.id}"
									onclick="window.game.onClickAddPlayer(this.getAttribute('teamId'))"
									class="btn btn-primary"
									th:text="#{add}"
								>
									Add
								</skr-button>
							</td>
							<td>
								<input
									th:list="|skr-game-player-search-list-${team.id}|"
									th:id="|skr-game-player-search-${team.id}|"
									th:placeholder="#{search_for_players}"
									autocomplete="off"
									class="form-control skr-game-player-search-input"
									onkeydown="window.game.searchPlayers(event)"
									onchange="window.game.selectPlayer(event)"
								/>
								<datalist
									th:id="|skr-game-player-search-list-${team.id}|"
									th:insert="~{::player-result-items}"
									th:with="results=${loginSearchResults}"
								></datalist>
							</td>
							<td></td>
							<td></td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<div th:fragment="content">
	<div th:insert="~{::team-modal('add', #{add_team})}"></div>
	<div th:insert="~{::team-modal('rename', #{rename_team})}"></div>

	<div class="alert text-center alert-info" th:if="${guest && !game.started}" id="skr-game-guest-ai-info-text">
		<span th:text="#{guest_ai_info_text}">
			Guest accounts are automatically deleted after 48 hours, so you can only invite AI players to your games!
		</span>
	</div>

	<div class="alert text-center alert-warning" th:if="${showGameStartHint}">
		<span th:text="#{game_start_hint}">The game can be started as soon as every player has chosen a faction.</span>
	</div>

	<div class="alert text-center alert-warning" th:if="${showNotEnoughPlayersToStartHint}">
		<span th:text="#{at_least_two_players_required_for_game_start}">At least 2 players are required for the game to be started!</span>
	</div>

	<div id="skr-buttons" class="row">
		<div class="col-12">
			<skr-button
				type="button"
				th:if="${showPlayButton}"
				class="btn btn-primary"
				id="skr-play-button"
				th:onclick="|window.location.href = '/ingame/game?id=${game.id}'|"
			>
				<i class="text-white fa-fw fas fa-play"></i>
				<span th:text="#{play}">Play</span>
			</skr-button>
			<skr-button
				type="button"
				th:if="${showStartButton}"
				id="skr-start-game-button"
				class="btn btn-success me-1"
				onclick="window.game.startGame()"
			>
				<i class="fa-fw fas fa-play text-white"></i>
				<span th:text="#{start_game}">Start game</span>
			</skr-button>
			<skr-button
				type="button"
				th:if="${showAddTeamButton}"
				id="skr-add-team-button"
				class="btn btn-primary"
				onclick="window.game.onClickAddTeamButton()"
			>
				<i class="fa-fw fa fa-plus text-white"></i>
				<span th:text="#{add_team}">Add team</span>
			</skr-button>
			<skr-button
				type="button"
				th:if="${showJoinGameButton}"
				class="btn btn-primary"
				id="skr-join-game-button"
				th:text="#{join_game}"
				onclick="window.game.onClickJoinGame()"
			>
				Join game
			</skr-button>
			<skr-button
				type="button"
				th:if="${showLeaveGameButton}"
				class="btn btn-danger"
				id="skr-leave-game-button"
				th:text="#{leave_game}"
				onclick="window.game.leaveGame()"
			>
				Leave game
			</skr-button>
		</div>
	</div>
	<div class="row" th:if="${!useFixedTeams}">
		<div class="col-12">
			<div
				th:insert="~{::playerTable(${players}, ${factions}, #{players}, ${emptyTeam})}"
			></div>
		</div>
	</div>
	<div class="row" th:if="${useFixedTeams}">
		<div class="col-12 col-lg-6" th:each="team : ${teams}">
			<div
				th:insert="~{::playerTable(${team.players}, ${factions}, |#{team} ${team.name}|, ${team})}"
			></div>
		</div>
	</div>
</div>
</body>
</html>
