<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection, HtmlFormInputWithoutLabel -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
<body>
<div th:fragment="options-container(id, title, helpText, innerTemplate)" class="col-lg-6">
	<div class="card">
		<div class="btn-group">
			<skr-button
				type="button"
				th:id="|skr-game-options-card-toggle-${id}|"
				class="text-start btn btn-secondary w-100 collapser skr-options-container-button"
				data-bs-toggle="collapse"
				th:data-bs-target="|#skr-game-options-${id}|"
				th:text="${title}"
			>
				Title
			</skr-button>
			<skr-button
				type="button"
				class="btn btn-secondary dropdown-toggle collapser"
				data-bs-toggle="collapse"
				th:data-bs-target="|#skr-game-options-${id}|"
			></skr-button>
			<th:block th:insert="~{ingame/help::content}" th:with="id=${id},title=${title},fragment='simple',content=${helpText},button=true"></th:block>
		</div>
		<div class="card-body collapse" th:id="|skr-game-options-${id}|">
			<div class="row" th:insert="~{__${innerTemplate}__}"></div>
		</div>
	</div>
</div>

<th:block th:fragment="options-homeplanet">
	<div class="col-lg-6">
		<label class="col-form-label" th:text="|#{start_positions}:|">Start positions:</label>
		<select class="form-select" th:disabled="${started || !canEdit}" th:field="*{startPositionSetup}">
			<option
				th:each="startPositionSetup : ${startPositionSetups}"
				th:value="${startPositionSetup.name()}"
				th:text="#{'start_position_setup_' + ${startPositionSetup.name()}}"
			>
				Equal distance
			</option>
		</select>
	</div>
	<div class="col-lg-6">
		<label class="col-form-label" th:text="|#{starbase_of_home_planet}:|"> Starbase of home planet: </label>
		<select class="form-select" th:disabled="${started || !canEdit}" th:field="*{homePlanetSetup}">
			<option th:each="homePlanetSetup : ${homePlanetSetups}" th:value="${homePlanetSetup.name()}" th:text="#{'home_planet_setup_' + ${homePlanetSetup.name()}}">
				Starbase
			</option>
		</select>
	</div>
	<div class="col-lg-6">
		<label class="col-form-label" th:text="|#{init_money}:|">Starting capital:</label>
		<input type="number" class="form-control" th:disabled="${started || !canEdit}" th:field="*{initMoney}" min="1" max="9999999"/>
		<span class="text-danger" th:if="${#fields.hasErrors('initMoney')}" th:errors="*{initMoney}"></span>
	</div>
	<div class="col-lg-6">
		<label class="col-form-label" th:text="|#{init_home_planet_resources}:|"> Resources of home planet: </label>
		<select class="form-select" th:disabled="${started || !canEdit}" th:field="*{resourceDensityHomePlanet}">
			<option
				th:each="resourceDensityHomePlanet : ${resourceDensityHomePlanets}"
				th:value="${resourceDensityHomePlanet.name()}"
				th:text="#{'resource_density_' + ${resourceDensityHomePlanet.name()}}"
			>
				High
			</option>
		</select>
	</div>
	<div class="col-lg-6 mt-3">
		<div class="form-check">
			<input class="form-check-input" type="checkbox" th:disabled="${started || !canEdit}" th:field="*{randomizeHomePlanetNames}"/>
			<label class="form-check-label" for="randomizeHomePlanetNames1" th:text="#{randomize_home_planet_names}"> Randomize home planet names </label>
		</div>
	</div>
</th:block>

<th:block th:fragment="options-planets">
	<div class="col-lg-6">
		<label class="col-form-label" th:text="|#{planet_density}:|">Planet density:</label>
		<select class="form-select" th:disabled="${started || !canEdit}" th:field="*{planetDensity}">
			<option th:each="planetDensity : ${planetDensities}" th:value="${planetDensity.name()}" th:text="#{'planet_density_' + ${planetDensity.name()}}">
				Very high
			</option>
		</select>
	</div>
	<div class="col-lg-6">
		<label class="col-form-label" th:text="|#{resource_density}:|">Resource density:</label>
		<select class="form-select" th:disabled="${started || !canEdit}" th:field="*{resourceDensity}">
			<option th:each="density : ${resourceDensities}" th:value="${density.name()}" th:text="#{'resource_density_' + ${density.name()}}">High</option>
		</select>
	</div>
	<div class="col-lg-6">
		<label class="col-form-label" th:text="|#{inhabited_planets}:|">Inhabited planets:</label>
		<select class="form-select" th:disabled="${started || !canEdit}" th:field="*{inhabitedPlanetsPercentage}">
			<option value="0.0" th:text="#{none}">None</option>
			<option value="0.25">25%</option>
			<option value="0.50">50%</option>
			<option value="0.75">75%</option>
			<option value="1.0">100%</option>
		</select>
	</div>
</th:block>

<th:block th:fragment="options-modules">
	<!-- 								<div class="col-lg-6"> -->
	<!-- 									<div class="form-check"> -->
	<!-- 										<input class="form-check-input" type="checkbox" th:disabled="${!canEdit}" th:field="*{enableEspionage}" /> -->
	<!-- 										<label class="form-check-label" for="enableEspionage1" th:text="#{espionage_and_sabotage}">Espionage and sabotage</label> -->
	<!-- 									</div> -->
	<!-- 								</div> -->
	<div class="col-lg-6">
		<div class="form-check">
			<input
				class="form-check-input"
				type="checkbox"
				th:disabled="${!canEdit || (game != null && game.winCondition.equals('INVASION'))}"
				th:field="*{enableMineFields}"
			/>
			<label class="form-check-label" for="enableMineFields1" th:text="#{mine_fields}"> Mine fields </label>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="form-check">
			<input class="form-check-input" type="checkbox" th:disabled="${!canEdit}" th:field="*{enableTactialCombat}"/>
			<label class="form-check-label" for="enableTactialCombat1" th:text="#{tactical_combat}"> Tactical combat </label>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="form-check">
			<input class="form-check-input" type="checkbox" th:disabled="${!canEdit}" th:field="*{enableWysiwyg}"/>
			<label class="form-check-label" for="enableWysiwyg1" th:text="#{what_you_see_is_what_you_get}"> What you see is what you get </label>
		</div>
	</div>
</th:block>

<th:block th:fragment="options-wormholes">
	<div class="col-lg-6">
		<label class="col-form-label" th:text="|#{unstable_wormholes}:|">Unstable wormholes:</label>
		<input type="number" class="form-control" th:field="*{unstableWormholeCount}" th:disabled="${started || !canEdit}" min="0" max="50"/>
		<span class="text-danger" th:if="${#fields.hasErrors('unstableWormholeCount')}" th:errors="*{unstableWormholeCount}"></span>
	</div>
	<div class="col-lg-6">
		<label class="col-form-label" th:text="|#{stable_wormholes}:|">Stable wormholes:</label>
		<select class="form-select" th:disabled="${started || !canEdit}" th:field="*{stableWormholeConfig}">
			<option
				th:each="stableWormholeConfig : ${stableWormholeConfigs}"
				th:value="${stableWormholeConfig.name()}"
				th:text="#{'stable_wormhole_' + ${stableWormholeConfig.name()}}"
			>
				1 random
			</option>
		</select>
	</div>
</th:block>

<th:block th:fragment="options-plasma-storms">
	<div class="col-lg-6">
		<label class="col-form-label" th:text="|#{concurrent_plasma_storms}:|"> Concurrent plasma storms: </label>
		<input type="number" class="form-control" th:disabled="${!canEdit}" th:field="*{maxConcurrentPlasmaStormCount}" min="0" max="10"/>
		<span class="text-danger" th:if="${#fields.hasErrors('maxConcurrentPlasmaStormCount')}" th:errors="*{maxConcurrentPlasmaStormCount}"></span>
	</div>
	<div class="col-lg-6">
		<label class="col-form-label" th:text="|#{plasma_storm_probability}:|"> Plasma storm probability: </label>
		<div class="input-group">
			<input type="number" class="form-control" th:disabled="${!canEdit}" th:field="*{plasmaStormProbability}" min="0" max="100"/>
			<div class="input-group-append">
				<span class="input-group-text">%</span>
			</div>
			<span class="text-danger" th:if="${#fields.hasErrors('plasmaStormProbability')}" th:errors="*{plasmaStormProbability}"></span>
		</div>
	</div>
	<div class="col-lg-6">
		<label class="col-form-label" th:text="|#{plasma_storm_duration}:|">Plasma storm duration:</label>
		<input type="number" class="form-control" th:disabled="${!canEdit}" th:field="*{plasmaStormRounds}" min="3" max="20"/>
		<span class="text-danger" th:if="${#fields.hasErrors('plasmaStormRounds')}" th:errors="*{plasmaStormRounds}"></span>
	</div>
</th:block>

<th:block th:fragment="options-fogofwar">
	<div class="col-12" th:each="type : ${fogOfWarTypes}">
		<div class="form-check">
			<input
				class="form-check-input"
				th:id="${type}"
				type="radio"
				name="fogOfWarType"
				th:disabled="${started || !canEdit}"
				th:field="*{fogOfWarType}"
				th:value="${type}"
			/>
			<label class="form-check-label" th:for="${type}" th:text="#{'fog_of_war_type_' + ${type.name()}}"> None </label>
		</div>
	</div>
</th:block>

<th:block th:fragment="options-pirates">
	<div class="col-lg-6">
		<label class="col-form-label" th:text="|#{pirate_attack_probability_in_galaxy_center}:|"> Attack probability in galaxy center: </label>
		<div class="input-group">
			<input type="number" class="form-control" th:disabled="${!canEdit}" th:field="*{pirateAttackProbabilityCenter}" min="0" max="100"/>
			<div class="input-group-append">
				<span class="input-group-text">%</span>
			</div>
			<span class="text-danger" th:if="${#fields.hasErrors('pirateAttackProbabilityCenter')}" th:errors="*{pirateAttackProbabilityCenter}"></span>
		</div>
	</div>
	<div class="col-lg-6">
		<label class="col-form-label" th:text="|#{pirate_attack_probability_in_galaxy_outskirts}:|"> Attack probability in galaxy outskirts: </label>
		<div class="input-group">
			<input type="number" class="form-control" th:disabled="${!canEdit}" th:field="*{pirateAttackProbabilityOutskirts}" min="0" max="100"/>
			<div class="input-group-append">
				<span class="input-group-text">%</span>
			</div>
			<span class="text-danger" th:if="${#fields.hasErrors('pirateAttackProbabilityOutskirts')}" th:errors="*{pirateAttackProbabilityOutskirts}"></span>
		</div>
	</div>
	<div class="col-lg-6">
		<label class="col-form-label" th:text="|#{pirate_min_loot}:|">Minimum loot:</label>
		<div class="input-group">
			<input type="number" class="form-control" th:disabled="${!canEdit}" th:field="*{pirateMinLoot}" min="0" max="100"/>
			<div class="input-group-append">
				<span class="input-group-text">%</span>
			</div>
			<span class="text-danger" th:if="${#fields.hasErrors('pirateMinLoot')}" th:errors="*{pirateMinLoot}"></span>
		</div>
	</div>
	<div class="col-lg-6">
		<label class="col-form-label" th:text="|#{pirate_max_loot}:|">Maximum loot:</label>
		<div class="input-group">
			<input type="number" class="form-control" th:disabled="${!canEdit}" th:field="*{pirateMaxLoot}" min="0" max="100"/>
			<div class="input-group-append">
				<span class="input-group-text">%</span>
			</div>
			<span class="text-danger" th:if="${#fields.hasErrors('pirateMaxLoot')}" th:errors="*{pirateMaxLoot}"></span>
		</div>
	</div>
</th:block>

<th:block th:fragment="options-miscellaneous">
	<div class="col-lg-6">
		<label class="col-form-label" th:text="|#{player_leaves_game_when}:|"> Player leaves game when: </label>
		<select class="form-select" th:disabled="${!canEdit}" th:field="*{loseCondition}">
			<option th:each="loseCondition : ${loseConditions}" th:value="${loseCondition.name()}" th:text="#{'lose_condition_' + ${loseCondition.name()}}">
				Home planet lost
			</option>
		</select>
	</div>
	<div class="col-lg-6">
		<label class="col-form-label" th:text="|#{auto_tick}:|">Auto tick:</label>
		<select class="form-select" th:disabled="${!canEdit}" th:field="*{autoTickItem}">
			<option
				th:text="${item.seconds == 0} ? #{auto_tick_inactive} : #{auto_tick_item(${item.seconds / 3600})}"
				th:each="item : ${autoTickItems}"
				th:value="${item.name()}"
			>
				Never
			</option>
		</select>
	</div>
	<div class="col-lg-6">
		<label class="col-form-label" th:text="|#{turn_not_finished_notification}:|">Turn not finished notification:</label>
		<select class="form-select" th:disabled="${!canEdit}" th:field="*{turnNotFinishedItem}">
			<option
				th:text="${item.seconds == 0} ? #{turn_not_finished_notification_inactive} : #{turn_not_finished_notification_item(${item.seconds / 3600})}"
				th:each="item : ${turnFinishedItems}"
				th:value="${item.name()}"
			>
				Never
			</option>
		</select>
	</div>
	<div class="col-lg-6">
		<label class="col-form-label" th:text="|#{last_to_finish_turn_notification}:|">Last to finish turn notification:</label>
		<select class="form-select" th:disabled="${!canEdit}" th:field="*{lastToFinishTurnItem}">
			<option
				th:text="${item.seconds == 0} ? #{last_to_finish_turn_notification_inactive} : #{last_to_finish_turn_notification_item(${item.seconds / 3600})}"
				th:each="item : ${turnFinishedItems}"
				th:value="${item.name()}"
			>
				Never
			</option>
		</select>
	</div>
	<div class="col-lg-6">
		<label class="col-form-label" th:text="|#{private}:|">Private:</label>
		<select class="form-select" th:disabled="${!canEdit}" th:field="*{private}">
			<option th:text="#{no}" value="false">No</option>
			<option th:text="#{yes}" value="true">Yes</option>
		</select>
	</div>
	<div class="col-lg-6">
		<label class="col-form-label" th:text="|#{finished_turn_visibility}:|"> Players with unfinished turns are visible to: </label>
		<select class="form-select" th:disabled="${!canEdit}" th:field="*{finishedTurnVisibilityType}">
			<option th:each="item : ${finishedTurnVisibilityTypes}" th:text="#{'finished_turn_visibility_' + ${item.name()}}" th:value="${item.name()}">Nobody</option>
		</select>
	</div>
</th:block>

<th:block th:fragment="content" class="row" id="skr-dashboard-game-options">
	<input
		type="hidden"
		th:each="winCondition : ${winConditions}"
		th:id="|skr-win-condition-name-${winCondition}|"
		th:value="#{'win_condition_' + ${winCondition.name()}}"
	/>
	<input type="hidden" id="skr-with-fixed-teams" th:value="#{with_fixed_teams}"/>
	<input type="hidden" id="skr-mineral-race-quantity-not-set" th:value="#{mineral_race_quantity_not_set}"/>
	<input type="hidden" id="skr-mineral-race-quantity-too-low" th:value="#{mineral_race_quantity_too_low}"/>
	<input type="hidden" id="skr-mineral-race-quantity-too-high" th:value="#{mineral_race_quantity_too_high}"/>
	<input type="hidden" id="skr-default-game-options" th:value="${defaultGameOptions}"/>

	<div id="skr-game-mode-modal-wrapper">
		<div class="modal" id="skr-game-mode-modal" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content" id="skr-game-mode-modal-content">
					<div class="modal-header">
						<div class="text-center w-100" th:text="#{win_condition}">Win condition</div>
					</div>
					<div class="modal-body">
						<div class="form-check mb-2">
							<input type="checkbox" class="form-check-input" th:field="*{useFixedTeams}" onclick="window.gameOptions.toggleInvasionCoopMode(event)">
							<label class="form-check-label fw-bold" for="useFixedTeams1" th:text="#{use_fixed_teams}">Enable fix teams</label>
							<span th:text="#{help_game_options_use_fixed_teams}"></span>
						</div>

						<hr>

						<div th:each="condition : ${winConditions}" class="form-check" th:style="${condition.name().equals('INVASION')} ? 'margin-top: 12px;' : ''">
							<input
								type="radio"
								class="form-check-input skr-win-condition-radio"
								th:disabled="${started || !canEdit}"
								th:style="${condition.name().equals('MINERAL_RACE')} ? 'margin-top: 12px;' : ''"
								th:field="*{winCondition}"
								th:id="|win-condition-${condition.name()}|"
								th:value="${condition.name()}"
							/>
							<label
								class="form-check-label fw-bold skr-win-condition-radio-label"
								th:for="|win-condition-${condition.name()}|"
								th:id="|win-condition-${condition.name()}-label|"
								th:text="|#{'win_condition_' + ${condition.name()}}:|"
							>
								Survive:
							</label>

							<span th:if="!${condition.isHasArguments()}" th:text="#{'help_game_options_win_condition_' + ${condition.name()}}"> Description </span>

							<span th:if="${condition.name().equals('MINERAL_RACE')}">
										<span th:text="#{help_game_options_win_condition_MINERAL_RACE_one}">Players have to gather</span>
										<input
											type="number"
											th:disabled="${started || !canEdit}"
											min="1000"
											value="10000"
											max="100000"
											th:field="*{mineralRaceQuantity}"
											class="form-control"
											style="width: 120px; display: inline-block"
										/>

										<span th:text="#{help_game_options_win_condition_MINERAL_RACE_two}">KT of</span>
										<select th:disabled="${started || !canEdit}" th:field="*{mineralRaceMineralName}" class="form-select" style="width: 200px">
											<option value="FUEL" th:text="#{fuel}">Lemin</option>
											<option value="MINERAL1" th:text="#{mineral1}">Baxterium</option>
											<option value="MINERAL2" th:text="#{mineral2}">Rennurbin</option>
											<option value="MINERAL3" th:text="#{mineral3}">Vormisaan</option>
										</select>

										<span th:text="#{help_game_options_win_condition_MINERAL_RACE_three}">and store them</span>
										<select th:disabled="${started || !canEdit}" th:field="*{mineralRaceStorageType}" class="form-select" style="width: 200px">
											<option
												th:each="storageType : ${mineralRaceStorageTypes}"
												th:value="${storageType.name()}"
												th:text="#{'mineral_race_storage_type_' + ${storageType.name()}}"
											>
												Heimatplanet
											</option>
										</select>

										<span th:text="#{help_game_options_win_condition_MINERAL_RACE_four}">to win.</span>
									</span>

							<th:block th:if="${condition.name().equals('INVASION')}">
										<span th:text="#{help_game_options_win_condition_INVASION}">
											Players must defend against waves of enemy ships that get stronger with each wave.
										</span>

								<div class="d-inline-flex align-items-center">
									<div th:text="|#{difficulty}:|" class="me-2">Difficulty:</div>

									<select th:disabled="${started || !canEdit}" th:field="*{invasionDifficulty}" class="form-select" style="width: 200px">
										<option th:each="difficulty : ${invasionDifficulties}" th:value="${difficulty.name()}" th:text="#{'invasion_difficulty_' + ${difficulty.name()}}">
											Normal
										</option>
									</select>
								</div>

								<br/>

								<div id="skr-game-invasion-coop-or-competitive-wrapper"
									 class="align-items-center"
									 th:classappend="*{useFixedTeams} ? 'd-none' : 'd-inline-flex'"								>
									<div th:text="|#{cooperative_or_competitive}:|" id="skr-game-invasion-coop-or-competitive-label">Cooperative or Competitive?</div>

									<input type="radio" id="invasionCooperative" class="ms-2 me-2" th:field="*{invasionCooperative}" value="true"/>
									<label class="form-check-label fw-bold" for="invasionCooperative" th:text="#{cooperative}"> cooperative </label>

									<input type="radio" id="invasionCompetitive" class="ms-2 me-2" th:field="*{invasionCooperative}" value="false"/>
									<label class="form-check-label fw-bold" for="invasionCompetitive" th:text="#{competitive}"> Competitive: </label>
								</div>
							</th:block>

							<th:block th:if="${condition.name().equals('CONQUEST')}">
								<div th:text="#{help_game_options_win_condition_CONQUEST}">
									Players must conquer and hold a region with ships or a planet colonized. Each round the objective is held counts!
								</div>

								<div class="d-inline-flex align-items-center">
									<div th:text="|#{region_or_planet}:|" id="skr-game-conquest-region-or-planet-label">Region or planet?</div>

									<input type="radio" id="conquestTypeRegion" class="ms-2 me-2" th:field="*{conquestType}" value="REGION"/>
									<label class="form-check-label fw-bold" for="conquestTypeRegion" th:text="#{region}"> Region </label>

									<input type="radio" id="conquestTypePlanet" class="ms-2 me-2" th:field="*{conquestType}" value="PLANET"/>
									<label class="form-check-label fw-bold" for="conquestTypePlanet" th:text="#{planet}"> Planet </label>
								</div>

								<br/>

								<div class="d-inline-flex align-items-center">
									<div th:text="|#{conquest_rounds}:|" class="me-2">Objective round limit:</div>
									<input
										type="number"
										min="1"
										max="999"
										th:field="*{conquestRounds}"
										th:disabled="${started || !canEdit}"
										class="form-control"
										style="width: 120px"
									/>
								</div>
							</th:block>
						</div>
					</div>
					<div class="modal-footer">
						<div id="skr-mineral-race-quantity-error-text" class="text-danger"></div>
						<skr-button
							type="button"
							class="btn btn-primary"
							id="skr-game-mode-confirm-button"
							th:disabled="${started || !canEdit}"
							onclick="window.gameOptions.apply()"
							th:text="#{apply}"
						>
							Apply
						</skr-button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h4 class="mb-0">
					<span class="normal" th:text="#{general_settings}">General settings</span>
					<span th:insert="~{ingame/help::content}" th:with="id='general-settings',title=#{general_settings},fragment='general-settings'"></span>
				</h4>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-sm-6 col-lg-3">
						<label class="col-form-label" th:text="|#{name}:|">Name:</label>
						<input type="text" autofocus class="form-control" th:field="*{name}" th:disabled="${started || !canEdit}" maxlength="512"/>
						<span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
					</div>
					<div class="col-sm-6 col-lg-3">
						<label class="col-form-label" th:text="|#{player_count}:|">Player count:</label>
						<input type="number" class="form-control" th:field="*{playerCount}" th:disabled="${started || !canEdit}" min="1" max="64"/>
						<span class="text-danger" th:if="${#fields.hasErrors('playerCount')}" th:errors="*{playerCount}"></span>
					</div>
					<div class="col-sm-6 col-lg-3">
						<label class="col-form-label" th:text="|#{galaxy_size}:|">Galaxy size:</label>
						<input type="number" class="form-control" th:field="*{galaxySize}" th:disabled="${started || !canEdit}" min="250" max="16384"/>
						<span class="text-danger" th:if="${#fields.hasErrors('galaxySize')}" th:errors="*{galaxySize}"></span>
					</div>
					<div class="col-sm-6 col-lg-3">
						<div id="skr-game-win-condition-title">
							<label class="col-form-label" th:text="|#{win_condition}:|">Win condition:</label>
						</div>
						<div class="btn-group w-100" role="group">
							<skr-button
								type="button"
								class="btn btn-secondary w-100 text-start"
								th:text="#{'win_condition_' + *{winCondition}} + ' ' + (*{useFixedTeams} ? #{with_fixed_teams} : '')"
								id="skr-game-mode-text"
								onclick="window.gameOptions.showGameModeModal()"
							>
								Survival
							</skr-button>
							<skr-button type="button" class="btn btn-secondary" onclick="window.gameOptions.showGameModeModal()">
								<i class="fa-fw fas fa-cog text-white"></i>
							</skr-button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h4 class="mb-0">
					<span class="normal" id="skr-game-galaxy-structure-title" th:text="#{galaxy_structure}">Galaxy structure</span>
					<span
						th:insert="~{ingame/help::content}"
						th:with="id='galaxy-structure',title=#{galaxy_structure},fragment='simple',content=#{help_game_options_galaxy_structure}"
					></span>
				</h4>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-6 col-xl-4 mb-2" th:each="galaxy : ${galaxyConfigs}">
						<div class="form-check skr-game-galaxy-selection-item">
							<input
								class="form-check-input mt-3"
								th:id="${galaxy}"
								type="radio"
								name="galaxyConfigId"
								th:disabled="${started || !canEdit}"
								th:field="*{galaxyConfigId}"
								th:value="${galaxy}"
							/>
							<label class="form-check-label" th:for="${galaxy}">
								<img th:src="${'/images/galaxies/' + galaxy + '.png'}" class="skr-game-galaxy-image"/>
								<span th:text="#{'galaxy_structure_' + ${galaxy}}">Cluster</span>
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="skr-dashboard-game-options-additional-settings" class="col-12">
		<h5 class="mt-3 mb-4" th:text="|#{additional_optional_settings}:|">Additional optional settings:</h5>
		<div class="row">
			<div th:replace="~{::options-container('homeplanet', #{home_planet}, #{help_game_options_home_planet}, 'dashboard/game-options::options-homeplanet')}"></div>
			<div th:replace="~{::options-container('planets', #{planets}, #{help_game_options_planets}, 'dashboard/game-options::options-planets')}"></div>
			<div th:replace="~{::options-container('modules', #{optional_modules}, #{help_game_options_optional_modules}, 'dashboard/game-options::options-modules')}"></div>
			<div th:replace="~{::options-container('wormholes', #{wormholes}, #{help_game_options_wormholes}, 'dashboard/game-options::options-wormholes')}"></div>
			<div
				th:replace="~{::options-container('plasma-storms', #{plasma_storms}, #{help_game_options_plasma_storms}, 'dashboard/game-options::options-plasma-storms')}"
			></div>
			<div th:replace="~{::options-container('fogofwar', #{fog_of_war}, #{help_game_options_fog_of_war}, 'dashboard/game-options::options-fogofwar')}"></div>
			<div th:replace="~{::options-container('pirates', #{pirates}, #{help_game_options_pirates}, 'dashboard/game-options::options-pirates')}"></div>
			<div
				th:replace="~{::options-container('miscellaneous', #{miscellaneous}, #{help_game_options_miscellaneous}, 'dashboard/game-options::options-miscellaneous')}"
			></div>
		</div>
	</div>
</th:block>
</body>
</html>
