<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
	<body>
		<section layout:fragment="content" class="container text-center">
			<h3 class="text-danger" th:text="#{guest_account_creation_failed}">This guest account link has expired!</h3>
		</section>
	</body>
</html>
