<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{dashboard/layout}"
>
	<head>
		<title th:text="|#{guest_account} - #{application_name}|"></title>
	</head>
	<body>
		<section layout:fragment="content" class="container text-center" id="skr-guest-account-creation-success-page">
			<div class="alert alert-success">
				<h3 class="mb-0" th:text="#{guest_account_finished_headline}">Your guest account has been created!</h3>
			</div>
			<h4>
				<span th:text="#{guest_account_finished_one}">
					Guest accounts are automatically deleted after 48 hours, so it is not recommended to participate in open games
					other players have created. If you like the game you can always
				</span>
				<a href="/register" id="skr-guest-account-register-button" th:text="#{guest_account_finished_two}">
					create an account here!
				</a>

				<br />
				<br />

				<span th:text="#{guest_account_finished_three}">For new players it is recommended to start with the</span>
				<a href="/story-mode" th:text="#{story_mode}">Story mode</a>
				<span th:text="#{guest_account_finished_four}">.</span>
			</h4>
		</section>
	</body>
</html>
