<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" th:lang="${#locale.getLanguage()}">
	<head>
		<title layout:title-pattern="$CONTENT_TITLE" th:text="|#{application_name} - #{application_short_description}|">
			Skrupel TNG - The free sci-fi round based browser game
		</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta charset="UTF-8" />
		<meta name="description" th:content="#{application_meta_description}" />
		<meta name="robots" content="index,follow" />
		<link rel="canonical" th:href="|${@installationDetailsHelper.getCanonicalUrl()}|" />

		<meta property="og:type" content="website" />
		<meta property="og:title" th:content="#{application_name}" />
		<meta property="og:description" th:content="#{application_meta_description}" />
		<meta property="og:image" th:content="|${@installationDetailsHelper.getDomainUrl()}/logo.png|" />
		<meta property="og:url" th:content="${@installationDetailsHelper.getDomainUrl()}" />
		<meta property="og:site_name" th:content="#{application_name}" />

		<meta name="twitter:title" th:content="#{application_name}" />
		<meta name="twitter:description" th:content="#{application_meta_description}" />
		<meta name="twitter:image" th:content="|${@installationDetailsHelper.getDomainUrl()}/logo.png|" />
		<meta name="twitter:url" th:content="${@installationDetailsHelper.getDomainUrl()}" />
		<meta name="twitter:site" content="@skrupeltng" />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:creator" content="@robertbleyl" />

		<meta name="_csrf" th:content="${_csrf.token}" />
		<meta name="_csrf_header" th:content="${_csrf.headerName}" />

		<link rel="stylesheet" href="../dist/dashboard.bundled.css" th:href="@{'/dist/dashboard.bundled.css?' + ${@frontendResourcesService.getStartupTime()}}" />
		<link rel="stylesheet" href="../dist/light_mode.css" th:href="@{'/dist/' + ${@themeService.getTheme()} + '.css?' + ${@frontendResourcesService.getStartupTime()}}" />

		<script
			th:if="!${@dashboardLayoutService.isLoggedIn()}"
			type="text/javascript"
			src="../dist/landingpage.bundled.js"
			th:src="@{'/dist/landingpage.bundled.js?' + ${@frontendResourcesService.getStartupTime()}}"
		></script>
		<script
			th:if="${@dashboardLayoutService.isLoggedIn()}"
			type="text/javascript"
			src="../dist/dashboard.bundled.js"
			th:src="@{'/dist/dashboard.bundled.js?' + ${@frontendResourcesService.getStartupTime()}}"
		></script>
	</head>
	<body th:class="${@themeService.getTheme()}">
		<audio id="sound-button-click" th:src="@{/sound/button-click.mp3}" th:if="${@themeService.getTheme().equals('space_mode')}"></audio>

		<input type="hidden" id="enable-server-side-events" th:value="${@configProperties.isServerSideEventsEnabled()}">

		<header class="header fixed-top" id="skr-dashboard-header">
			<nav class="navbar navbar-expand-md">
				<a class="navbar-brand" href="/" flow="downright" th:tooltip="#{back_to_dashboard}">
					<img th:src="|/images/landingpage/logo_${@themeService.getTheme()}.png|" alt="Logo" />
					<span class="d-lg-none d-xl-inline" th:text="#{application_name}">Skrupel TNG</span>
				</a>

				<div class="d-md-none" th:if="${@dashboardLayoutService.isLoggedIn()}" id="skr-dashboard-notifications-wrapper-small" th:insert="~{::notifications}"></div>

				<skr-button
					class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#skr-dashboard-nav-bar"
					aria-controls="skr-dashboard-nav-bar"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<i class="navbar-toggler-icon fa fa-bars"></i>
				</skr-button>

				<div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" id="skr-dashboard-nav-bar">
					<ul class="navbar-nav me-auto">
						<li class="nav-item" id="skr-dashboard-match-making" th:if="${@dashboardLayoutService.isLoggedIn()}">
							<a class="nav-link" id="skr-dashboard-match-making-button" href="/match-making/" flow="down" th:tooltip="#{match_making}">
								<div id="skr-dashboard-match-making-switch-form" class="form-check form-switch">
									<input
										class="form-check-input"
										type="checkbox"
										th:checked="${@matchMakingInfoService.matchMakingEnabled()}"
										disabled
										role="switch"
										id="skr-dashboard-match-making-switch">
									<label class="form-check-label" for="skr-dashboard-match-making-switch" th:text="#{match_making}">
										Match making
									</label>
								</div>
							</a>
						</li>
						<li class="nav-item" id="skr-dashboard-my-games" th:if="${@dashboardLayoutService.isLoggedIn()}">
							<a class="nav-link" id="skr-dashboard-my-games-button" th:href="${@dashboardUrlConstants.MY_GAMES_DEFAULT_SEARCH}" flow="down" th:tooltip="#{my_games}">
								<i class="fa-fw fa fa-check"></i>
								<span class="d-md-none d-lg-inline" th:text="#{my_games}">My games</span>
							</a>
						</li>
						<li class="nav-item" id="skr-dashboard-open-games" th:if="${@dashboardLayoutService.isLoggedIn()}">
							<a
								class="nav-link"
								id="skr-dashboard-open-games-button"
								th:href="${@dashboardUrlConstants.OPEN_GAMES_DEFAULT_SEARCH}"
								flow="down"
								th:tooltip="#{open_games}"
							>
								<i class="fa-fw fa fa-list"></i>
								<span class="d-md-none d-lg-inline" th:text="#{open_games}">Open games</span>
							</a>
						</li>
						<li class="nav-item" id="skr-dashboard-new-game" th:if="${@dashboardLayoutService.isLoggedIn()}">
							<a class="nav-link" id="skr-dashboard-new-game-button" href="/new-game" flow="down" th:tooltip="#{new_game}">
								<i class="fa-fw fa fa-plus"></i>
								<span class="d-md-none d-lg-inline" th:text="#{new_game}">New game</span>
							</a>
						</li>
						<li class="nav-item" id="skr-dashboard-infos" th:if="${@dashboardLayoutService.isLoggedIn()}">
							<a class="nav-link" id="skr-dashboard-infos-button" href="/infos" flow="down" th:tooltip="#{infos}">
								<i class="fa-fw fa fa-info"></i>
								<span class="d-md-none d-lg-inline" th:text="#{infos}">Infos</span>
							</a>
						</li>
						<li class="nav-item" id="skr-dashboard-story-mode" th:if="${@dashboardLayoutService.isLoggedIn()}">
							<a class="nav-link" id="skr-dashboard-story-mode-button" href="/story-mode" flow="down" th:tooltip="#{story_mode}">
								<i class="fa-fw fas fa-book"></i>
								<span class="d-md-none d-lg-inline" th:text="#{story_mode}">Story mode</span>
							</a>
						</li>
						<li class="nav-item" th:if="${@dashboardLayoutService.isLoggedIn() && @dashboardLayoutService.isGuest()}">
							<a class="btn btn-success ms-3" id="skr-landingpage-top-register-button" href="/register" flow="down" th:tooltip="#{convert_guest_account_description}">
								<i class="fa-fw fa fa-check"></i>
								<span th:text="#{convert_guest_account}">Convert guest account</span>
							</a>
						</li>
					</ul>
					<ul class="navbar-nav m-auto" th:if="!${@dashboardLayoutService.isLoggedIn()}">
						<li class="nav-item">
							<a class="btn btn-success" id="skr-landingpage-top-register-button" href="/register" flow="down" th:tooltip="#{register_link_description}">
								<i class="fa-fw fa fa-check"></i>
								<span th:text="#{register_for_free}">Register for free</span>
							</a>
						</li>
					</ul>
					<ul class="navbar-nav ms-auto">
						<li class="nav-item" id="skr-dashboard-feedback-button" th:if="${@dashboardLayoutService.isLoggedIn() && @configProperties.isFeedbackEnabled()}">
							<a class="nav-link" href="javascript:;" flow="down" th:tooltip="#{give_feedback_or_report_bug}" data-bs-toggle="modal" data-bs-target="#skr-feedback-modal">
								<i class="fa-fw fas fa-comment-dots"></i>
								<span class="d-md-none" th:text="#{give_feedback_or_report_bug}">Give feedback or report bug</span>
							</a>
						</li>
						<li class="nav-item" th:if="${@dashboardLayoutService.isLoggedIn() && @dashboardLayoutService.isAdmin() && @configProperties.isDebug()}">
							<a class="nav-link" href="/debug/game">
								<span>Create debug game</span>
							</a>
						</li>
						<li class="nav-item" sec:authorize="hasRole('ROLE_PREVIOUS_ADMINISTRATOR')">
							<form action="#" th:action="@{/admin/switch_user_exit}" method="POST" id="skr-return-to-admin-user-form">
								<button class="btn btn-link mt-1" id="skr-dashboard-return-to-admin-user-button" form="skr-return-to-admin-user-form" type="submit" th:text="#{return_to_admin_user}">
									Return to admin user
								</button>
							</form>
						</li>
						<li
							class="nav-item d-none d-sm-none d-md-block"
							id="skr-dashboard-admin"
							th:if="${@dashboardLayoutService.isLoggedIn() && @dashboardLayoutService.isAdmin()}"
						>
							<div class="dropdown">
								<skr-button
									class="btn btn-link pt-2"
									type="button"
									id="skr-dashboard-admin-menu-button"
									data-bs-toggle="dropdown"
									aria-haspopup="true"
									aria-expanded="false"
									flow="down"
									th:tooltip="#{administration}"
								>
									<i class="fa-fw fas fa-tools"></i>
								</skr-button>
								<div class="dropdown-menu" id="skr-dashboard-admin-dropdown-menu" aria-labelledby="skr-dashboard-admin-menu-button">
									<a class="dropdown-item" id="skr-dashboard-admin-user-overview-link" th:href="${@dashboardUrlConstants.ADMIN_USERS_DEFAULT_SEARCH}">
										<i class="fa-fw fas fa-users-cog"></i>
										<span th:text="#{user_management}">User management</span>
									</a>
									<a class="dropdown-item" id="skr-dashboard-admin-games-link" th:href="${@dashboardUrlConstants.ADMIN_GAMES_DEFAULT_SEARCH}">
										<i class="fa-fw fa fa-list"></i>
										<span th:text="#{games_management}">Games management</span>
									</a>
									<a class="dropdown-item" id="skr-dashboard-admin-data-privacy-link" href="/admin/data-privacy-statements">
										<i class="fa-fw fa fa-passport"></i>
										<span th:text="#{data_privacy_statements}">Data privacy statements</span>
									</a>
									<a class="dropdown-item" id="skr-dashboard-admin-legal-link" href="/admin/legal">
										<i class="fa-fw fa fa-balance-scale"></i>
										<span th:text="#{legal_text}">Legal</span>
									</a>
									<a class="dropdown-item" href="/admin/guest-account-code" id="skr-dashboard-admin-guest-account-code">
										<i class="fa-fw fas fa-user"></i>
										<span th:text="#{guest_account_code}">Guest account code</span>
									</a>
									<a class="dropdown-item" href="/admin/discord-link" id="skr-dashboard-admin-discord-link">
										<i class="fa-fw fab fa-discord"></i>
										<span th:text="#{discord_link}">Discord Link</span>
									</a>
								</div>
							</div>
						</li>
						<li class="nav-item d-md-none" th:if="${@dashboardLayoutService.isLoggedIn() && @dashboardLayoutService.isAdmin()}">
							<a class="nav-link" href="/admin/users">
								<i class="fa-fw fas fa-users-cog"></i>
								<span th:text="#{user_management}">User management</span>
							</a>
						</li>
						<li class="nav-item d-md-none" th:if="${@dashboardLayoutService.isLoggedIn() && @dashboardLayoutService.isAdmin()}">
							<a class="nav-link" href="/admin/data-privacy-statements">
								<i class="fa-fw fa fa-passport"></i>
								<span th:text="#{data_privacy_statements}">Data privacy statements</span>
							</a>
						</li>
						<li class="nav-item d-md-none" th:if="${@dashboardLayoutService.isLoggedIn() && @dashboardLayoutService.isAdmin()}">
							<a class="nav-link" href="/admin/legal">
								<i class="fa-fw fa fa-balance-scale"></i>
								<span th:text="#{legal_text}">Legal</span>
							</a>
						</li>
						<li class="nav-item d-none d-sm-none d-md-block" th:if="!${@dashboardLayoutService.isLoggedIn()}">
							<a class="nav-link" id="skr-dashboard-infos-button" href="/infos">
								<i class="fa-fw fa fa-info"></i>
								<span th:text="#{infos}">Infos</span>
							</a>
						</li>
						<li class="nav-item d-none d-sm-none d-md-block" th:if="!${@dashboardLayoutService.isLoggedIn()}">
							<div class="dropdown">
								<skr-button
									class="btn btn-link dropdown-toggle"
									type="button"
									id="skr-dashboard-language-menu-button"
									data-bs-toggle="dropdown"
									aria-haspopup="true"
									aria-expanded="false"
									th:text="${#locale.getDisplayLanguage(#locale)}"
								>
									English
								</skr-button>
								<div class="dropdown-menu" id="skr-dashboard-language-dropdown-menu" aria-labelledby="skr-dashboard-language-menu-button">
									<a class="dropdown-item" href="?lang=en" th:title="#{language_change_link_description}">English</a>
									<a class="dropdown-item" href="?lang=de" th:title="#{language_change_link_description}">Deutsch</a>
								</div>
							</div>
						</li>
						<li class="nav-item d-none d-sm-none d-md-block" th:if="${@dashboardLayoutService.isLoggedIn()}">
							<div class="form-check nav-link">
								<select class="form-select form-select-sm" onchange="themes.changeTheme(this.value)" onclick="event.stopPropagation()">
									<option value="light_mode" th:text="#{light_mode}" th:selected="${@themeService.getTheme().equals('light_mode')}"></option>
									<option value="dark_mode" th:text="#{dark_mode}" th:selected="${@themeService.getTheme().equals('dark_mode')}"></option>
									<option value="space_mode" th:text="#{space_mode}" th:selected="${@themeService.getTheme().equals('space_mode')}"></option>
								</select>
							</div>
						</li>
						<li class="nav-item d-md-none" th:if="!${@dashboardLayoutService.isLoggedIn()}">
							<a class="nav-link" href="?lang=en" th:title="#{language_change_link_description}">English</a>
						</li>
						<li class="nav-item d-md-none" th:if="!${@dashboardLayoutService.isLoggedIn()}">
							<a class="nav-link" href="?lang=de" th:title="#{language_change_link_description}">Deutsch</a>
						</li>
						<li id="skr-sound-toggle" class="nav-item d-none d-sm-none d-md-block" th:if="${@dashboardLayoutService.isLoggedIn()}">
							<skr-button class="btn btn-link pt-2" type="button">
								<i class="fas"></i>
							</skr-button>
						</li>
						<li class="nav-item d-none d-sm-none d-md-block" th:if="${@dashboardLayoutService.isLoggedIn()}" id="skr-dashboard-notifications-wrapper-big">
							<th:block th:fragment="notifications">
								<div class="dropdown">
									<skr-button
										class="btn btn-link pt-2"
										type="button"
										id="skr-dashboard-notifications-menu-button"
										data-bs-toggle="dropdown"
										aria-haspopup="true"
										aria-expanded="false"
										flow="down"
										th:tooltip="#{notifications}"
									>
										<i class="fa-fw fa-bell" th:classappend="${@notificationService.getUnreadNotificationCount() > 0} ? 'fas' : 'far'"></i>
										<span
											class="badge bg-info"
											th:if="${@notificationService.getUnreadNotificationCount() > 0}"
											th:text="${@notificationService.getUnreadNotificationCount()}"
											>4</span
										>
									</skr-button>
									<div class="dropdown-menu p-0 m-0" id="skr-dashboard-notifications-dropdown-menu" aria-labelledby="skr-dashboard-notifications-menu-button">
										<div class="card m-0">
											<div class="card-header d-inline-flex justify-content-between align-items-center w-100">
												<h5 class="m-0" th:text="#{notifications}">Notifications</h5>
												<skr-button
													type="button"
													class="btn btn-primary"
													th:if="${@notificationService.getUnreadNotificationCount() > 0}"
													onclick="window.notifications.markAllNotificationsAsRead()"
													th:text="#{mark_all_as_read}"
												>
													Mark all as read
												</skr-button>
											</div>
											<div class="card-body scroll-wrapper pt-2 pb-2">
												<a
													th:href="${notification.link}"
													th:target="${notification.link.contains('achievements') ? '_blank' : ''}"
													class="dropdown-item btn btn-link ps-0 pe-0 skr-dashboard-notification-item"
													th:each="notification : ${@notificationService.getAllNotifications()}"
													th:onclick="|window.notifications.markNotificationAsRead(${notification.id})|"
												>
													<i class="fa-fw fas fa-info-circle" th:classappend="${notification.read} ? 'text-secondary' : 'text-info'"></i>
													<span th:text="${notification.message}">Message</span>
												</a>
												<div class="text-center" th:if="${@notificationService.getAllNotifications().size() == 0}" th:text="#{no_notifications}">
													There are not notifications yet.
												</div>
											</div>
										</div>
									</div>
								</div>
							</th:block>
						</li>
						<li class="nav-item d-none d-sm-none d-md-block" th:if="${@dashboardLayoutService.isLoggedIn()}">
							<div class="dropdown">
								<skr-button
									class="btn btn-link pt-2"
									type="button"
									id="skr-dashboard-account-menu-button"
									data-bs-toggle="dropdown"
									aria-haspopup="true"
									aria-expanded="false"
									flow="downleft"
									th:tooltip="#{account}"
								>
									<i class="fa-fw fas fa-user"></i>
								</skr-button>
								<div class="dropdown-menu" id="skr-dashboard-account-dropdown-menu" aria-labelledby="skr-dashboard-account-menu-button">
									<a class="dropdown-item" id="skr-dashboard-account-details-link" href="/user-settings">
										<i class="fa-fw fa fa-user"></i>
										<span th:text="#{account}">Account</span>
									</a>
									<a class="dropdown-item" id="skr-dashboard-account-statistics-link" href="/user-statistics">
										<i class="fa-fw fas fa-list-ol"></i>
										<span th:text="#{statistics}">Statistics</span>
									</a>
									<a class="dropdown-item" id="skr-dashboard-achievements-link" href="/achievements">
										<i class="fa-fw fas fa-trophy"></i>
										<span th:text="#{achievements}">Achievements</span>
									</a>
									<a class="dropdown-item" id="skr-dashboard-logout-link" href="javascript:;" onclick="window.logout()">
										<i class="fa-fw fa fa-power-off"></i>
										<span th:text="#{logout}">Logout</span>
									</a>
								</div>
							</div>
						</li>
						<li class="nav-item d-md-none" th:if="${@dashboardLayoutService.isLoggedIn()}">
							<a class="nav-link" href="/user-settings">
								<i class="fa-fw fa fa-user"></i>
								<span th:text="#{account}">Account</span>
							</a>
						</li>
						<li class="nav-item d-md-none" th:if="${@dashboardLayoutService.isLoggedIn()}">
							<div class="form-check nav-link">
								<select class="form-select form-select-sm" onchange="themes.changeTheme(this.value)" onclick="event.stopPropagation()">
									<option value="light_mode" th:text="#{light_mode}" th:selected="${@themeService.getTheme().equals('light_mode')}"></option>
									<option value="dark_mode" th:text="#{dark_mode}" th:selected="${@themeService.getTheme().equals('dark_mode')}"></option>
									<option value="space_mode" th:text="#{space_mode}" th:selected="${@themeService.getTheme().equals('space_mode')}"></option>
								</select>
							</div>
						</li>
						<li class="nav-item d-md-none" th:if="${@dashboardLayoutService.isLoggedIn()}">
							<a class="nav-link" id="skr-dashboard-account-statistics-link" href="/user-statistics">
								<i class="fa-fw fas fa-list-ol"></i>
								<span th:text="#{statistics}">Statistics</span>
							</a>
						</li>
						<li class="nav-item d-md-none" th:if="${@dashboardLayoutService.isLoggedIn()}">
							<a class="nav-link" id="skr-dashboard-achievements-link" href="/achievements">
								<i class="fa-fw fas fa-trophy"></i>
								<span th:text="#{achievements}">Achievements</span>
							</a>
						</li>
						<li class="nav-item d-md-none" th:if="${@dashboardLayoutService.isLoggedIn()}">
							<a class="nav-link" href="javascript:;" onclick="window.logout()">
								<i class="fa-fw fa fa-power-off"></i>
								<span th:text="#{logout}">Logout</span>
							</a>
						</li>
						<li class="nav-item d-md-none" th:if="!${@dashboardLayoutService.isLoggedIn()}">
							<a class="nav-link" id="skr-dashboard-infos-button" href="/infos">
								<i class="fa-fw fa fa-info"></i>
								<span th:text="#{infos}">Infos</span>
							</a>
						</li>
						<li class="nav-item" th:if="!${@dashboardLayoutService.isLoggedIn()}">
							<a class="nav-link" href="/login" th:title="#{login_link_description}">
								<i class="fa-fw fa fa-user"></i>
								<span th:text="#{login}">Login</span>
							</a>
						</li>
					</ul>
				</div>
			</nav>
		</header>
		<section class="section" id="skr-dashboard-main-section">
			<div th:replace="~{dashboard/browser-warning::content}"></div>

			<div th:if="${@dashboardLayoutService.isLoggedIn() && @configProperties.isFeedbackEnabled()}" th:insert="~{dashboard/feedback-modal::modal}"></div>

			<div class="container-fluid" layout:fragment="content"></div>
		</section>
		<footer class="footer">
			<nav class="navbar navbar-expand navbar-dark bg-dark">
				<ul class="navbar-nav mx-auto">
					<li th:if="${@installationDetailsHelper.hasLegalText()}" class="nav-item" id="skr-dashboard-legal">
						<a class="nav-link" href="/legal" th:tooltip="#{legal_text}" flow="up">
							<i class="fa fa-balance-scale"></i>
							<span class="d-none d-sm-inline-block" th:text="#{legal_text}">Legal</span>
						</a>
					</li>
					<li class="nav-item" id="skr-dashboard-data-privacy">
						<a class="nav-link" href="/data-privacy" th:tooltip="#{data_privacy_statement}" flow="up">
							<i class="fa fa-passport"></i>
							<span class="d-none d-sm-inline-block" th:text="#{data_privacy_statement}">Data privacy statement</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="|mailto:${@installationDetailsHelper.getContactEmail()}|" th:tooltip="#{contact}" flow="up">
							<i class="fa fa-envelope"></i>
							<span class="d-none d-sm-inline-block" th:text="#{contact}">Contact</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://gitlab.com/robertbleyl/skrupel-tng" target="_blank" th:tooltip="#{project_home_link_description}" flow="up">
							<i class="fab fa-gitlab"></i>
							<span class="d-none d-sm-inline-block" th:text="#{project_home}">Project home</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://www.reddit.com/r/SkrupelTNG/" target="_blank" tooltip="Skrupel TNG Subreddit" flow="up">
							<i class="fab fa-reddit"></i>
							<span class="d-none d-sm-inline-block">Reddit</span>
						</a>
					</li>
					<li class="nav-item" th:if="${@installationDetailsHelper.discordLinkIsPresent()}">
						<a th:href="${@installationDetailsHelper.getDiscordLink()}" target="_blank" class="nav-link" id="skr-dashboard-discord-link" th:tooltip="#{join_discord_server}" flow="up">
							<i class="fab fa-discord"></i>
							<span class="d-none d-sm-inline-block">Discord</span>
						</a>
					</li>
					<li class="nav-item" id="skr-dashboard-credits">
						<a class="nav-link" href="/credits" th:tooltip="#{credits_link_description}" flow="up">
							<i class="fab fa-gitlab"></i>
							<span class="d-none d-sm-inline-block" th:text="#{credits}">Credits</span>
						</a>
					</li>
				</ul>
			</nav>
		</footer>

		<script type="text/javascript" src="../dist/browser_warning.js" th:src="@{'/dist/browser_warning.js?' + ${@frontendResourcesService.getStartupTime()}}"></script>
	</body>
</html>
