<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{dashboard/layout}"
>
	<head>
		<title th:text="|#{login} - #{application_name}|"></title>
	</head>
	<body>
		<section layout:fragment="content" class="container">
			<form action="#" th:action="@{/login}" method="post">
				<div class="row">
					<div class="col-sm-10 col-md-8 col-lg-6 m-auto">
						<div class="card">
							<div class="card-header">
								<h1 class="card-title mb-0" th:text="#{login}">Login</h1>
							</div>
							<div class="card-body">
								<div>
									<label th:text="|#{username}:|">Username:</label>
									<input type="text" class="form-control" name="username" id="username" th:placeholder="#{username}" />
									<span th:if="${param.error}" class="text-danger" th:text="#{'login_error_' + ${param.error}}"
										>Invalid username and password.</span
									>
								</div>
								<div class="mt-2">
									<label th:text="|#{password}:|">Password:</label>
									<input
										type="password"
										class="form-control"
										name="password"
										id="password"
										th:placeholder="#{password}"
									/>
								</div>
								<div class="mt-2">
									<input id="tng-login-remember-me" name="remember-me" type="checkbox" />
									<label for="tng-login-remember-me" th:text="#{stay_logged_in}"
										>Stay logged in (requires cookie)</label
									>
									<skr-button type="submit" class="btn btn-primary w-100" id="skr-login-button" th:text="#{login}"
										>Login</skr-button
									>
								</div>
								<div class="mt-3 small text-center">
									<a href="/reset-password" th:text="#{forgot_password}">Forgot password?</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</section>
	</body>
</html>
