<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
	<head>
		<title th:text="|#{my_games} - #{application_name}|"></title>
	</head>
	<body>
		<th:block th:fragment="search-params">
			<div class="col-sm-6 col-lg-3 col-xl-3 skr-fullpage-search-item">
				<input type="text" class="form-control" id="name" name="name" th:placeholder="#{name}" th:value="${param.name}" />
			</div>
			<div class="col-sm-6 col-lg-3 col-xl-3 skr-fullpage-search-item">
				<select class="form-select" id="winCondition" name="winCondition">
					<option th:text="|-- #{win_condition} --|" th:value="''"></option>
					<option
						th:selected="${param.winCondition != null && param.winCondition.toString().equals(winCondition.name())}"
						th:each="winCondition : ${winConditions}"
						th:value="${winCondition.name()}"
						th:text="#{'win_condition_' + ${winCondition.name()}}"
					>
						Survive
					</option>
				</select>
			</div>
			<div class="col-sm-6 col-lg-3 col-xl-3 skr-fullpage-search-item" th:insert="~{dashboard/fullpage-search-table-fragments::yes-no-select('started', #{started})}"></div>
			<div
				class="col-sm-6 col-lg-3 col-xl-3 skr-fullpage-search-item"
				th:insert="~{dashboard/fullpage-search-table-fragments::yes-no-select('turnNotDone', #{turn_not_done})}"
			></div>
			<div
				class="col-sm-6 col-lg-3 col-xl-3 skr-fullpage-search-item"
				th:insert="~{dashboard/fullpage-search-table-fragments::yes-no-select('finished', #{finished})}"
			></div>
			<div
				class="col-sm-6 col-lg-3 col-xl-3 skr-fullpage-search-item"
				th:insert="~{dashboard/fullpage-search-table-fragments::yes-no-select('aiPlayers', #{has_ai_players})}"
			></div>
		</th:block>

		<th:block th:fragment="table-header">
			<div th:replace="~{dashboard/fullpage-search-table-fragments::column-header('col-2', 'EXISTING_GAMES_NAME', #{name}, false)}"></div>
			<div th:replace="~{dashboard/fullpage-search-table-fragments::column-header('col-2', 'EXISTING_GAMES_CREATED', #{created}, true)}"></div>
			<div th:replace="~{dashboard/fullpage-search-table-fragments::column-header('col-2', 'EXISTING_GAMES_STATUS', #{status}, true)}"></div>
			<div th:replace="~{dashboard/fullpage-search-table-fragments::column-header('col-2', 'EXISTING_GAMES_PLAYERCOUNT', #{players}, true)}"></div>
			<div th:replace="~{dashboard/fullpage-search-table-fragments::column-header('col-2 col-xl-1', 'EXISTING_GAMES_ROUND', #{round}, true)}"></div>
			<div class="col-2"></div>
		</th:block>

		<th:block th:fragment="table-row(result)">
			<div class="col-6 col-sm-3 d-inline-block d-md-none fw-bold" th:text="|#{name}:|">Name:</div>
			<div class="col-6 col-sm-3 col-md-2 value">
				<div th:text="${result.name}">Duell</div>
				<div class="font-italic d-none d-md-block" th:text="#{'win_condition_' + ${result.winCondition}}">Just for fun</div>
			</div>
			<div class="col-6 col-sm-3 d-inline-block d-md-none fw-bold" th:text="|#{win_condition}:|">Game mode:</div>
			<div class="col-6 col-sm-3 d-inline-block d-md-none value" th:text="#{'win_condition_' + ${result.winCondition}}">Just for fun</div>
			<div class="col-6 col-sm-2 d-inline-block d-md-none fw-bold" th:text="|#{created}:|">Created:</div>
			<div class="col-6 col-sm-4 col-md-2 value text-end" th:text="${#dates.format(result.created, 'dd.MM.yyyy HH:mm')}">31.12.2018 18:45</div>
			<div class="col-6 col-sm-3 d-inline-block d-md-none fw-bold" th:text="|#{status}:|">Status:</div>
			<div class="col-6 col-sm-3 col-md-2 value text-end" th:text="${result.finished} ? #{finished} : (${result.started} ? #{started} : #{open})">Yes</div>
			<div class="col-6 col-sm-3 d-inline-block d-md-none fw-bold" th:text="|#{players}:|">Player count:</div>
			<div class="col-6 col-sm-3 col-md-2 value text-end" th:text="|${result.currentPlayerCount} / ${result.playerCount}|">1 / 2</div>
			<div class="col-6 col-sm-3 d-inline-block d-md-none fw-bold" th:text="|#{round}:|">Round:</div>
			<div class="col-6 col-sm-3 col-md-2 col-xl-1 value text-end" th:text="${result.round}">1></div>
			<div class="col-12 col-md-2 col-xl-3">
				<div class="row">
					<div class="col-sm-6 col-md-12 col-xl-6">
						<a
							th:if="${result.started && !result.finished && result.playerOfGame && !result.lost}"
							th:id="|skr-dashboard-play-game-button-${result.id}|"
							th:href="|/ingame/game?id=${result.id}|"
						>
							<skr-button th:class="|w-100 btn skr-play-button ${result.turnFinished ? 'btn-secondary' : 'btn-success fw-bold'}|">
								<i th:class="'text-white ' + (${result.turnFinished} ? 'fa-fw fas fa-eye' : 'fa-fw fas fa-play')"></i>
								<span th:text="${result.turnFinished} ? #{to_ingame_view} :#{play}">Play</span>
							</skr-button>
						</a>
						<a
							th:if="${!result.started && !result.finished && result.playerOfGame && !result.factionSelected}"
							th:id="|skr-dashboard-play-game-button-${result.id}|"
							th:href="|game?id=${result.id}|"
						>
							<skr-button class="w-100 btn skr-select-faction-button btn-info fw-bold">
								<span th:text="#{select_faction}">Select faction</span>
							</skr-button>
						</a>
					</div>
					<div class="col-sm-6 col-md-12 col-xl-6">
						<a th:href="|game?id=${result.id}|">
							<skr-button class="w-100 btn btn-primary skr-game-details-button">
								<i class="fa-fw fas fa-info"></i>
								<span th:text="#{details}">Details</span>
							</skr-button>
						</a>
					</div>
				</div>
			</div>
		</th:block>

		<section layout:fragment="content">
			<div
				th:replace="~{dashboard/fullpage-search-table-fragments::content(${@dashboardUrlConstants.MY_GAMES}, 'dashboard/my-games::search-params', ${@dashboardUrlConstants.MY_GAMES_DEFAULT_SEARCH}, ${results}, ${sortItems}, 'dashboard/my-games::table-header', #{no_games_found}, 'dashboard/my-games::table-row(${result})', ${completeUrl})}"
			></div>
		</section>
	</body>
</html>
