<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
	<head>
		<title th:text="|#{new_game} - #{application_name}|"></title>
	</head>
	<body>
		<section layout:fragment="content">
			<form action="#" th:action="@{/new-game}" th:object="${request}" method="post" id="skr-new-game-form">
				<div id="skr-buttons" class="d-inline-flex align-items-center justify-content-between w-100">
					<div>
						<skr-button type="submit" class="btn btn-primary" form="skr-new-game-form" id="skr-dashboard-newgame-create-button">
							<i class="fa fa-plus"></i>
							<span th:text="#{create}">Create</span>
						</skr-button>
					</div>

					<div style="display: none" id="skr-game-marked-elements-hint" th:utext="#{market_elements_were_changed_from_default_settings}"></div>

					<div></div>
				</div>
				<div th:replace="~{dashboard/game-options::content}"></div>
			</form>
		</section>
	</body>
</html>
