<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content">
	<h4 class="text-center mb-3">
		<span th:text="#{player_rankings}">Player rankings</span>
		<span th:insert="~{ingame/help::content}" th:with="id='player-rankings',title=#{player_rankings},fragment='simple',content=#{player_rankings_help_text}"></span>
	</h4>

	<table class="table">
		<thead>
		<tr>
			<th scope="col"></th>
			<th scope="col"></th>
			<th scope="col" class="text-center" th:text="#{name}">Name</th>
			<th scope="col" class="text-center">
				<div th:tooltip="#{rank_starbases}">
					<i class="fa-fw fas fa-project-diagram"></i>
				</div>
			</th>
			<th scope="col" class="text-center">
				<div th:tooltip="#{rank_colonies}">
					<i class="fa-fw fas fa-globe"></i>
				</div>
			</th>
			<th scope="col" class="text-center">
				<div th:tooltip="#{rank_ships}">
					<i class="fa-fw fas fa-space-shuttle"></i>
				</div>
			</th>
			<th scope="col" class="text-center" th:text="#{total}">Total</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="player : ${players}">
			<td class="text-center">
				<img th:style="|border: 3px solid #${player.color};|" th:src="|/factions/${player.factionId}/logo.png|"/>
			</td>
			<td class="text-center" valign="middle">
				<span th:if="${player.hasLost}" th:tooltip="#{player_has_lost}">
					<i class="fa-fw fas fa-skull-crossbones"></i>
				</span>
			</td>
			<td class="text-center">
				<div th:text="${@masterDataService.getI18NValue(player.factionId)}" class="mb-1">Orion Conglomerate</div>
				<span th:tooltip="#{turn_finished}">
					<i th:if="${showFinishedTurnsColumn && player.turnFinished}" class="fa-fw fa fa-check-double"></i>
				</span>
				<a
					href="javascript:;"
					th:if="${!gameFinished && !player.ai && player.playerId != playerId}"
					th:data1="${player.name}"
					th:onclick="|ingame.messageToPlayer(${player.playerId}, this.getAttribute('data1'))|"
					th:text="${player.ai} ? #{${player.name}} : ${player.name}"
				>
					PlayerName
				</a>
				<span th:if="${gameFinished || player.ai || player.playerId == playerId}"
					  class="fw-bold"
					  th:text="${player.ai} ? #{${player.name}} : ${player.name}">
					PlayerName
				</span>
				<div th:if="${player.teamName != null}" th:text="|#{team} ${player.teamName}|">
					Team Standard
				</div>
			</td>
			<td class="text-center">
				<div th:text="${player.starbaseRank}">1</div>
			</td>
			<td class="text-center">
				<div th:text="${player.planetRank}">1</div>
			</td>
			<td class="text-center">
				<div th:text="${player.shipRank}">1</div>
			</td>
			<td class="text-center">
				<div th:text="${player.rank}">1</div>
			</td>
		</tr>
		</tbody>
	</table>
</div>
</body>
</html>
