:root {
	--color-fuel: #5ae200;
	--color-mineral1: #baa26f;
	--color-mineral2: red;
	--color-mineral3: rgb(0, 0, 204);
	--color-colonists: rgb(0, 163, 0);
	--color-mines: #ffa600;
	--color-supplies: darkorange;
	--color-money: orange;
	--color-buildings: #17aaff;
	--color-factories: rgb(9, 144, 255);
	--color-defense: rgb(230, 230, 230);
	--color-overview: rgb(207, 207, 207);
	--color-colonies: #1effd6;
	--color-orbitalsystems: #d3d3d3;
	--color-starbase: #3f0069;
	--color-nativespecies: #ffae00;
	--color-logbook: black;
	--color-ships: #001988;
	--color-fleets: green;
	--color-propulsionsystems: red;
	--color-energyweapons: orange;
	--color-projectileweapons: #001568;
	--color-transport: rgb(0, 0, 153);
	--color-tasks: rgb(0, 0, 109);
	--color-scanner: rgb(0, 255, 255);
	--color-navigation: rgb(83, 0, 83);
	--color-routes: rgb(0, 255, 0);
	--color-tactics: red;
	--color-settings: rgb(255, 255, 255);
	--color-war: red;
	--color-tradeagreement: orange;
	--color-nonaggressiontreaty: royalblue;
	--color-alliance: green;
	--color-lightgroundunits: red;
	--color-heavygroundunits: rgb(0, 0, 204);
	--color-landingpage-contrast-background: #6d6d6d;
	--color-landingpage-contrast-border: #bbbbbb;
	--color-theme-background: rgb(59, 59, 59);
	--color-theme-form-control-background: rgb(71, 71, 71);
	--color-theme-form-control-background-disabled: rgba(71, 71, 71, 0.685);
	--color-theme-form-control-background-hover: rgb(51, 51, 51);
	--color-theme-border: rgb(163, 163, 163);
	--color-theme-link: #5dabff;
	--color-temperature: #cc4f29;
	--color-performance-icon-very-high: #1aff00;
	--color-performance-icon-high: #99ff36;
	--color-performance-icon-medium: #fcff00;
	--color-performance-icon-low: #ff7c00;
	--color-performance-icon-very-low: #ff3400;
}

body,
.card,
.table,
.table tr td,
.table thead th,
section .nav-item a,
.modal-content,
.skr-game-details-mouseover-content {
	background-color: var(--color-theme-background) !important;
	color: white;
}

.header,
.footer .bg-dark,
.breadcrumb {
	background-color: rgb(20, 20, 20) !important;
}

.btn,
a.page-link {
	color: white !important;
}

nav.nav a.active {
	background-color: var(--color-theme-form-control-background) !important;
	border-width: 1px !important;
	border-radius: 0;
}

.skr-mission-selection-tabs i.fa-check {
	color: green;
}

.skr-mission-selection-tabs i.fa-play {
	color: rgb(9, 144, 255);
}

.skr-mission-selection-tabs i.fa-lock {
	color: grey;
}

.skr-mission-selection-tabs a.disabled {
	border-color: white !important;
}

.skr-start-mission-button i,
.skr-continue-mission-button i {
	color: white;
}

a,
.text-primary,
.btn-link,
.skr-ingame-clickable-anchor {
	color: var(--color-theme-link) !important;
}

/* .custom-control-input:checked ~ .custom-control-label::before {
	background-color: var(--color-theme-link) !important;
	border-color: var(--color-theme-link) !important;
} */

.modal-content {
	border: 1px solid var(--color-theme-border);
}

skr-button.close {
	color: white !important;
}

.card,
.card-header {
	border-color: var(--color-theme-border);
}

.skr-table-header {
	background-color: rgb(31, 31, 31);
	color: white;
}

.skr-table-row {
	color: white;
}

.skr-table-row:nth-child(even),
.skr-ingame-ship-mouse-over-ship-item:nth-child(even),
.user-stats-row:nth-child(even) {
	background: rgb(75, 75, 75) !important;
}

.skr-table-row:nth-child(odd),
.skr-ingame-ship-mouse-over-ship-item:nth-child(odd),
.user-stats-row:nth-child(odd) {
	background: rgb(95, 95, 95) !important;
}

.skr-table-row:hover,
.skr-ingame-ship-mouse-over-ship-item:hover {
	background: rgb(56, 56, 56) !important;
}

input::placeholder {
	color: rgb(197, 197, 197) !important;
}

.form-control,
.form-control:focus,
.form-select,
.page-link,
.page-item.active .page-link,
.btn-secondary,
.btn-secondary:focus {
	background-color: var(--color-theme-form-control-background) !important;
	border-color: var(--color-theme-border) !important;
	color: white !important;
}

.form-control:hover,
.form-select:hover,
.btn-secondary:hover,
.page-link:hover {
	background-color: var(--color-theme-form-control-background-hover) !important;
	color: white !important;
}

.form-control:disabled,
.form-control[readonly],
.form-select:disabled,
.page-item.disabled .page-link,
.form-control:hover:disabled,
.form-select:hover:disabled {
	background-color: var(--color-theme-form-control-background-disabled) !important;
	color: #6c757d !important;
}

.breadcrumb-item.active {
	color: white;
}

.nav-tabs .nav-link {
	border-color: white;
	border-bottom-width: 1px;
	border-width: 0 0 1px 0;
}

.nav-tabs .nav-link.active {
	border-width: 1px 1px 0 1px;
}

.btn-secondary,
.btn-secondary:focus {
	border-color: var(--color-theme-form-control-background);
}

#factions .nav-tabs .nav-link.active {
	background-color: var(--color-landingpage-contrast-background) !important;
}

.text-danger {
	color: rgb(248, 45, 45) !important;
}

.skr-game-details-mouseover {
	background-color: var(--color-theme-form-control-background-hover) !important;
	color: white;
}

#skr-game-ship-transporter > .position-fixed,
#skr-ingame-space-folds-content > .position-fixed,
.dropdown-menu,
.dropdown-item:hover,
.dropdown-item:active {
	background-color: var(--color-theme-background);
	color: white;
}

.navbar-toggler-icon {
	color: white;
}

.table-hover tbody tr:hover {
	background-color: var(--color-theme-form-control-background-hover) !important;
	color: white !important;
}

.btn.active {
	background-color: var(--color-theme-form-control-background-hover) !important;
}

.nav-tabs .nav-link {
	color: unset !important;
}
