@import '../../skrupel_tng.scss';

#skr-buttons {
	margin-bottom: 10px;
}

#skr-game #skr-game-players td {
	line-height: 38px;
}

.skr-game-galaxy-selection-item > label {
	cursor: pointer;
}

.skr-game-galaxy-image {
	border: 1px solid black;
}
.nav-tabs {
	margin-bottom: 20px;
}

skr-button i,
a i {
	font-size: 1em !important;
}

#skr-game-mini-map,
#skr-game-mini-map div {
	cursor: default;
}

.user-stats-row:nth-child(odd) {
	background: #ddd;
}

.user-stats-row:nth-child(even) {
	background: white;
}

@media (min-width: 991px) {
	.skr-game-details-button-open-games {
		width: 75%;
	}
}

@media (max-width: 990px) {
	.skr-game-details-button-open-games {
		width: 100%;
	}
}

#skr-dashboard-game-options-additional-settings .collapser,
#skr-dashboard-game-options-additional-settings .dropdown-toggle {
	border: 0 none;
	border-radius: 0;
}

#skr-infos-space-combat-calculator .skr-performance-icon {
	margin-left: 0.5rem;
}

#skr-infos-space-combat-calculator .skr-performance-icon i {
	font-size: 1rem;
}

.skr-fullpage-search-item {
	padding-bottom: 1rem;
}

.skr-game-option-change .skr-options-container-button,
#skr-game-invasion-coop-or-competitive-label.skr-game-option-change,
#skr-game-conquest-region-or-planet-label.skr-game-option-change,
#skr-game-galaxy-structure-title.skr-game-option-change,
.skr-win-condition-radio-label.skr-game-option-change,
.skr-game-option-change > label {
	color: rgba(var(--bs-info-rgb)) !important;
}

input.skr-game-option-change,
select.skr-game-option-change {
	border-color: rgba(var(--bs-info-rgb)) !important;
}

#skr-dashboard-match-making-switch-form {
	input, label {
        cursor: pointer;
		pointer-events: unset;
		filter: unset;
		opacity: unset;
	}
}

#skr-dashboard-match-making-switch-form {
	pointer-events: none;
}

#skr-match-making .card {
	height: 100%;
}
