<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="objective-progress-table(entries)" class="col-12 mt-3" id="skr-objective-progress-table-wrapper">
	<table>
		<thead>
		</thead>
		<tbody>
		<tr th:each="entry : ${entries}">
			<td th:text="|${entry.key}:|" class="text-end"></td>
			<td th:text="${entry.displayValue}"></td>
		</tr>
		</tbody>
	</table>
</div>

<div th:fragment="content(game, deathFoeNotSeenYet, deathFoe, deathFoesNotSeenYet, deathFoes)" class="row text-center">
	<div class="col-12 mt-2">
		<span th:text="|#{win_condition}:|">Win condition:</span>
		<b th:text="#{'win_condition_' + ${game.winCondition}}">Survive</b>
	</div>

	<th:block th:if="${game.winCondition == T(org.skrupeltng.modules.ingame.database.WinCondition).DEATH_FOE}">
		<div class="col-12" th:if="${deathFoeNotSeenYet}" th:text="#{death_foe_not_seen_yet}">You haven't met your death foe yet.</div>
		<div class="col-12" th:if="${deathFoe != null}">
			<span th:text="|#{win_condition_DEATH_FOE}:|">Death foe:</span>
			<span class="player-name" th:style="|color: #${deathFoe.color};|" th:text="${deathFoe.retrieveDisplayName(messageSource)}"> PlayerName </span>
		</div>

		<div class="col-12" th:if="${deathFoesNotSeenYet}" th:text="#{death_foes_not_seen_yet}">You haven't met any of your death foes yet.</div>
		<div class="col-12" th:if="${deathFoes != null}">
			<div>
				<span th:text="|#{death_foes}:|">Death foes:</span>
				<span
					class="player-name"
					th:style="|color: #${deathFoe.color};|"
					th:each="deathFoe : ${deathFoes}"
					th:text="|${deathFoe.retrieveDisplayName(messageSource)} |"
				>
					PlayerName
				</span>
			</div>
			<div th:if="${notMetDeathFoes != null}" th:text="#{not_all_death_foes_not_seen_yet(${notMetDeathFoes})}">
				You haven't met 2 of your death foes yet.
			</div>
		</div>
	</th:block>

	<th:block th:if="${game.winCondition == T(org.skrupeltng.modules.ingame.database.WinCondition).INVASION}">
		<div th:if="${invasionRoundsLeft}"
			 class="col-12 mt-1"
			 th:text="#{next_invasion_wave_text(${game.invasionWave + 1}, ${invasionWaveCount}, ${nextInvasionWaveRounds})}"
		>
			Next wave (4 / 12) arrives in 4 rounds
		</div>

		<div th:if="!${invasionRoundsLeft}" class="col-12 mt-1" th:text="#{final_invasion_wave}">
			Survive this final wave to win the game!
		</div>
	</th:block>

	<th:block th:if="${game.winCondition == T(org.skrupeltng.modules.ingame.database.WinCondition).MINERAL_RACE}">
		<div
			class="col-12 mt-1"
			th:text="|#{help_game_options_win_condition_MINERAL_RACE_one} ${game.mineralRaceQuantity} #{help_game_options_win_condition_MINERAL_RACE_two} #{${game.mineralRaceMineralName.name().toLowerCase()}} #{help_game_options_win_condition_MINERAL_RACE_three} #{'mineral_race_storage_type_' + ${game.mineralRaceStorageType.name()}} #{help_game_options_win_condition_MINERAL_RACE_four}|"
		>
			Players have to gather 10000 KT of Lemin and store them on the home planet to win.
		</div>
		<th:block th:insert="~{::objective-progress-table(${mineralRaceProgressEntries})}"></th:block>
	</th:block>

	<th:block th:if="${game.winCondition == T(org.skrupeltng.modules.ingame.database.WinCondition).CONQUEST}">
		<div
			class="col-12 mt-1"
			th:text="|#{conquest_description_region(${game.conquestRounds})}|"
		>
			Players have to gather 10000 KT of Lemin and store them on the home planet to win.
		</div>
		<th:block th:insert="~{::objective-progress-table(${conquestProgressEntries})}"></th:block>
	</th:block>
</div>
</body>
</html>
