<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content">
			<div id="skr-ingame-player-messages-modal">
				<div class="skr-table container mt-3">
					<div class="row skr-table-header d-none d-lg-flex">
						<div class="col-3">
							<a href="javascript:;" id="PLAYER_MESSAGES_DATE">
								<span th:text="#{date}"></span>
								<i id="icon-PLAYER_MESSAGES_DATE"></i>
							</a>
						</div>
						<div class="col-3">
							<a href="javascript:;" id="PLAYER_MESSAGES_DATE">
								<span th:text="#{sender}"></span>
								<i id="icon-PLAYER_MESSAGES_DATE"></i>
							</a>
						</div>
						<div class="col-3">
							<a href="javascript:;" id="PLAYER_MESSAGES_DATE">
								<span th:text="#{subject}"></span>
								<i id="icon-PLAYER_MESSAGES_DATE"></i>
							</a>
						</div>
						<div class="col-3"></div>
					</div>
					<div th:fragment="table-content" id="skr-ingame-player-messages-table-content">
						<div class="row" th:if="${messages.getTotalPages() == 0}">
							<h6 class="col-12 text-center mt-2" th:text="#{no_results}">No results</h6>
						</div>
						<div class="row skr-table-row cursor-pointer" th:each="message : ${messages}" th:id="${message.id}">
							<div class="col-6 col-sm-3 d-lg-none" th:text="|#{date}:|">:</div>
							<div class="col-6 col-sm-3" th:text="${#dates.format(message.date, 'dd.MM.yyyy HH:mm')}">
								31.12.2018 15:45
							</div>
							<div class="col-6 col-sm-3 d-lg-none" th:text="|#{sender}:|">:</div>
							<div class="col-6 col-sm-3">
								<span class="player-name" th:style="|color: #${message.fromColor}|" th:text="${message.from}"
									>From</span
								>
							</div>
							<div class="col-6 col-sm-3 d-lg-none" th:text="|#{subject}:|">:</div>
							<div class="col-6 col-sm-9 col-lg-3" th:text="${message.subject}">Subject</div>
							<div class="col-12 col-lg-3 text-end">
								<skr-button
									type="button"
									class="btn btn-primary mb-1"
									th:if="${!message.read}"
									th:text="#{mark_as_read}"
									th:onclick="|ingame.markMessageAsRead(${message.id})|"
									>Mark as read</skr-button
								>
								<skr-button
									type="button"
									class="btn btn-success mb-1"
									th:data1="${message.from}"
									th:onclick="|ingame.messageToPlayer(${message.fromPlayerId}, this.getAttribute('data1'))|"
									th:text="#{answer}"
									>Answer</skr-button
								>
								<skr-button
									type="button"
									class="btn btn-danger mb-1"
									th:onclick="|ingame.deletePlayerMessage(${message.id})|"
									th:text="#{delete}"
									>Delete</skr-button
								>
							</div>
							<div
								class="col-12"
								th:classappend="${!message.read ? 'fw-bold' : ''}"
								th:text="|#{message}: ${message.message}|"
							>
								Message: message
							</div>
						</div>

						<nav th:if="${messages.getTotalPages() > 0}" class="mt-4">
							<input type="hidden" id="player-messages-pagination-max-page" th:value="${messages.getTotalPages()}" />

							<ul class="pagination justify-content-center">
								<li class="page-item pagination-prev">
									<a class="page-link" href="javascript:;">
										<span aria-hidden="true">&laquo;</span>
									</a>
								</li>
								<li
									th:class="|page-item ${messages.getPageable().getPageNumber() == page -1 ? 'active' : ''}|"
									th:each="page : ${#numbers.sequence(1, messages.getTotalPages())}"
								>
									<a class="page-link pagination-number" href="javascript:;" th:text="${page}">1</a>
								</li>
								<li class="page-item pagination-next">
									<a class="page-link" href="javascript:;" aria-label="Next">
										<span aria-hidden="true">&raquo;</span>
									</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
