<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="ship-name-headline(item)">
			<div class="mb-1">
				<b>
					<span th:text="${item.shipName}">Ship name</span>
					(
					<a
						class="skr-ingame-starbase-production-item-name skr-ingame-clickable-anchor skr-ingame-ship-template-details-button"
						th:text="${@masterDataService.getShipTemplateName(item.shipTemplate)}"
						th:shipTemplateId="${item.shipTemplate.id}"
						onclick="window.ingame.openShipTemplateDetailsModal(this.getAttribute('shipTemplateId'))"
					>
						Class name
					</a>
					)
				</b>
			</div>
			<div class="modal skr-ingame-ship-template-details-modal" tabindex="-1" role="dialog" th:id="|skr-ingame-ship-template-details-${item.shipTemplate.id}|">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-body">
							<div class="skr-ingame-ship-template-details-content"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div th:fragment="combat-log-ship-item(item, reverse)" style="width: 457px" th:classappend="${reverse} ? 'text-end' : ''">
			<th:block th:insert="~{::ship-name-headline(${item})}"></th:block>

			<div class="d-inline-flex" th:classappend="${reverse} ? 'flex-row-reverse' : ''">
				<img
					th:src="${item.shipTemplate.createFullImagePath()}"
					th:class="${reverse} ? 'ms-2' : 'me-2'"
					th:classappend="${item.shipId != null} ? 'cursor-pointer' : ''"
					th:data-bs-dismiss="${item.shipId != null} ? 'modal' : ''"
					th:onclick="${item.shipId != null} ? |ingame.select('ship', ${item.shipId})| : ''"
				/>

				<div th:classappend="${reverse} ? 'text-end' : ''">
					<div th:if="${item.shipTemplate.energyWeaponsCount} > 0" th:tooltip="|#{tech_level} ${item.energyWeaponTemplate.techLevel}|">
						<i class="fa-fw fas fa-bolt"></i>
						<span th:text="|${item.shipTemplate.energyWeaponsCount}x #{${item.energyWeaponTemplate.name}} (${item.energyWeaponTemplate.techLevel})|"></span>
					</div>
					<div th:if="${item.shipTemplate.projectileWeaponsCount} > 0" th:tooltip="|#{tech_level} ${item.projectileWeaponTemplate.techLevel}|">
						<i class="fa-fw fas fa-rocket"></i>
						<span th:text="|${item.shipTemplate.projectileWeaponsCount}x #{${item.projectileWeaponTemplate.name}} (${item.projectileWeaponTemplate.techLevel})|"></span>
					</div>
					<div th:if="${item.shipTemplate.hangarCapacity} > 0">
						<i class="fa-fw fab fa-gitter"></i>
						<span th:text="|${item.shipTemplate.hangarCapacity}x|"></span>
					</div>
				</div>
			</div>
		</div>

		<th:block th:fragment="orbital-combat-log(entry)">
			<div style="width: 457px" th:classappend="${!entry.forPlanetPlayer} ? 'text-end' : ''">
				<div th:text="${entry.planet.name}">Planet name</div>
				<div class="d-inline-flex" th:classappend="${!entry.forPlanetPlayer} ? 'flex-row-reverse' : ''">
					<img th:src="${entry.planet.createFullImagePath()}" />
					<div>
						<div class="ms-2 me-2" th:text="|#{initial_strength_of_planetary_defense}: ${entry.initialOrbitalDefensePercentage}|">Initial defense strength: 44</div>
						<div class="ms-2 me-2" th:text="|#{remaining_strength_of_planetary_defense}: ${entry.remainingOrbitalDefensePercentage}|">Remaining defense strength: 44</div>
					</div>
				</div>
			</div>
			<div class="pt-5 skr-news-combat-log-arrows">
				<span
					th:if="${(entry.destroyed && !entry.forPlanetPlayer) || (!entry.destroyed && entry.forPlanetPlayer)}"
					th:tooltip="${entry.destroyed && !entry.forPlanetPlayer} ? #{planetary_defense_destroyed_our_ship} : #{enemy_ship_broke_through}"
				>
					<i class="fa-fw fas fa-arrow-left"></i>
				</span>
				<span
					th:if="${(entry.destroyed && entry.forPlanetPlayer) || (!entry.destroyed && !entry.forPlanetPlayer)}"
					th:tooltip="${entry.destroyed && entry.forPlanetPlayer} ? #{we_destroyed_enemy_ship} : #{our_ship_broke_through}"
				>
					<i class="fa-fw fas fa-arrow-right"></i>
				</span>
			</div>
			<div th:replace="~{::combat-log-ship-item(${entry}, ${entry.forPlanetPlayer})}"></div>
		</th:block>

		<div th:fragment="small-meteor-log(entry)">
			<b th:text="${entry.planet.name}">Planet name</b>
			<div class="d-inline-flex align-items-center w-100">
				<img
					style="width: 113px; height: 97px"
					class="cursor-pointer"
					data-bs-dismiss="modal"
					aria-label="Close"
					th:src="${entry.planet.createFullImagePath()}"
					th:onclick="|ingame.select('planet', ${entry.planet.id})|"
				/>
				<div class="ms-2 w-100">
					<div th:insert="~{ingame/icon-label::content}" th:with="label=#{fuel},value=${entry.fuel},icon='fas fa-circle'"></div>
					<div th:insert="~{ingame/icon-label::content}" th:with="label=#{mineral1},value=${entry.mineral1},icon='fas fa-certificate'"></div>
					<div th:insert="~{ingame/icon-label::content}" th:with="label=#{mineral2},value=${entry.mineral2},icon='fas fa-square-full'"></div>
					<div th:insert="~{ingame/icon-label::content}" th:with="label=#{mineral3},value=${entry.mineral3},icon='fas fa-play fa-rotate-90'"></div>
				</div>
			</div>
		</div>

		<div th:fragment="sub-space-distortion-log(entry)" class="col-6">
			<th:block th:insert="~{::ship-name-headline(${entry})}"></th:block>
			<div class="d-inline-flex align-items-center w-100">
				<img
					th:src="${entry.shipTemplate.createFullImagePath()}"
					th:classappend="${entry.shipId != null} ? 'cursor-pointer' : ''"
					th:data-bs-dismiss="${entry.shipId != null} ? 'modal' : ''"
					th:onclick="${entry.shipId != null} ? |ingame.select('ship', ${entry.shipId})| : ''"
				/>

				<div class="ms-2 w-100">
					<span th:if="${!entry.destroyed}" th:text="|#{damage_taken}: ${entry.damage}|"></span>
					<span th:if="${entry.destroyed}" th:text="#{destroyed}"></span>
				</div>
			</div>
		</div>

		<div th:fragment="content">
			<input type="hidden" th:value="#{will_be_deleted}" id="skr-overview-will-be-deleted-text" />
			<input type="hidden" th:value="#{will_not_be_deleted}" id="skr-overview-will-not-be-deleted-text" />

			<h6 class="w-100 text-center mt-3" th:if="${news.isEmpty()}">No news entries available.</h6>

			<div class="row mt-2 mb-2" th:each="n : ${news}" th:if="${!news.isEmpty()}">
				<div class="col-sm-4 col-lg-2">
					<img
						th:data-bs-dismiss="${n.clickTargetId != null} ? 'modal' : ''"
						aria-label="Close"
						class="skr-news-image"
						th:data1="${n.clickTargetType}"
						th:classappend="${n.clickTargetId != null} ? 'cursor-pointer' : ''"
						th:onclick="${n.clickTargetId != null} ? |ingame.select(this.getAttribute('data1'), ${n.clickTargetId})| : ';'"
						th:src="${n.image}"
					/>
				</div>
				<div class="col-sm-8">
					<div th:utext="${n.resolvedTemplateText}">Text</div>
					<skr-button
						th:if="${n.hasDetailsEntries()}"
						type="button"
						class="btn btn-secondary mt-2 mb-2"
						data-bs-toggle="collapse"
						th:data-bs-target="|#skr-news-log-details-${n.id}|"
						th:onclick="|ingame.toggleNewsDetailsButton(${n.id})|"
					>
						<span th:id="|skr-show-news-details-button-text-${n.id}|" th:text="#{show_details}">Show details</span>
						<span class="d-none" th:id="|skr-hide-news-details-button-text-${n.id}|" th:text="#{hide_details}"> Hide details </span>
					</skr-button>
				</div>
				<div class="col-lg-2">
					<div th:text="${#dates.format(n.date, 'dd.MM.yyyy HH:mm')}">31.12.2018 15:45</div>
					<skr-button
						class="btn btn-primary skr-overview-toggle-delete"
						th:id="|skr-overview-toggle-news-delete-button-${n.id}|"
						th:tooltip="#{news_deletion_description}"
						th:onclick="|ingame.toggleNewsDelete(${n.id})|"
						th:text="${n.delete} ? #{will_be_deleted} : #{will_not_be_deleted}"
					>
						Will be deleted
					</skr-button>
				</div>

				<div th:if="${n.hasSpaceCombatLogEntries()}" class="col-12 collapse mt-2" th:id="|skr-news-log-details-${n.id}|">
					<div class="d-inline-flex justify-content-between w-100">
						<h5 th:text="#{our_ships}">Our ships</h5>
						<h5 th:text="#{enemy_ships}">Enemy ships</h5>
					</div>
					<div class="d-inline-flex justify-content-between w-100 mb-2" th:each="entry : ${n.retrieveSortedSpaceCombatLogEntries()}">
						<div th:replace="~{::combat-log-ship-item(${entry.retrieveOwnItem()}, false)}"></div>
						<div class="pt-5 skr-news-combat-log-arrows">
							<span th:if="${entry.retrieveOwnItem().destroyed && !entry.retrieveEnemyItem().destroyed}" th:tooltip="#{enemy_destroyed_us}">
								<i class="fa-fw fas fa-arrow-left"></i>
							</span>
							<span th:if="${!entry.retrieveOwnItem().destroyed && entry.retrieveEnemyItem().destroyed}" th:tooltip="#{we_destroyed_them}">
								<i class="fa-fw fas fa-arrow-right"></i>
							</span>
							<span th:if="${entry.retrieveOwnItem().destroyed && entry.retrieveEnemyItem().destroyed}" th:tooltip="#{mutually_destroyed}"
								><i class="fa-fw fas fa-arrows-alt-h"></i>
							</span>
							<span th:if="${entry.retrieveOwnItem().captured}" th:tooltip="#{enemy_captured_us}">
								<i class="fa-fw fas fa-arrow-circle-left"></i>
							</span>
							<span th:if="${entry.retrieveEnemyItem().captured}" th:tooltip="#{we_captured_enemy}">
								<i class="fa-fw fas fa-arrow-circle-right"></i>
							</span>
						</div>
						<div th:replace="~{::combat-log-ship-item(${entry.retrieveEnemyItem()}, true)}"></div>
					</div>
				</div>

				<div th:if="${n.hasOrbitalCombatLogEntries()}" class="col-12 collapse mt-2" th:id="|skr-news-log-details-${n.id}|">
					<div
						class="d-inline-flex justify-content-between align-items-center w-100"
						th:each="entry : ${n.retrieveSortedOrbitalCombatLogEntries()}"
						th:classappend="${entry.forPlanetPlayer} ? '' : 'flex-row-reverse'"
						th:insert="~{::orbital-combat-log(entry)}"
					></div>
				</div>

				<div th:if="${n.hasSmallMeteorLogEntries()}" class="col-12 collapse mt-2" th:id="|skr-news-log-details-${n.id}|">
					<div class="row">
						<div class="col-4" th:each="entry : ${n.retrieveSortedSmallMeteorLogEntries()}" th:insert="~{::small-meteor-log(${entry})}"></div>
					</div>
				</div>

				<div th:if="${n.hasShockWaveDestructionLogEntries()}" class="col-12 collapse mt-2" th:id="|skr-news-log-details-${n.id}|">
					<div class="row">
						<div class="col-6" th:each="entry : ${n.retrieveSortedShockWaveDestructionLogEnties()}" th:insert="~{::sub-space-distortion-log(${entry})}"></div>
					</div>
				</div>

				<hr class="mt-2" />
			</div>
		</div>
	</body>
</html>
