<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content">
	<div class="row">
		<div class="col-md-5">
			<div class="row">
				<div class="col-12">
					<h5 class="mt-2 text-center" th:text="|#{round} ${summary.round} (${#dates.format(summary.date, 'dd.MM.yyyy HH:mm')})|">Round (31.12.2018 16:54)</h5>
				</div>

				<div class="col-12">
					<div class="card">
						<div class="card-header">
							<label class="card-title" th:text="#{personal_summary}">Personal summary</label>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-8" th:text="#{new_colonies}">New colonies</div>
								<div class="col-4 text-end" th:text="${summary.newColoniesPlayer}">1</div>
								<div class="col-8" th:text="#{new_ships}">New ships</div>
								<div class="col-4 text-end" th:text="${summary.newShipsPlayer}">1</div>
								<div class="col-8" th:text="#{new_starbases}">New starbases</div>
								<div class="col-4 text-end" th:text="${summary.newStarbasesPlayer}">1</div>
								<div class="col-8" th:text="#{destroyed_ships}">Destroyed ships</div>
								<div class="col-4 text-end" th:text="${summary.destroyedShipsPlayer}">1</div>
								<div class="col-8" th:text="#{lost_ships}">Lost ships</div>
								<div class="col-4 text-end" th:text="${summary.lostShipsPlayer}">1</div>
							</div>
						</div>
					</div>

					<div class="col-12" th:if="${game.storyModeCampaign == null && game.players.size() > 1}">
						<div class="card">
							<div class="card-header">
								<label class="card-title" th:text="#{other_players_summary}">Summary of the other players</label>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-8" th:text="#{new_colonies}">New colonies</div>
									<div class="col-4 text-end" th:text="${summary.newColonies}">1</div>
									<div class="col-8" th:text="#{new_ships}">New ships</div>
									<div class="col-4 text-end" th:text="${summary.newShips}">1</div>
									<div class="col-8" th:text="#{new_starbases}">New starbases</div>
									<div class="col-4 text-end" th:text="${summary.newStarbases}">1</div>
									<div class="col-8" th:text="#{destroyed_ships}">Destroyed ships</div>
									<div class="col-4 text-end" th:text="${summary.destroyedShips}">1</div>
									<div class="col-8" th:text="#{lost_ships}">Lost ships</div>
									<div class="col-4 text-end" th:text="${summary.lostShips}">1</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-7">
			<div th:insert="~{mini-map::content}"></div>
		</div>
	</div>
</div>
</body>
</html>
