<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
<head>
	<title th:text="|#{games_management} - #{application_name}|"></title>
</head>
<body>
<th:block th:fragment="search-params">
	<div class="col-sm-6 col-lg-3 skr-fullpage-search-item">
		<input type="text" class="form-control" id="name" name="name" th:placeholder="#{name}" th:value="${param.name}"/>
	</div>
	<div class="col-sm-6 col-lg-3">
		<select class="form-select" id="winCondition" name="winCondition">
			<option th:text="|-- #{win_condition} --|" th:value="''"></option>
			<option
				th:selected="${param.winCondition != null && param.winCondition.toString().equals(winCondition.name())}"
				th:each="winCondition : ${winConditions}"
				th:value="${winCondition.name()}"
				th:text="#{'win_condition_' + ${winCondition.name()}}"
			>
				Survive
			</option>
		</select>
	</div>
	<div class="col-sm-6 col-lg-3 skr-fullpage-search-item">
		<input type="text" class="form-control" id="creatorName" name="creatorName" th:placeholder="#{creator}" th:value="${param.creatorName}"/>
	</div>
	<div class="col-sm-6 col-lg-3 skr-fullpage-search-item" th:insert="~{dashboard/fullpage-search-table-fragments::yes-no-select('finished', #{finished})}"></div>
</th:block>

<th:block th:fragment="table-header">
	<div class="col-3">
		<div class="row">
			<div th:replace="~{dashboard/fullpage-search-table-fragments::column-header('col-2', 'ADMINGAMES_ID', #{id}, false)}"></div>
			<div th:replace="~{dashboard/fullpage-search-table-fragments::column-header('col-5', 'ADMINGAMES_NAME', #{name}, false)}"></div>
			<div th:replace="~{dashboard/fullpage-search-table-fragments::column-header('col-5', 'ADMINGAMES_CREATED', #{created}, false)}"></div>
		</div>
	</div>
	<div class="col-7">
		<div class="row">
			<div th:replace="~{dashboard/fullpage-search-table-fragments::column-header('col-2', 'ADMINGAMES_CREATOR', #{creator}, false)}"></div>
			<div th:replace="~{dashboard/fullpage-search-table-fragments::column-header('col-2', 'ADMINGAMES_ROUND_DATE', #{last_round}, false)}"></div>
			<div class="col-4" th:text="#{players}"></div>
			<div th:replace="~{dashboard/fullpage-search-table-fragments::column-header('col-2', 'ADMINGAMES_ROUND', #{round}, false)}"></div>
			<div th:replace="~{dashboard/fullpage-search-table-fragments::column-header('col-2', 'ADMINGAMES_GAME_MODE', #{win_condition}, false)}"></div>
		</div>
	</div>
	<div class="col-2">
		<div class="row">
			<div th:replace="~{dashboard/fullpage-search-table-fragments::column-header('col-4', 'ADMINGAMES_FINISHED', #{finished}, false)}"></div>
		</div>
	</div>
</th:block>

<th:block th:fragment="table-row(result)">
	<div class="col-md-3">
		<div class="row">
			<div class="col-6 col-sm-3 d-md-none fw-bold" th:text="|#{id}:|">ID:</div>
			<div class="col-6 col-sm-3 col-md-2 value" th:text="${result.id}">1234</div>
			<div class="col-6 col-sm-3 d-md-none fw-bold" th:text="|#{name}:|">Name:</div>
			<div class="col-6 col-sm-3 col-md-5 value skr-admin-users-name text-break" th:text="${result.name}">Name</div>
			<div class="col-6 col-sm-3 d-md-none fw-bold" th:text="|#{created}:|">Created:</div>
			<div class="col-6 col-sm-3 col-md-5 value" th:text="${#dates.format(result.created, 'dd.MM.yyyy HH:mm:ss')}">20.12.2012 08:32:23</div>
		</div>
	</div>
	<div class="col-md-7">
		<div class="row">
			<div class="col-6 col-sm-3 d-md-none fw-bold" th:text="|#{creator}:|">Creator</div>
			<div class="col-6 col-sm-3 col-md-2 value skr-admin-users-name" th:text="${result.creator}">Creator</div>
			<div class="col-6 col-sm-3 d-md-none fw-bold" th:text="|#{last_round}:|">Last round:</div>
			<div class="col-6 col-sm-3 col-md-2 value" th:text="${#dates.format(result.roundDate, 'dd.MM.yyyy HH:mm:ss')}">20.12.2012 08:32:23</div>
			<div class="col-6 col-sm-3 d-md-none fw-bold" th:text="|#{players}:|">Players:</div>
			<div class="col-6 col-sm-3 col-md-4 value" th:utext="${result.players}">player1, player2</div>
			<div class="col-6 col-sm-3 d-md-none fw-bold" th:text="|#{round}:|">Round</div>
			<div class="col-6 col-sm-3 col-md-2 value" th:text="${result.round}">4</div>
			<div class="col-6 col-sm-3 d-md-none fw-bold" th:text="|#{win_condition}:|">Game mode:</div>
			<div class="col-6 col-sm-3 col-md-2 value" th:text="#{'win_condition_' + ${result.winCondition}}"></div>
		</div>
	</div>
	<div class="col-md-2">
		<div class="row">
			<div class="col-6 col-sm-3 d-md-none fw-bold" th:text="|#{finished}:|">Finished:</div>
			<div class="col-6 col-sm-3 col-md-5 value" th:text="${result.finished} ? #{yes} : #{no}"></div>
			<div class="col-12 col-sm-7 text-end">
				<a class="btn btn-primary mb-2 w-100" target="_blank" th:href="|/game?id=${result.id}|">
					<i class="fa-fw fas fa-info"></i>
					<span class="d-md-none d-lg-inline-block" th:text="#{show_details}">Show details</span>
				</a>
				<br/>
				<skr-button type="button" class="btn btn-danger skr-admin-games-delete-game-button w-100" th:onclick="|adminGames.showConfirmDeleteGameDialog(${result.id})|">
					<i class="fa-fw fas fa-trash-alt"></i>
					<span class="d-md-none d-lg-inline-block" th:text="#{delete_game}">Delete game</span>
				</skr-button>
			</div>
		</div>
	</div>
</th:block>

<section layout:fragment="content">
	<div id="skr-admin-confirm-delete-game-modal-wrapper">
		<div class="modal" id="skr-admin-confirm-delete-game-modal" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<div class="text-center" style="width: 100%" th:text="#{really_delete_this_game}">Do you really want to delete this game? This cannot be undone!</div>
					</div>
					<div class="modal-footer">
						<skr-button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{cancel}"> Cancel </skr-button>
						<skr-button
							type="button"
							class="btn btn-danger"
							id="skr-admin-delete-game-modal-delete-button"
							data-bs-dismiss="modal"
							onclick="adminGames.deleteGame()"
							th:text="#{yes}"
						>
							Yes
						</skr-button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="skr-game-deletion-modal-wrapper">
		<div class="modal" id="skr-game-deletion-modal" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content" id="skr-game-deletion-modal-content">
					<div class="modal-header">
						<div class="text-center" style="width: 100%" th:text="#{game_is_being_deleted}">Game is being deleted...</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div
		th:replace="~{dashboard/fullpage-search-table-fragments::content(${@dashboardUrlConstants.ADMIN_GAMES}, 'dashboard/admin/games::search-params', ${@dashboardUrlConstants.ADMIN_GAMES_DEFAULT_SEARCH}, ${results}, ${sortItems}, 'dashboard/admin/games::table-header', #{no_games_found}, 'dashboard/admin/games::table-row(${result})', ${completeUrl})}"
	></div>
</section>
</body>
</html>
