<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
	<head>
		<title th:text="|#{legal_text} - #{application_name}|"></title>
	</head>
	<body>
		<section layout:fragment="content">
			<form action="#" th:action="@{/admin/legal}" th:object="${request}" method="POST">
				<h2 th:text="#{legal_text_optional}">Legal (optional)</h2>

				<div class="row mb-2">
					<div class="col-12">
						<skr-button type="submit" class="btn btn-primary" id="skr-admin-save-legal-text">
							<i class="fa fa-save"></i>
							<span th:text="#{save}">Save</span>
						</skr-button>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-body">
								<textarea class="form-control" th:field="*{text}" th:placeholder="${legal_text}"></textarea>
							</div>
						</div>
					</div>
				</div>
			</form>
		</section>
	</body>
</html>
