<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
	<head>
		<title th:text="|#{user_management} - #{application_name}|"></title>
	</head>
	<body>
		<th:block th:fragment="search-params">
			<div class="col-sm-6 col-lg-3 skr-fullpage-search-item">
				<input type="text" class="form-control" id="username" name="username" th:placeholder="#{username}" th:value="${param.username}" />
			</div>
			<div
				class="col-sm-6 col-lg-3 skr-fullpage-search-item"
				th:insert="~{dashboard/fullpage-search-table-fragments::yes-no-select('createdGames', #{created_games})}"
			></div>
			<div class="col-sm-6 col-lg-3 skr-fullpage-search-item"
				 th:insert="~{dashboard/fullpage-search-table-fragments::yes-no-select('playedGames', #{played_games})}">
			</div>
			<div class="col-sm-6 col-lg-3 skr-fullpage-search-item"
				 th:insert="~{dashboard/fullpage-search-table-fragments::yes-no-select('matchMakingEnabled', #{match_making_enabled})}">
			</div>
		</th:block>

		<th:block th:fragment="table-header">
			<div class="col-5">
				<div class="row">
					<div th:replace="~{dashboard/fullpage-search-table-fragments::column-header('col-2', 'USERS_ID', #{id}, false)}"></div>
					<div th:replace="~{dashboard/fullpage-search-table-fragments::column-header('col-3', 'USERS_USERNAME', #{username}, false)}"></div>
					<div th:replace="~{dashboard/fullpage-search-table-fragments::column-header('col-4', 'USERS_EMAIL', #{email}, false)}"></div>
					<div th:replace="~{dashboard/fullpage-search-table-fragments::column-header('col-3', 'USERS_CREATED_DATE', #{created}, false)}"></div>
				</div>
			</div>
			<div class="col-5">
				<div class="row">
					<div th:replace="~{dashboard/fullpage-search-table-fragments::column-header('col-3', 'USERS_GAMES_CREATED', #{games_created}, true)}"></div>
					<div th:replace="~{dashboard/fullpage-search-table-fragments::column-header('col-3', 'USERS_GAMES_PLAYED', #{games_played}, true)}"></div>
					<div th:replace="~{dashboard/fullpage-search-table-fragments::column-header('col-3', 'USERS_GAMES_WON', #{games_won}, true)}"></div>
					<div th:replace="~{dashboard/fullpage-search-table-fragments::column-header('col-3', 'USERS_GAMES_LOST', #{games_lost}, true)}"></div>
				</div>
			</div>
			<div class="col-2"></div>
		</th:block>

		<th:block th:fragment="table-row(result)">
			<div class="col-md-5">
				<div class="row">
					<div class="col-6 col-sm-3 d-md-none fw-bold" th:text="|#{id}:|">ID</div>
					<div class="col-6 col-sm-3 col-md-2 value" th:text="${result.id}">1234</div>
					<div class="col-6 col-sm-3 d-md-none fw-bold" th:text="|#{name}:|">Name</div>
					<div class="col-6 col-sm-3 col-md-3 value skr-admin-users-username" th:text="${result.username}">Username</div>
					<div class="col-6 col-sm-3 d-md-none fw-bold" th:text="|#{email}:|">Email</div>
					<div class="col-6 col-sm-3 col-md-4 value text-break" th:text="${result.email}">address@host.com</div>
					<div class="col-6 col-sm-3 d-md-none fw-bold" th:text="|#{created}:|">Created</div>
					<div class="col-6 col-sm-3 col-md-3 value" th:text="${#dates.format(result.created, 'dd.MM.yyyy HH:mm:ss')}">20.12.2012 08:32:23</div>
				</div>
			</div>
			<div class="col-md-5">
				<div class="row">
					<div class="col-8 col-sm-3 d-md-none fw-bold" th:text="|#{games_created}:|">Name</div>
					<div class="col-4 col-sm-3 value text-end" th:text="${result.gamesCreated}">5</div>
					<div class="col-8 col-sm-3 d-md-none fw-bold" th:text="|#{games_played}:|">Name</div>
					<div class="col-4 col-sm-3 value text-end" th:text="${result.gamesPlayed}">7</div>
					<div class="col-8 col-sm-3 d-md-none fw-bold" th:text="|#{games_won}:|">Name</div>
					<div class="col-4 col-sm-3 value text-end" th:text="${result.gamesWon}">2</div>
					<div class="col-8 col-sm-3 d-md-none fw-bold" th:text="|#{games_lost}:|">Name</div>
					<div class="col-4 col-sm-3 value text-end" th:text="${result.gamesLost}">3</div>
				</div>
			</div>
			<div class="col-md-2 text-end">
				<skr-button
					type="button"
					th:id="|skr-admin-users-master-login-button-${result.username}|"
					class="btn btn-primary me-1"
					th:username="${result.username}"
					onclick="users.masterLogin(this.getAttribute('username'))"
				>
					<i class="fas fa-user"></i>
					<span class="d-md-none d-lg-inline-block" th:text="#{master_login}">Master Login</span>
				</skr-button>

				<skr-button
					type="button"
					th:id="|skr-admin-users-master-delete-button-${result.username}|"
					class="btn btn-danger skr-admin-users-delete-user-button"
					th:onclick="|users.showDeleteUserModal(${result.id})|"
				>
					<i class="fas fa-trash-alt"></i>
					<span class="d-md-none d-lg-inline-block" th:text="#{delete_user}">Delete user</span>
				</skr-button>
			</div>
		</th:block>

		<section layout:fragment="content">
			<div id="skr-admin-delete-user-modal-wrapper">
				<div class="modal" id="skr-admin-delete-user-modal" tabindex="-1" role="dialog">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<div class="text-center" style="width: 100%" th:text="#{really_delete_user}">Do you really want to delete this user? This cannot be undone!</div>
							</div>
							<div class="modal-footer">
								<skr-button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{cancel}"> Cancel </skr-button>
								<skr-button
									type="button"
									class="btn btn-danger"
									id="skr-admin-delete-user-modal-delete-button"
									data-bs-dismiss="modal"
									onclick="users.deleteUser()"
									th:text="#{yes}"
								>
									Yes
								</skr-button>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div
				th:replace="~{dashboard/fullpage-search-table-fragments::content(${@dashboardUrlConstants.ADMIN_USERS}, 'dashboard/admin/users::search-params', ${@dashboardUrlConstants.ADMIN_USERS_DEFAULT_SEARCH}, ${results}, ${sortItems}, 'dashboard/admin/users::table-header', #{no_users_found}, 'dashboard/admin/users::table-row(${result})', ${completeUrl})}"
			></div>
		</section>
	</body>
</html>
