@import '../../skrupel_tng.scss';
@import 'ingame_selection_animation.scss';

#skr-ingame-nav-bar .nav-item {
  margin-left: 1em;
  margin-right: 1em;
}

#skr-ingame-user-dropdown-menu,
#skr-dashboard-notifications-dropdown-menu {
  right: 0;
  left: auto;
}

#skr-dashboard-notifications-menu-button i {
  font-size: 1.5rem;
  width: auto;
}

#skr-ingame-nav-bar #skr-dashboard-notifications-wrapper-big {
  margin-right: 0;
}

@media (max-width: 767px) {
  .navbar {
    padding: 0;
  }
}

#skr-dashboard-notifications-wrapper-small {
  height: 50px;
}

#skr-ingame-navbar-toggle-button {
  padding: 0.5rem 0 0 0;
}

#skr-ingame-navbar-toggle-button i {
  height: 2.2rem;
}

.navbar-brand {
  margin-right: 0 !important;
}

.navbar .fa-user {
  font-size: 1.2em;
}

label {
  margin-bottom: 0.2em;
}

#skr-ingame-turn-infos-menu-toggle {
  margin-top: 7px;
}

#skr-ingame-turn-infos-menu-toggle:hover {
  text-decoration: none !important;
}

.section {
  overflow: hidden;
}

.modal-content label {
  margin-top: 4px;
  margin-bottom: 0;
}

.modal-content .icon-label {
  margin-top: 0;
}

.icon-label-icon {
  line-height: 22px;
  position: relative;
  top: 2px;
}

.skr-mines-untapped-icon-label {
  width: 60%;
}

.skr-ingame-ship-mouse-over-ship-item:nth-child(even) {
  background: #ddd;
}

.skr-ingame-ship-mouse-over-ship-item:nth-child(odd) {
  background: white;
}

.skr-ingame-ship-mouse-over-ship-item:hover {
  background-color: #cccccc;
}

.skr-ingame-section-label {
  position: absolute;
  color: grey;
  font-size: 15px;
  font-weight: bold;
  width: 250px;
  height: 250px;
  text-align: center;
  padding-top: 110px;
}

.skr-ingame-section-coordinate-label {
  position: absolute;
  color: grey;
  width: 245px;
  font-size: 13px;
  padding: 2px;
}

.skr-ingame-section-line {
  position: absolute;
  width: 250px;
  height: 250px;
  border-color: grey;
  border-style: dashed;
  border-width: 0;
  z-index: 1;
  pointer-events: none;
}

.skr-game-planet img {
  position: absolute;
  width: 10px;
  height: 10px;
  cursor: pointer;
  z-index: 100;
  left: -5px;
  top: -5px;
}

.skr-ingame-ship-scan-circle,
.skr-ingame-planet-scan-circle,
.skr-game-spacefold,
.skr-game-plasmastorm,
.skr-game-minefield {
  position: absolute;
  pointer-events: none;
}

.skr-ingame-ship-scan-circle > div {
  position: relative;
  border: 1px solid #1854ff;
}

.skr-ingame-planet-scan-circle > div {
  position: relative;
  border: 1px dashed #1854ff;
  opacity: 0.7;
  border-radius: 160px;
}

.skr-game-wormhole {
  position: absolute;
}

.skr-game-wormhole > img {
  position: relative;
}

#skr-game-galaxy-wrapper {
  background: #111111;
  overflow: auto;
  width: 100%;
  height: 100%;
  position: fixed;
  right: 0;
}

#skr-game-galaxy {
  background: #222222;
  user-select: none;
  transform-origin: left top;
}

#skr-game-selection-wrapper {
  max-width: 550px;
  width: 100%;
  position: fixed;
  left: 0;
  font-size: 0.7em;
  transform: translate(0px, 0px);
}

#header {
  border-bottom: 1px solid var(--color-theme-border);
}

#skr-game-selection-wrapper.collapsed #skr-ingame-footer-collapse-button {
  transform: translate(40px, 24px);
}

#skr-ingame-selection-panel-top {
  padding-top: 1rem;
}

#skr-ingame-ship-selection #skr-ingame-selection-panel-top {
  padding-top: 0.5rem;
}

#footer {
  position: fixed;
  height: 1.5rem;
  display: inline-flex;
  align-items: center;
  padding-left: 0.5rem;
}

#footer-coordinate-x,
#footer-coordinate-y {
  width: 3rem;
  margin-left: 0.5rem;
}

#skr-ingame-footer-collapse-button {
  max-width: 550px;
  width: 100%;
  height: 1.5rem;
  position: fixed;
  bottom: 0;
  transform: translate(0px, 24px);
}

#skr-ingame-footer-collapse-button i {
  position: absolute;
  right: 17px;
  top: 2px;
}

#skr-ingame-footer-collapse-button span {
  font-size: 1rem;
  position: relative;
  top: -2px;
}

.right-max-button {
  vertical-align: baseline;
}

.left-max-button {
  vertical-align: baseline;
}

#skr-ingame-footer-collapse-button i {
  color: white !important;
}

#skr-game-selection .card {
  margin: 0 5px 20px 5px;
  border-color: gray;
}

#skr-game-selection .card .small {
  font-size: 90%;
  font-weight: bold;
}

#skr-game-selection .card-body {
  padding: 5px 10px 5px 10px;
}

#skr-game-selection .card-title {
  margin-bottom: 5px;
}

#skr-game-selection .card-body img {
  height: 65px;
}

#skr-planet-center .skr-planet-bottom-button {
  margin-top: 23px;
}

#skr-game-selection span {
  font-weight: bold;
}

#skr-game-selection span.normal {
  font-weight: normal;
}

.selection-button skr-button {
  cursor: pointer;
  font-size: 1.5em;
  border: 0 none;
  background: transparent;
}

.selection-button-bottom {
  margin-top: 23px;
}

.selection-button-small skr-button i {
  font-size: 1.1em !important;
}

#skr-planet-buttons-right i {
  margin-top: 6px;
}

#skr-starbase-small-icons {
  margin-top: 15px;
}

.small-select {
  padding: 2px !important;
}

.skr-ingame-selection-panel .custom-select,
.small .custom-select {
  height: 2em;
  padding: 3px;
  font-size: inherit;
}

@media (max-height: 500px), (max-width: 576px) {
  #skr-game-selection {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
  }
}

@media (min-height: 501px) and (min-width: 577px) {
  .skr-ingame-selection-panel {
    overflow-y: auto;
    overflow-x: hidden;
  }
}

@media (max-width: 576px) {
  #skr-planet-stats-details-lists,
  #skr-ingame-starbase-stats-lists {
    padding: 0 10px !important;
  }
}

.skr-ingame-selection-panel {
  padding-top: 0.5rem;
  display: block;
}

.skr-ingame-selection-panel .table td,
.skr-ingame-selection-panel .table th {
  padding: 1px;
}

.skr-starbase-production-quantity-select {
  width: 70px;
}

.form-select-sm {
  padding: 2px 4px;
}

input.small {
  width: 70px;
  display: inline-block;
}

.mineral-transformer-item {
  display: inline-flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-top: 1rem;
}

.mineral-transformer-item input.small {
  width: 100px;
}

.mineral-transformer-item input.error {
  border-color: red !important;
}

skr-button.btn,
label.btn {
  padding: 0 7px;
  font-size: 1.2em;
  height: 1.7rem;
  line-height: 1.6rem;
}

.mineral-transformer-item skr-button {
  padding-top: 2px;
}

.skr-game-selection-message {
  width: 100%;
  margin-top: 2em;
  font-size: 2em;
  text-align: center;
}

#skr-ship-small-icons skr-button {
  font-size: 1em !important;
  margin-bottom: 12px !important;
}

#skr-game-ship-scanner img {
  height: 45px;
  border: 2px solid black;
}

.skr-ship-scanner-ship-details {
  padding-top: 5px;
  padding-bottom: 5px;
}

.right-max-button i,
.left-max-button i {
  font-size: 0.9rem;
  pointer-events: none;
}

.skr-ingame-route-action-buttons i {
  font-size: 0.9rem;
  pointer-events: none;
}

.skr-ingame-route-button-column {
  width: 90px;
}

.skr-ingame-route-button-column i {
  font-size: 0.9rem;
  pointer-events: none;
}

.skr-game-details-mouseover {
  padding: 0 !important;
  display: none;
  position: absolute;
  background: black;
  color: white;
  left: 5px;
  top: 20px;
  z-index: 1200;
  border: 1px solid white;
  font-size: 0.7em !important;
}

.skr-game-details-mouseover-content {
  background: white;
  color: black;
  width: 300px;
  text-align: left;
  padding: 3px !important;
}

.skr-game-mouseover-ship {
  width: 250px;
}

.skr-game-mouseover-ships {
  width: 300px;
}

.skr-game-mouseover-ship-relation {
  width: 22px;
}

.skr-game-mouseover-planet {
  width: 175px;
}

.skr-game-mouseover-planet-scanned {
  width: 250px;
}

.skr-game-mouseover-planet-owned {
  width: 270px;
}

.skr-game-mouseover-starbase {
  width: 220px;
}

.untapped-resource {
  height: 15px;
  margin-top: 5px;
}

.skr-ingame-selection-item {
  width: 200px;
  cursor: pointer;
}

.skr-ingame-selection-bars td {
  border: 1px solid grey;
}

.skr-ingame-selection-bars td div {
  width: 100%;
}

.selection-bar {
  height: 100%;
  width: 20px;
}

.shield {
  background-color: lightblue;
}

.damage {
  background-color: blue;
  color: white;
}

.cargo {
  background-color: orange;
}

.crew {
  background-color: yellow;
}

.skr-ingame-native-species-image {
  width: 100px;
  height: 100px !important;
}

.skr-ingame-clickable-anchor {
  color: #007bff !important;
  cursor: pointer;
}

.skr-ingame-navigation-over-speed-warp-entry {
  color: white;
  background-color: red;
}

.select-option-unselectable {
  background: grey;
  color: white;
}

#skr-game-ship-transporter img,
#skr-ingame-space-folds-content img {
  height: 40px;
}

#skr-game-ship-transporter input.small,
#skr-ingame-space-folds-content input.small {
  text-align: right;
}

#skr-game-ship-transporter > .position-fixed,
#skr-ingame-space-folds-content > .position-fixed {
  width: 39%;
  z-index: 500;
  background: white;
}

@media (max-width: 1000px) {
  #skr-game-ship-transporter > .position-fixed,
  #skr-ingame-space-folds-content > .position-fixed {
    position: relative !important;
    width: 100%;
    z-index: 500;
    background: white;
  }

  #skr-ship-transporter-sliders,
  .skr-spacefolds-sliders {
    padding-top: 1em;
  }
}

.nav-tabs .badge {
  position: relative;
  top: -10px;
  right: -5px;
}

#skr-ship-courseselect-checkbox-wrapper {
  margin-left: 19px;
}

#skr-ingame-ship-task-form {
  margin-left: 19px;
}

#skr-ingame-selection-ping-wrapper {
  position: absolute;
  z-index: 40;
  display: none;
}

#skr-ingame-selection-ping {
  border: 1px solid gray;
  border-radius: 50px;
  height: 44px;
  width: 44px;
  position: absolute;
  left: -22px;
  top: -22px;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
}

.popover {
  z-index: 1070;
  border-color: #007bff;
}

.bs-popover-left .arrow:before {
  border-left-color: #007bff !important;
}

.bs-popover-top .arrow:before {
  border-top-color: #007bff !important;
}

.bs-popover-right .arrow:before {
  border-right-color: #007bff !important;
}

.bs-popover-bottom .arrow:before {
  border-bottom-color: #007bff !important;
}

.dropdown-menu {
  z-index: 1071;
}

.border-left,
.border-right {
  border-color: grey !important;
}

#skr-ingame-fleet-details .skr-ingame-selection-item {
  cursor: default;
  width: 180px;
}

#skr-ingame-fleet-details .skr-ingame-selection-item img,
#skr-ingame-fleet-details .skr-ingame-selection-item .card-title {
  cursor: pointer;
}

.ship-destination-marker {
  border: 1px dashed;
  width: 22px;
  height: 22px;
  position: absolute;
}

.skr-ingame-details-expansion-level-buttons {
  margin-bottom: 10px;
}

.skr-ingame-details-expansion-level-buttons .btn,
.skr-ingame-details-expansion-level-buttons i {
  font-size: 1rem !important;
}

.skr-ingame-travel-line {
  pointer-events: none;
}

.ship-component-collapse-button i {
  font-size: 1rem;
}

.popover-header {
  display: none;
}

.orbital-system-built {
  font-weight: bold;
  font-size: 0.9rem !important;
}

.btn i.mdi {
  font-size: 2rem;
}

#skr-ingame-starbase-hull-production {
  font-size: 1.6em !important;
}

#skr-ingame-shipconstruction-hull-icon {
  font-size: 1.3em;
}

.skr-planet-open-starbase-button,
.skr-starbase-open-planet-button {
  height: 2rem !important;
}

.skr-starbase-open-planet-button i,
.skr-starbase-open-planet-button span,
.skr-planet-open-starbase-button i,
.skr-planet-open-starbase-button span {
  font-size: 16px !important;
}

#skr-ship-projectiles-build-projectiles-auto {
  width: 350px;
}

.ship-stats-fleet-selection-menu hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#skr-ingame-finish-turn-button i,
#skr-ingame-turn-finished-button i {
  font-size: 1.2em;
  position: relative;
  top: 2px;
}

#skr-ingame-finish-turn-button span,
#skr-ingame-turn-finished-button span {
  position: relative;
  top: -2px;
}

#skr-ingame-measure-distance-panel {
  width: 23rem;
  display: inline-flex;
  align-items: center;
}

#skr-ingame-measured-distance-label {
  width: 8.5rem;
}

#skr-discord-link i {
  color: #858fff;
}

.skr-footer-icon {
  font-size: 1.1rem;
  cursor: pointer;
}

@media (min-width: 576px) {
  #skr-planet-stats-details-wrapper {
    height: 194px;
  }

  #skr-starbase-stats-details-wrapper {
    height: 145px;
  }

  #skr-ingame-fleet-stats-details {
    height: 136px;
  }
}

#skr-story-mode-message-popup {
  position: fixed;
  top: 4.5rem;
  right: 2rem;
  background: var(--color-theme-background);
  border: 1px solid var(--color-theme-border);
  width: 350px;
  min-height: 150px;
  padding: 0.7rem;
  z-index: 1100;
  border-radius: 12px;
}

.skr-story-mode-message-popup-scoll-container {
  overflow: auto;
  max-height: calc(100vh - 150px);
}

#skr-ingame-control-groups-panel {
  display: inline-flex;
  align-items: center;
}

#skr-ingame-control-groups-icons-panel {
  display: inline-flex;
  align-items: center;
}

#skr-ingame-route-content button i {
  font-size: 0.7rem;
}

.skr-overview-toggle-delete {
  height: auto !important;
}

#skr-objective-progress-table-wrapper {
  width: 100%;

  table {
    width: 250px;
    margin: 0 auto;

    td {
      width: 125px;
    }
  }
}

#skr-ingame-story-mode-dropdown-button i {
  font-size: 1rem;
}

#skr-mission-objective-dropdown {
  width: 350px;
  border-color: white;
}

#skr-ingame-control-groups-icons-panel div {
  border: 1px solid white;
  border-radius: 13px;
  width: 24px;
  height: 24px;
  margin-right: 0.5rem;
  cursor: pointer;
}

#skr-ingame-control-groups-icons-panel i {
  font-size: 1rem;
  cursor: pointer;
  padding-left: 2px;
  vertical-align: text-top;
  line-height: 16px;
}

.skr-expected-combat-outcome-title {
  width: 100%;
  text-align: center;
  font-weight: bold;
  height: 27px;
  font-size: 0.9rem;
}

label.icon-label {
  position: relative;
  top: 2px;
}

#skr-ship-courseselect-delete-course i {
  position: relative;
  top: 2px;
}

.skr-news-combat-log-arrows .fa-arrow-right,
.skr-news-combat-log-arrows .fa-arrow-circle-right {
  color: green;
}

.skr-news-combat-log-arrows .fa-arrow-left,
.skr-news-combat-log-arrows .fa-arrow-circle-left,
.skr-news-combat-log-arrows .fa-arrows-alt-h {
  color: red;
}

.skr-ship-headline-title {
  max-width: 250px;
}

.skr-ship-headline-coordinates {
  width: 80px;
}

.skr-ship-headline-fleet-button-group skr-button {
  height: auto !important;
}

.skr-news-image {
  max-width: 150px;
}

#skr-starbase-add-directly-to-fleet {
  width: 200px;
}

.ship-cloaked-summary-menu {
  border: 1px solid grey;
}

.ship-cloaked-summary-menu-wide {
  width: 350px;
}

.skr-ingame-conquest-region {
  position: absolute;
  width: 124px;
  height: 124px;
  border: 1px solid grey;
  border-radius: 62px;
}

.skr-ingame-conquest-gravity-wave-zone {
  position: absolute;
  width: 350px;
  height: 350px;
  border: 1px dashed grey;
  border-radius: 175px;
}

.skr-ship-details-headline {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 575px) {
  .skr-ship-details-headline {
    flex-wrap: wrap;
  }
}

.skr-ship-stats-details-table-wrapper {
  width: 100%;
  margin-left: 1rem;
}

.ship-bar-details {
  height: 15px;
}

.ship-bar-details > div {
  height: 15px;
  width: 100%;
}

.skr-ingame-selection-panel-item {
  max-width: 550px;
  width: 100%;
}

@media (min-width: 430px) {
  .skr-ingame-selection-panel-item {
    min-height: 165px;
    max-height: 280px;
  }
}

@media (min-width: 577px) {
  .skr-ship-stats-details-table-wrapper {
    max-width: 340px;
  }

  .ship-bar-details {
    width: 60%;
  }
}

@media (min-width: 490px) and (max-width: 576px) {
  .skr-ship-stats-details-table-wrapper {
    max-width: calc(100vw - 235px);
  }

  .ship-bar-details {
    width: 50%;
  }
}

@media (min-width: 430px) and (max-width: 489px) {
  .skr-ship-stats-details-table-wrapper {
    max-width: calc(100vw - 210px);
  }

  .ship-bar-details {
    width: 40%;
  }
}

@media (max-width: 429px) {
  .skr-ship-stats-details-table-wrapper {
    max-width: 100%;
  }

  .skr-ingame-selection-panel-item {
    min-height: 295px;
    max-height: 330px;
  }
}

@media (min-width: 350px) and (max-width: 429px) {
  .ship-bar-details {
    width: 50%;
  }
}

@media (max-width: 349px) {
  .ship-bar-details {
    width: 40%;
  }
}

.tutorial-tab-highlight {
  border: 2px solid red;
  border-radius: 50px;
  height: 44px;
  width: 44px;
  position: absolute;
  left: 5px;
  top: -5px;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
}

.tutorial-starbase-highlight {
  right: 43px;
  left: unset;
  top: 10px;
}

.skr-ship-details-image-wrapper {
  width: 150px;
}

.skr-ship-open-fleet-button {
  padding-left: 5px !important;
  padding-right: 0 !important;
}

.skr-fleet-fuel-group {
  border: 1px solid var(--color-theme-border);
  border-radius: 4px;
  margin-top: 1rem;
}

.fleet-group-head {
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding: 0.5rem;
  justify-content: space-between;
}

.fleet-group-head .form-range {
  width: 220px;
}

.fleet-group-head .btn-primary {
  margin-right: 1rem;
}

.fleet-group-head .collapser {
  padding-left: 0.4rem;
}

.fleet-group-head .collapser i {
  pointer-events: none;
}

.fleet-group-body {
  border-top: 1px solid var(--color-theme-border);
  padding: 0 0.5rem 0.5rem;
}

.fuel-ship-item {
  padding-top: 0.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.fuel-ship-item img {
  height: 50px;
  cursor: pointer;
}
